[2020-12-06 09:41] eddiejaoude commented on #323
@AkshayaKulasekaran that is fine, we need to make it easier for people without having to go have a "good" look for it. Any suggestions on where people first look?

[2020-12-06 09:46] eddiejaoude commented on #320
A new PR is needed, it was not included in #307

[2020-12-06 09:47] eddiejaoude commented on #354
I agree it needs to be made clearer 👍

Especially what strings need to be included in the config for the words to be ignored, here is the link to the library that Alexjs uses https://github.com/retextjs/retext-equality/blob/main/rules.md

[2020-12-06 10:01] eddiejaoude commented on #316
Ideally we want all the template files in the `template` repo, then with a GitHub Action we can sync them to all our organisation repos

[2020-12-06 10:03] eddiejaoude commented on #363
Thank you for testing 👍

[2020-12-06 10:08] mikeysan commented on #206
Great question @BOLT04. When I first proposed this, I was under the illusion that the notice we got in the livestream channel gave us a headsup on when Eddie would be going live. My idea, at the time, was that things happen in that channel and we quickly lose track of the notification. I therefore proposed that we could type ```^time``` or ```^stream``` and would get a reminder.

The livesteam cha

[2020-12-06 10:48] eddiejaoude commented on #365
Thank you for raising 👍

[2020-12-06 10:53] eddiejaoude commented on #206
I also need to get better at having a schedule 🤦‍♂️

[2020-12-06 10:53] eddiejaoude commented on #67
LOL 😂

[2020-12-06 10:56] eddiejaoude commented on #263
We still need this StaleBot 🤓

[2020-12-06 10:56] eddiejaoude commented on #136
Sorry Stalebot, I will fight you for another month, we still need this 🤓

[2020-12-06 10:58] #365 closed

[2020-12-06 14:11] Vyvy-vi commented on #342
Potential fix:
https://docs.github.com/en/free-pro-team@latest/actions/reference/events-that-trigger-workflows#pull-request-events-for-forked-repositories

[2020-12-07 06:00] GoluffyxD opened #372 "Feat: Add custom embed colors to messages"
## Feature Request
The embeds made by Eddiebot are currently blue only and custom color embeds can be used to make embeds look more colorful and insightful.
### Screenshots of current Embeds:
![Image](https://user-images.githubusercontent.com/62864373/100939137-cdea3700-351b-11eb-9290-b9b1526e3399.png)
For details regarding the discussion: https://github.com/EddieJaoudeCommunity/support/discussion

[2020-12-07 14:51] mstanciu552 commented on #372
We should decide on colors for each command.
For example:
[code]

Please add more colors if you have any idea because i am out of ideas.

[2020-12-07 15:24] Vyvy-vi commented on #372
hmm perhaps we could colour code them in groups according to functionality?

bio, roles, iam: colour 1 (personalisation)
support, issue, coc, tips: colour 2 (github/opensource) -> github-gray or some other colour
help embeds, reminder embeds: colou3 (utils)
alexjs, error_embeds: red (flags/negation)
system messages- green/red (logs)

(we could use some nice colour pallets from [Coolors colour pall

[2020-12-07 15:29] mstanciu552 commented on #372
Good idea grouping them by functionality.
I will try to find a solution for this and make a PR but it might take a couple of days because of college. 😄

[2020-12-07 19:57] mstanciu552 commented on #372
I may have an idea for this new feature.
As you can see the defaultEmbed function does not have any parameters and we could add a color parameter as such:
[code]

Any thoughts on the matter?

[2020-12-08 02:37] AllanRegush commented on #372
Maybe, have a default parameter?

Like this:
[code]

[2020-12-08 05:22] ChinmayMhatre commented on #238
I would like to make the changes!

[2020-12-08 10:10] eddiejaoude commented on #238
Awesome, thanks @ChinmayMhatre . I have assigned the ticket to you 🤓

[2020-12-08 10:12] eddiejaoude commented on #372
This is coming along great 👍 . Awesome team work 💪

I think grouping the colours makes sense 👍

[2020-12-08 10:27] mstanciu552 commented on #372
Yep really good teamwork 👍 .
So the default color is this blue `#0099ff`.
The color for alerts(such as alexjs, errors) could be this **red** `#e84118`.
The color for system messages could be this **green** `#4cd137`.
The color bio, roles, iam could be **amber** `#ffc200`.
The color for support, issue, coc, tips could be **github-gray** `#ffffff`.
The color for help embeds, reminder embeds could be

[2020-12-08 10:39] #358 closed

[2020-12-08 10:45] eddiejaoude commented on #354
Can this now be closed? https://github.com/EddieJaoudeCommunity/EddieBot/pull/370

[2020-12-08 10:46] eddiejaoude commented on #320
Can this now be closed? https://github.com/EddieJaoudeCommunity/EddieBot/pull/370

[2020-12-08 10:55] #354 closed

[2020-12-08 10:56] eddiejaoude commented on #342
I think you are right, that should fix it 👍 - lets try it 🤓

[2020-12-08 12:16] mstanciu552 commented on #320
Yes it can. I added some documentation in README.md on how to do this.:+1:

[2020-12-08 17:53] mstanciu552 commented on #372
New problem for this Issue.
I already posted the `defaultEmbed()` function, but there are some messages not being sent with this I think:

![commandHandler/help.ts](https://user-images.githubusercontent.com/34579048/101521500-9c93c000-398e-11eb-8a1f-96a89f05f740.png)

![commandHandler/bio.ts](https://user-images.githubusercontent.com/34579048/101521647-c9e06e00-398e-11eb-9bba-b1fbb2aa278b.png)
I d

[2020-12-08 19:20] Vyvy-vi commented on #206
Just noticed... A form of this was the first issue on this repo [EddieBot #1](https://github.com/EddieJaoudeCommunity/EddieBot/issues/1)

The discussions there also provide some nice inputs for this

[2020-12-09 04:23] ChinmayMhatre commented on #238
Made the changes !

[2020-12-09 12:31] Vyvy-vi commented on #358
The all-contributors badge has to be removed, right?

[2020-12-09 13:22] Vyvy-vi commented on #372
we'll have to use `.setColor()`

[2020-12-09 15:47] dumbcoder7 commented on #337
Found one more:
![image](https://user-images.githubusercontent.com/43912470/101651747-68d69a00-3a63-11eb-8ed5-e5ab6af8fdf9.png)

I wonder if it is even reparable. Cuz when we split based on spaces, such characters will be associated with the word. If we consider flagging substrings even words like `they` will be flagged because the substring `he` is present in it.
Another way is to completely igno

[2020-12-09 15:50] Vyvy-vi commented on #337
I guess it is, for now, we could just strip off punctuation from the sentence and then join all the words with spaces in between

[2020-12-10 12:13] eddiejaoude commented on #320
great thanks 👍

[2020-12-10 12:13] #320 closed

[2020-12-10 13:22] RaisinTen commented on #295
Ayye, we still need tests, not stale! :smiley:

[2020-12-10 17:16] AkshayaKulasekaran commented on #323
@eddiejaoude, I think most would look at the first few lines of README.md, then hop onto CONTRIBUTING.md

I'd suggest adding an intro to the readme. We needn't draft up a new one, we could just put this one at the top -
![image](https://user-images.githubusercontent.com/61582763/101805980-6777a100-3b39-11eb-808b-aeb9c0a03abc.png)

-rephrase it, and add in a link to the Support repo

[2020-12-10 18:59] BOLT04 commented on #218
This was merged, so I'll close this issue. Thank you @AllanRegush for reporting it 👍

[2020-12-10 18:59] #218 closed

[2020-12-11 11:52] mstanciu552 commented on #337
Also -<word>- and '<word>' and (<word>) and <word> and {<word>} aren't taken into consideration.

Still testing, but i think we have to check for non-alphabetical characters in the words and if a word is in between we send that to **alexjs**.

[2020-12-11 11:56] Vyvy-vi commented on #337
Can I work on this ?
or perhaps we could team up on this? 🙃

[2020-12-11 11:57] mstanciu552 commented on #337
You can work on this and if you need any help i am here.
Super loaded with school next week and this weekend.

I'm gonna do more open source in the upcoming vacation. 😄 😋 👍

[2020-12-11 23:16] BOLT04 commented on #337
@Vyvy-vi I've assigned it to you, but you can both work together 😃.
Thank you all for wanting to work on this and improve our word filter feature 👍 👍

[2020-12-12 16:16] mstanciu552 commented on #297
So what you want is a section in the README.md of this repo with the links and an introduction to them, right?

[2020-12-13 12:39] Vyvy-vi commented on #113
I think this is still needed Stale-bot 🤓

[2020-12-13 12:39] Vyvy-vi commented on #170
I think this is still needed. (However, when we switch to mongo, this won't be much of a trouble)

[2020-12-13 13:52] jveer634 opened #378 "Feature Update : Codeblocks for usage in errorembedd"
### Description of issue:
**Catagory**: Feature request/bug

**Brief Description**: Eddiebot's Command Error message embeds, suggest a `Usage` case of the particular command telling the user about how to use the command when things like bad arguments or missing arguments are passed. This Usage field is plain text, and it would be of much more utility if it was emphasized via  `code-blocks`.

### A

[2020-12-13 13:58] ChinmayMhatre commented on #378
I would like to work on this issue

[2020-12-14 02:06] #67 closed

[2020-12-14 03:45] #238 closed

[2020-12-14 03:57] ChinmayMhatre opened #380 "Docs : Add link to the discord.js Docs in Readme"
This is a  continuation to the discussion on pr #373  .
The suggestion was made by  @BOLT04  to do the following :

create a new section above `Discord Gateway Intents` with: `## Documentation`. Then add something like `##Resources` and then a list with general resources for all our documentation. That link would be an item of this list 😃.

[2020-12-14 13:11] ChinmayMhatre commented on #378
@Vyvy-vi  could you confirm the first method you suggested . I feel like there is an extra backtick

[2020-12-14 13:21] Vyvy-vi commented on #378
I think it should work 🤔
Maybe try out in one command?

[2020-12-14 13:26] ChinmayMhatre commented on #378
@Vyvy-vi  how do I test it though?

[2020-12-14 13:29] Vyvy-vi commented on #378
You would have to setup the bot using instructions from the README

Alternatively, if that is a problem to setup, you could push the changes to your fork and someone here could test it out locally 👍

[2020-12-14 13:40] ChinmayMhatre commented on #378
For the time being , I'll just create a pr for one command in a bit . could you test it out?

[2020-12-14 13:41] Vyvy-vi commented on #378
yes I can do that 👍  :)

[2020-12-14 23:41] mstanciu552 opened #383 "Embed colors not showing"
**Description**

Different types of embeded messages should have different colors, but they do not.

**Screenshots**

**Additional Context**

There are multiple commands that should have colors from the `COLORS` object, yet they do not display.
I set up said functionality, but it does not appear to be working.
Could anybody  that is familiar with the `discord.js` library check this out?

Join Eddi

[2020-12-15 00:20] AllanRegush commented on #383
I pulled down the latest commit - it's working on my test bot.

![Screenshot_20201214_181534](https://user-images.githubusercontent.com/17693494/102151580-bfafeb00-3e38-11eb-8aae-04038e3398a9.png)

Is the issue local on your test server or on Eddie's discord?

For new changes, Eddie has to pull down the latest source and deploy the bot. This process is not automated yet.

[2020-12-15 07:46] mstanciu552 commented on #383
Oh great. It was working on my machine too, but not on discord.
Thanks for the info.
I will close this.

[2020-12-15 07:46] #383 closed

[2020-12-15 11:43] jasontwuk opened #384 "openSourceResources.md is not displayed properly"
**Description**

`openSourceResources.md` in the `tips` folder is not displayed properly.
The code is in a `code block`, so the render result (please see the image below) is off.

**Screenshots**

![screenshot](https://user-images.githubusercontent.com/13745974/102210645-5a0c3f00-3eca-11eb-9e96-de8e61888c7f.png)

**Additional Context**

Join Eddie's discord community [here](https://discord.com/inv

[2020-12-15 16:06] stemount commented on #361
I'm gonna completely blow up the technical complexity here... (the opposite of a developer ;))

@Vyvy-vi @eddiejaoude @metaverde great issue idea! I know we should be moving away from using the database wherever possible, how about this as an enhancement:

Users will know how to edit/delete messages in Discord and they're more unlikely to know the correct bot command to remove a message.

I know t

[2020-12-15 16:16] stemount opened #385 "Refactoring of a Promise.all() in opensource.ts"
There's an improvement available here (ideal for first-timers with Promise)

https://github.com/EddieJaoudeCommunity/EddieBot/blob/develop/src/commandHandlers/tips/opensource.ts

[code]

It is possible to do something like:

[code]

[2020-12-15 16:30] stemount opened #386 "The `^bio @username` command embed could use inline fields so it does not waste screen estate."
A number of EddieBot features have got super long recently, so this could be split off to other things (Create issues!)

There is quite a lot of space used when the bio command is used and this may fill entire screens (think iPad, small screen laptops with less than 800px height

<img width="657" alt="image" src="https://user-images.githubusercontent.com/150512/102241584-08c37600-3ef1-11eb-8399-35

[2020-12-15 16:33] Vyvy-vi commented on #361
There's a small issue with this
The bot deletes the user's message when it gives the standup embed card

[2020-12-15 16:35] stemount commented on #344
Let's not get EddieBot 2 years in jail for using/distorting Discord's logo ;)

[2020-12-15 16:43] Vyvy-vi commented on #344
We could perhaps change the background discord logo with a chatblob or something?

Or perhaps the "Bot" font can be replaced with
![iconic bot symbol](https://cdn.discordapp.com/emojis/596576775555776522.png?v=1)

[2020-12-15 16:45] stemount commented on #323
@EddieJaoudeCommunity/coreteam I think ^support, ^tips and ^faq could be consolidated into one.

[code]

[2020-12-15 16:47] Vyvy-vi commented on #386
There's a small issue with inlining(insights from the past edits in eddiebot's embeds):
The inlining doesn't work on mobile phones(so this fix would work for only a few ppl)

[2020-12-15 18:26] AllanRegush commented on #380
PR for this issue #381 has been merged. closing.

[2020-12-15 18:26] #380 closed

[2020-12-15 18:29] AllanRegush commented on #384
This is intentional this is contents of the tips command.
So when the command is ran the contents are in a code block.

We could refactor this so there is a code block added to the string before rendering.

[2020-12-15 18:31] AllanRegush commented on #372
The PR for this feature has been merged. Closing.

[2020-12-15 18:31] #372 closed

[2020-12-15 18:33] AllanRegush commented on #361
This is what I was thinking @stemount. But didn't want to purpose this until the api was in use.

I think we should user id instead of message id. Then only the user can update the message.

[2020-12-15 18:36] AllanRegush opened #387 "documentation in the readme is getting large"
The documentation in the readme is getting a bit large. Should we move to GitHub wiki or create our own documentation page hosted on GitHub pages?

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2020-12-15 18:38] Vyvy-vi commented on #361
We might not need to store the message data in the db (I think)
We could fetch the message object using the `embed_message id` (and fetch the user-id from the message content's footer)

[2020-12-15 20:50] jasontwuk commented on #384
Thank you for the explanation.
Yes, it makes sense to refactor it.

[2020-12-15 21:53] BOLT04 commented on #387
yes, I think we should move some docs outside the README, to organize it a bit better. Using the wiki is fine, but perhaps people don't look for it that much 🤔... or maybe just a docs folder with the markdown files.

However we decide to do it, I think it's a good idea 👍

[2020-12-15 22:00] BOLT04 commented on #385
Not sure if this syntax is fine with Prettier, but we could also remove the arrow function and just pass the function to `map` 😃
[code]

[2020-12-15 22:00] Vyvy-vi commented on #387
This is a great idea 👍
Perhaps we could use a tool to link docs made in a folder with docs on a github Pages site?
(or we could make our own action that updates the github pages source files with data from the `docs` folder)
hosting on GitHub pages

[2020-12-15 22:41] BOLT04 commented on #297
Hi @mstanciu552, my bad I didn't specify that on the issue description, thank you for asking 😃. I edited it to explain I was just suggesting adding links to the `openSourceResources.md` we have on this repo.

On the support repo there is a new tips folder, and maybe these open source resources could be moved there in the future 👍

[2020-12-15 22:45] stemount commented on #385
@BOLT04 EXACTLY!!!!!!!!!!!! Open Source works! Other people can improve on your code suggestions!

What a revelation!!

Only trolling. Absolutely, this looks really neat now. ^^^^^

[2020-12-15 22:46] BOLT04 commented on #170
@Vyvy-vi you're right, but I think we could keep a diagram for the model on MongoDB. This type of documentation also helps contributors to know what is being saved on the DB, imo.

[2020-12-15 22:49] mstanciu552 commented on #297
Alright I will add them tommorow morning!
Thank you for the help! :yum: :+1:

[2020-12-15 22:56] stemount commented on #386
Oh really @Vyvy-vi? Damn, that is a upstream problem, I'm wondering why Discord would mess that sort of stuff up...

Looks like it's plagued with issues. :-(

Sources:
https://support.discord.com/hc/en-us/community/posts/360043685992-Inline-embed-fields
https://support.discord.com/hc/en-us/community/posts/360055257352-Make-inline-fields-in-embeds-more-customizable
https://www.reddit.com/r/discorda

[2020-12-15 22:58] stemount commented on #387
@Vyvy-vi @BOLT04 @AllanRegush I haven't checked that in a while.

Yes, if we printed this on A4 we would need an entire ream of 500 sheets of paper.

I'd suggest we can totally cut half of the README at this point https://github.com/EddieJaoudeCommunity/EddieBot#standardized-code-formating

[2020-12-15 23:20] nhcarrigan commented on #387
This is an exaggeration, right?

[2020-12-16 07:07] Vyvy-vi commented on #170
True. (by this won't be a problem, I meant that when we switch to mongo, we'll be changing the diagram anyway, since some changes might be underway)

[2020-12-16 14:11] stemount commented on #387
I've been caught! Yes :-P

[2020-12-16 16:11] nhcarrigan commented on #387
I do think a lot of the README could actually be moved in to the CONTRIBUTING file. IMHO, the README should be how to *use* the app, where the CONTRIBUTING should be how to *contribute*.

I'm also in full support of building an actual documentation website - I've done [something similar for my own bot](https://beccalyria.nhcarrigan.com).

[2020-12-16 17:29] Vyvy-vi commented on #387
I think the README contained the details since many first-time contriuters might not read the CONTRIBUTING file
Though I also think that the README content should be added to the CONTRIBUTING (or alternatively some docs folder)

[2020-12-16 17:32] nhcarrigan commented on #387
Migrating the content to the CONTRIBUTING file and adding the following section to the README would alleviate that.

[code]

[2020-12-16 18:37] AllanRegush commented on #387
@eddiejaoude could you share your opinion?

[2020-12-16 18:44] eddiejaoude commented on #387
We can move things out of the README if it is getting too big 👍 . But please not the wiki, sorry, I think a `docs` folder is better because it is more obvious to people and changes can go via a PR.

My thoughts:
1. move relevant docs to the CONTRIBUTING file
2. move more detailed docs that goes into too much info from the README into the `docs` folder and link to it from the README

[2020-12-16 21:25] BOLT04 commented on #172
@EddieJaoudeCommunity/coreteam Hi everyone 👋, would you all agree this issue can be closed?

This was created because of the `command: opensource` label (created already in #173) that offered an opportunity to think of a convention for label names. Currently, we have these labels:
![imagem](https://user-images.githubusercontent.com/18630253/102407634-4c4adc80-3fe4-11eb-82d8-545b0f113637.png)

If w

[2020-12-16 21:34] BOLT04 commented on #323
@stemount do you mean those 3 features would be inside the command `faq`? So the change you are proposing is to create that `faq` command and it will receive one argument, which can be a string that could match to a frequent asked question, or "support" or a section of the tips feature?

[2020-12-16 21:58] BOLT04 opened #388 "Docs: Update feature list in README with Alex feature"
Hi everyone 😃, we haven't updated this list in a while and it was raised in #246 that the word suggestion feature was missing. I think we could add this to the [Features section](https://github.com/EddieJaoudeCommunity/EddieBot#-features-of-eddiebot):
- Configured words show with alternative suggestions after the user sends a message using the [Alex project](https://github.com/get-alex/alex)

What

[2020-12-16 22:04] BOLT04 commented on #316
@Vyvy-vi the PR #362 was merged, but what do you think of moving this issue to the `template` repo before closing this?

[2020-12-16 22:10] BOLT04 commented on #360
Hi @Vyvy-vi 😃, sorry but could you provide more details about the third option? I didn't understand how you propose we refactor that function, should it return something else than zero inside the `catch` clause?

[2020-12-16 22:12] BOLT04 commented on #386
oh my @stemount, you need to join the dark side cause those white screenshots hurt my eyes 😄

[2020-12-17 03:12] nhcarrigan opened #389 "Refactor Issue Command"
Currently the `issue` command takes a `title` parameter (for the title of the issue to create), then responds with a prompt for the repository to create the issue on.

The problem with this command is that it bypasses the Issue Template selection screen (which is why my issue isn't linked to a template).

I propose that the command be refactored to only take a repository, and return the link to th

[2020-12-17 03:49] AllanRegush opened #390 "docs: pull request template"
a pull request template would help out when reviewing pull requests.

[2020-12-17 09:41] Vyvy-vi commented on #360
I'm not sure how to make an alteration while keeping it parallel
Is there a way, we could check if the bot can access a channel using `channel.permissionsFor(message.guild.me).has('VIEW_CHANNEL')` before fetching messages?

[2020-12-17 11:40] mikeysan commented on #172
Yep. Looks to me like it has been fullfilled.

[2020-12-17 14:28] #337 closed

[2020-12-17 14:30] Vyvy-vi commented on #357
What if we split the message into an array, removed redundant text and then run that through alex?

[2020-12-17 16:29] ChinmayMhatre commented on #378
@Vyvy-vi  In the second solution you suggested where does the function go?

[2020-12-18 16:14] Vyvy-vi commented on #316
@BOLT04 👍
There is already an issue for this open there. @mstanciu552 transferred this to there. Great! :)
(I'm closing this, so that we all could converse there, and I'll add a summary of this brief discussion over there, so that we could all be caught up)

[2020-12-18 16:14] #316 closed

[2020-12-18 18:10] #357 closed

[2020-12-19 14:26] BOLT04 commented on #172
Thank you @mikeysan, I'll be closing this issue then

[2020-12-19 14:26] #172 closed

[2020-12-19 15:03] BOLT04 commented on #360
@Vyvy-vi yes I think something like that would work.

Something like this:
[code]
I'm just not sure if `const botUser = this.discordClient.user;` is how you get the object that represents the bot user 🤔.

Also, I found this and it might be a cool link to add to the documentation resources on our README: https://github.com/AnIdiotsGuide/discordjs-bot-guide/blob/master/frequently-asked-questions.md.

[2020-12-19 15:37] Vyvy-vi commented on #360
That would be great 👍
We could also link to the site https://discordjs.guide/ (This site is a better resource, for beginners since the official documentation is too long and confusing at times)

[2020-12-19 16:20] stemount commented on #389
That is a shame @nhcarrigan - good shout - this does improve the quality of issues, this is a valid enhancement and not something I thought much about in #227

**ticket grooming:**
1. Can we set a default issue template to fix this problem? (e.g. the bot needs no code changes)...
2. I notice that we could actually respond something better:

https://github.com/EddieJaoudeCommunity/EddieBot/issues/n

[2020-12-19 16:22] Vyvy-vi commented on #360
I think `this.discordClient.user` might get the bot's user object

[2020-12-19 16:27] stemount commented on #387
@EddieJaoudeCommunity/coreteam yeah, I'm with Eddie on this one, I disagree with github wiki feature as the code should have local documentation.

I generally have a folder structure like this
[code]

then I link from README.md, but this is just something I only really enforce on my own projects as it's my personal style, so I'm putting it up for critique and debate.

[2020-12-19 16:29] nhcarrigan commented on #389
You can't set a default template, unfortunately. And testing with that sample URL you provided, it allows issue creation on my own repositories where I have blank issues disabled (to require the use of templates).

[2020-12-19 16:31] stemount commented on #170
I am closing this because I think the MongoDB will be in an ORM that self-documents itself (e.g. it's implicit or can be generated with a graphic).

The actual database diagram is not actually so important as even firestore isn't really a relational DB.

Please feel free to reopen this issue but Stalebot is definitely going to keep closing this one.

[2020-12-19 16:31] #170 closed

[2020-12-19 16:37] Vyvy-vi commented on #389
Perhaps we could tweak this slightly and use the conventional-commit specifications while adding issue title, to find the type of issue?

[code]
and adds the relevant label to the issue?

[2020-12-19 17:04] Vyvy-vi commented on #112
Instead of using the audit log API or sorting through all that, couldn't we just use EddieBot for this?
I think we could implement the checks Nightbot is doing in EddieBot and then have EddieBot post the action in a log format in a new mods-only channel(#moderation-logs or something)?
Moreover, integrating this in Eddiebot might make more contextual clarity since Eddiebot already runs all the mess

[2020-12-19 17:36] nhcarrigan commented on #387
I do similar, with a `docs` folder. With the exception of specific files like `CONTRIBUTING.md` which go in the root.

[2020-12-21 03:44] AllanRegush commented on #390
PR was made on templates repo.

[2020-12-21 03:44] #390 closed

[2020-12-21 07:02] eddiejaoude commented on #165
thank you @alrifay for removing `no-issue-activity` 👍

[2020-12-21 07:42] eddiejaoude commented on #113
@Vyvy-vi you are right 👍

[2020-12-21 09:40] eddiejaoude opened #396 "GitHub profile progress"
Many people do not have a GitHub picture / bio / link ... - it would be good to list these and put ticks next to the ones complete, so our community profiles can stand out more

For example

- [x] profile picture
- [ ] bio
- [ ] ...

[2020-12-21 15:58] Vyvy-vi commented on #396
That would be great 👍
Should we create a new `user <discord.Member>` or `profile` command or should this be integrated into the `bio` command?

[2020-12-21 16:18] Vyvy-vi commented on #165
I think these are the required perms(I tried using minimum perms needed, though might not be accurate):
- SEND MESSAGES
- EMBED LINKS
- READ MESSAGE HISTORY(for `stats` ig)
- Manage Messages(only needed in the `#standup channel`: message delete perms)
- VIEW CHANNELS(for `stats`)
- MANAGE ROLES(for `iam`)

[2020-12-23 06:24] Vyvy-vi commented on #199
I think this issue can be closed.
The role-remove feature gave the users the ability to remove opensource subscription.

PR number that resolved this: #347
Issues where this was discussed in: #218

[2020-12-23 10:13] mstanciu552 opened #397 "More `^tips` subjects"
We should add some more subjects for the `^tips` function.

Currently, we only have **GitHub** and **Open Source** as possible arguments for the `^tips` command.

We should add more **.md** files in the tips forder and some more arguments in the commandHandler folder.

Please share your thought on what subjects we could introduce and what each should contain.

[2020-12-23 11:07] eddiejaoude commented on #372
Thank you 👍

[2020-12-23 11:20] eddiejaoude commented on #361
Sorry the API is waiting on me 🤦‍♂️

[2020-12-23 12:16] eddiejaoude commented on #323
If those commands are being combined, they could be aliases to each other?

[2020-12-23 12:17] eddiejaoude commented on #388
Yep 👍 - could this be a `good first issue`

[2020-12-23 12:19] eddiejaoude commented on #386
Even if it doesn't work on mobile, it is still an improvement for desktop

[2020-12-23 12:41] vinzvinci opened #398 "Add more command"
Add ` ^server-info` command that will show short description about the community.

 I just think this is a good idea :)

[2020-12-23 12:48] vinzvinci98 commented on #398
Those ideas @:100:

![server](https://user-images.githubusercontent.com/73097560/102997400-03ed6a80-4560-11eb-81f9-b467f6869a42.png)

[2020-12-23 12:51] Vyvy-vi commented on #386
perhaps for now, we could make this inline, and then in a later issue, we could discuss moving to formatted text in embed, rather than using embed fields.

[2020-12-23 14:55] Vyvy-vi commented on #361
perhaps for now, we could add something like:
`^standup remove <message-id>`?

[2020-12-23 14:59] Vyvy-vi commented on #323
we could alias tips to faq 👍

[2020-12-23 18:10] AllanRegush commented on #398
I'm a bit lost. :sweat_smile: What does this command do exactly? What would ^server-info output?

[2020-12-23 18:34] Vyvy-vi commented on #398
I think it gives details about the (server) Community

[2020-12-23 18:56] vinzvinci98 commented on #398
` ^server-info` or ` ^about` 🤔?

Output:

[code]

[2020-12-23 21:47] BOLT04 commented on #199
You're right @Vyvy-vi, I'll be closing this issue 👍

[2020-12-23 21:47] #199 closed

[2020-12-23 22:14] BOLT04 commented on #183
wow, I totally forgot about this issue. Thanks for the reminder stale bot 😄!

@TECHNOFAB11 this is indeed a great idea 🚀, but for someone to pick it up we need to [groom](https://www.agilealliance.org/glossary/backlog-grooming/) this issue. Right now it seems too vague for someone to start working on it.

@EddieJaoudeCommunity/coreteam what does everyone think about splitting into tasks or perhaps

[2020-12-23 22:19] BOLT04 commented on #387
@stemount is your `.readme` folder the same has `docs`? Either way, I agree with Eddie's thoughts 👍

[2020-12-23 22:39] BOLT04 commented on #397
I don't have that many ideas for subjects, but we could have `freelancing`. There are some discussions that Eddie has answered, and we could put that information on the tip command perhaps 😃

[2020-12-23 22:42] BOLT04 commented on #165
That looks great @Vyvy-vi, maybe we could add it to the docs 😃? Not sure if we should organize and close #387 first 🤔

[2020-12-23 22:49] mstanciu552 commented on #397
That sound good.
Also it was discussed in discord that we could add tips about small subjects that are related to bigger ones. Such as **Issues**, **PRs**, **Discussions** that all relate to the larger subject **GitHub**, but we could add more detailed info about them so as not to crowd the `^tips github` command.

Share your thoughts. :+1:

[2020-12-24 05:15] AllanRegush commented on #398
I've went back through the discord chat.
Here is the description:

Eddie has this posted in the `README` channel.

[2020-12-24 05:20] vinzvinci98 commented on #398
Is there already command to take that description everywhere? Or yeah no need to add this command lol sorry boss allan😆

[2020-12-24 06:02] AllanRegush commented on #398
I'm not the boss :stuck_out_tongue_closed_eyes: I'm just wondering what is the result of this output. How would this differ from what Eddie has in the `README` channel. Just trying to understand. Please bear with me 😄

[2020-12-24 08:32] Vyvy-vi commented on #165
I think we could add this after #387 is done :+1:

[2020-12-24 10:23] eddiejaoude commented on #112
Yeah we eventually could move functionality over from NightBot to EddieBot, then have more control

[2020-12-24 10:48] Vyvy-vi commented on #360
I tested this out, and that didn't work 🤔

[2020-12-24 13:47] Vyvy-vi commented on #219
#347 implemented the above.

Though, I wasn't able to reproduce this issue. (the initial bot, before #347, just reassigned the role. I think perhaps this was a config issue in the deployed bot at that time?)

[2020-12-24 13:48] Vyvy-vi commented on #24
Would this be integrated in `^bio` ?

[2020-12-24 13:50] Vyvy-vi commented on #398
I was thinking, that it would give server stats, etc.(like EddieBot UI), but perhaps we could integrate that into the `^stats` command?

[2020-12-24 13:51] Vyvy-vi commented on #24
Or perhaps we could have a server user card (another command), with all this info and profile progress?

Context:
#396

[2020-12-24 15:31] vinzvinci98 commented on #398
Just kidding 😁. The difference is, ~~you can chat that command everywhere in the text channel~~, `just adding that command to take that description from any text-channel`. Yesh I just think now this is small idea🤣

[code]

[2020-12-28 08:40] eddiejaoude commented on #396
Combining it with EddieBot would be good, people then can see what else they need to do to improve their GitHub profile 👍

[2020-12-28 09:10] eddiejaoude commented on #386
Would inline make it worse for desktop though? I guess it is a trade off?

[2020-12-28 10:02] eddiejaoude commented on #361
will that work, because the user will no longer be the owner of the message?

[2020-12-28 10:14] Vyvy-vi commented on #361
perhaps we could query the command_user's id, with the member object data in the footer of the embed?

[2020-12-28 10:16] Vyvy-vi commented on #386
inline would make it look better for desktop, and same as before for mobile, so perhaps for starters, we could inline the embed fields?

We could then arrange this in a better way in another issue?

[2020-12-28 10:19] eddiejaoude commented on #199
Thanks all, great work 👍

[2020-12-28 10:33] eddiejaoude commented on #397
Freelancing is a common question I get asked, so would be good to include 👍

I think we could add other discussions from Discord / GitHub, they do not need to be big

[2020-12-28 10:42] eddiejaoude commented on #165
Awesome @Vyvy-vi 👍

I would suggest adding it to the docs when you can, even if it makes it bigger, as it will provide benefit sooner.

It can be separated in the docs later in #387

[2020-12-28 10:48] eddiejaoude commented on #360
Oh, thanks for testing.

Can you update your list of options with what has been tried and if it did not work, something like

| Possible solution | Tested | Fixed |
| :--- | :--- | :--- |
| Give eddiebot admin perms(not recommended IMHO) | ✅  | 🚫  |
| Give eddiebot "Read Message History" access to all the channels | - | - |
| Refactor the ^stats command(stats.service.ts) to account for the scenari

[2020-12-28 10:50] Vyvy-vi commented on #360
(perhaps I could make a new list, to keep everyone up to date?)

[2020-12-28 11:20] Vyvy-vi commented on #360
| Possible solution | Tested | Fixed | Cons
| :--- | :--- | :--- | :--- |
| Give eddiebot admin perms(not recommended IMHO) | ✅  | ✅  | Admin perms give it power(terminator theme plays), servers usually tend to be cautious of giving admin privileges to bots... |
| Give eddiebot "Read Message History" access to all the channels | ✅  | ✅  | Long and cumbersome task, going through all channel perms |

[2020-12-28 16:29] mstanciu552 commented on #397
Sound like a good idea. Let's find more subjects through Discussions.

If anybody has any idea share it.

[2020-12-29 08:14] Vyvy-vi commented on #113
I think this is still needed Stale-bot 🤓

[2020-12-30 16:20] TECHNOFAB11 opened #400 "Checkmark for removing the "bad language" embed"
Adding a checkmark to be able to dismiss the message would make it possible for the author to remove it upon reading. This would clutter the chat history less.
The next step could be to check if the message which contained bad language was edited and the bad word was removed.
Depending on how many messages are edited every minute this may be a bad idea tho.

Image from Discord:
![image](https://us

[2020-12-30 19:57] Vyvy-vi commented on #400
That's a great idea!
We could have the bot react to the message with a ✅  and if the user reacts with that, the embed disappears
OR, we could leave it up to the user and not react with it beforehand(though that might lead to ppl not knowing about this feature)

[2020-12-31 06:18] Vyvy-vi commented on #183
noooo stale bot :/
(I think this is still needed)

[2021-01-01 19:51] BOLT04 commented on #197
The documentation is being worked on in this PR: #401 and the issue #323 could include questions about Discord setup.
I'll remove the `no-issue-activity` since I think we can still move a lot of the info in the [Requirements](https://github.com/EddieJaoudeCommunity/EddieBot#-requirements) section, on to questions on the FAQ 😃.

[2021-01-01 19:57] BOLT04 commented on #24
Hi @Vyvy-vi, integrating with the `bio` command is a great idea 👍, or any UI to show this information (like your user card idea)

[2021-01-01 23:21] BOLT04 commented on #219
I didn't reproduce it either, but I tested what happens if you assign a role you already have:
![imagem](https://user-images.githubusercontent.com/18630253/103447794-cdae9a00-4c87-11eb-8979-ecfb36df7c72.png)

@Vyvy-vi and @eddiejaoude, what do you think of closing this issue? The error in the issue description was probably the default, and now the text changed.

[2021-01-01 23:31] BOLT04 commented on #400
@TECHNOFAB11 removing the message to reduce clutter is a great idea 👍 ! But perhaps we should be cautious with how this is done. If the user doesn't take action and simply reacts with an emoji, resulting in the message going away, this becomes a workaround to the bot's warning.

Also, the user can edit and change its message to use words different from the recommended ones. So I think we should ru

[2021-01-02 08:06] Vyvy-vi commented on #219
yes, I think this can be closed, since #347 adds slightly more detailed messages. Maybe, we could look at this, if the problem arises again

[2021-01-02 08:10] Vyvy-vi commented on #400
That's a great idea!
I think we could fetch the old content and new content, once a message is edited.
We could run the old content with alex and check in new content has no errors.
Though not sure how we'll keep track of the bot's embeds and edit them

[2021-01-02 08:13] Vyvy-vi commented on #400
perhaps we could use the db to store:
<table>
  <tr>
  <td>wrong_message_id</td>
  <td>embed_message_is</td>
  </tr>
</table>
I think the rest of the data can be found using those two

[2021-01-02 18:43] mstanciu552 opened #403 "`^tips opensource` limits the number of characters"
As discussed in Issue #297 we should add some more links to the [openSourceReminders.md](https://github.com/EddieJaoudeCommunity/EddieBot/blob/develop/tips/openSourceResources.md) file, but the problem is that `discord.js` limits the characters this could have for the command.
Here are the [docs](https://discord.com/developers/docs/resources/channel#embed-limits). It was also discussed in this [PR

[2021-01-02 23:04] Vyvy-vi commented on #403
Sadly, discord has strict limits on the embed characters.
However, something that we might consider is pagination.

If someone isn't sure what pagination implies to, here's some context:

(the amove emojis are reactions and if the author reacts with those emojis, we could switch to respective pages, by editing the contents of the embed)
_press ⏭️ _

Moreover, since this is a pretty neat feature, w

[2021-01-03 12:45] mikeysan commented on #233
I'm guessing we still need this so I will reopen and someone can close it if I am mistaken.

[2021-01-03 13:30] TECHNOFAB11 commented on #400
@BOLT04

It probably isnt, i just often times forget how powerful (websocket) connections and handling can be :D same reason why i often times think that databases cant handle stuff im planning (they definetely can handle 10x the stuff, i just always forget that or so :D)

[2021-01-03 15:11] mstanciu552 commented on #403
This sounds interesting. Can you share a link or is it in the docs for `discordjs`?

[2021-01-03 15:26] Vyvy-vi commented on #403
I think this has to be implemented by ourselves(idk if they have helper methods to make menus)

[2021-01-03 17:54] abughurab16 opened #404 "# Add daughter/son to ignore-list"
**Description**

## as many would agree the word "Daughter" and "Son" is something most people are used to referring their "own" children to and substituting it for the word "child" is a bit over the heap. i understand the diversity of the world nowadays but this is kinda too much ..

[2021-01-03 18:10] Vyvy-vi commented on #404
IMHO, I wouldn't call it "too much", the library used by the bot(alex.js) is much more focused on flagging inconsiderate writing, and it needs a few configs to set it up for chatting(this language flagging feature is still in development and the bot loses at identifying context).
However, the library in its own right flags the word, in order to catch inconsiderate writing of this sort:
(*trigger w

[2021-01-03 18:38] eddiejaoude commented on #404
Great example @Vyvy-vi 👍 - unfortunately I think people overlook and misunderstand the importance of inclusive language. Using words like `child` is not more difficult or harder to use, in fact it has less letters 😂 .

However, I am not against adding it to our ignore list.

[2021-01-03 18:39] eddiejaoude commented on #404
But I will change the label form `bug` to `enhancement`

[2021-01-03 18:40] ApolloDev0 commented on #404
thank you, but the issue with it isn't the length(or letters) but rather the fact that it is what most people refer to their "own" children too. i find it hard to believe someone would be offended by someone else's child?

[2021-01-03 18:44] eddiejaoude commented on #404
It is more about the assumption. How many times has this happened?

- person 1: I need to pick up my child from football
- person 2: sure, go get your son and we can talk later

why is it `son`? the assumption is made football is only for boys. It is 2021, anyone can do anything and be anything they choose to be 💪

[2021-01-03 18:46] ApolloDev0 commented on #404
hmm understandable, but that example is pretty rare and pretty doubtful to happen.. but i guess people of all thoughts exist. again sorry if this is wrong of me just wanted to give my thoughts .:))

[2021-01-03 18:49] eddiejaoude commented on #404
no problem, I think your goal is correct, we should add it to the ignore list, because it is something we rarely talk about, we talk about `open source` not family stuff. But I think it is the way you wrote - something we are all always learning is how to communicate better. It is usually not what we say but the way we say it, as a lot gets interpreted differently by different people 🤓

[2021-01-03 18:50] ApolloDev0 commented on #404
should i close it then?. also thanks for the time i know you're pretty with all the opensourceroids u got going on!

[2021-01-03 18:52] eddiejaoude commented on #404
I think leave it open and we should add it to the ignore list 👍

no problem, I am always learning too, so these conversations are good to have, to help me / us understand different perspectives 🤓

[2021-01-03 19:07] eddiejaoude commented on #403
Could we limit what is displayed in Discord and add a link at the end for people to go read the full article (later on, the markdown can be converted to a webpage)

[2021-01-03 19:20] eddiejaoude commented on #400
the idea is good, but I do not think the author should be able to react and have the bot response removed, because most people will just remove it without updating their message - we have seen people not update messages most of the time. I like the idea of having the bot recheck after the message is updated, then if so removing the bot response. We could keep this simple and avoid the DB by keepin

[2021-01-03 19:23] eddiejaoude commented on #233
Thanks @mikeysan , I think you are correct 👍

[2021-01-03 19:48] mstanciu552 commented on #403
I think limiting it is possible.
I also found this while playing with the discordjs library:
![Screenshot (32)](https://user-images.githubusercontent.com/34579048/103487318-193e8080-4e0d-11eb-8324-a3c72f387785.png)
We could just set half of what we need to `.setDescription()` and the other half to `setFooter()` and there is nothing to separate them. They look the same.
So it would become descripti

[2021-01-03 19:57] eddiejaoude commented on #403
I think we will still eventually hit the limit of both combined. So it would be better in the footer to have a link to the GitHub markdown file for more information

[2021-01-03 20:14] eddiejaoude commented on #219
I am happy for it to be closed. I will let @BOLT04 close it as you are the author of the issue 🤓

[2021-01-03 20:16] Vyvy-vi commented on #403
for now, perhaps we could truncate the message and add the github link in the footer

[2021-01-03 20:18] eddiejaoude commented on #403
I think truncate and add the link is the simplest option for now and quite a good one still 👍

[2021-01-03 20:19] Vyvy-vi commented on #403
I think 1000-1200 chars should be okay(from a readability point of view, without completely filling the chatscreen)

[2021-01-03 21:03] BOLT04 commented on #360
@Vyvy-vi can you provide some information in regards to how you tested the "using a DB for the count" solution?

I'm asking because since we'll move to API calls in the future, this might be a little different. What I'm concerned about is keeping that count on our MongoDB consistent when there are multiple requests to incrementing it (this touches on [concurrency](https://docs.mongodb.com/manual/f

[2021-01-03 21:08] Vyvy-vi commented on #360
tbh, I wasn't sure about setting a new collection on firestore, so I haven't tested that on EddieBot.
However, I have tested this out on my other bot and the main issue isn't about concurrency(that is a problem ig, tho personally I haven't seen that arise), but much rather about the consistency of data... The count would be inaccurate, if the bot is offline for say a few mins.. and ppl send messag

[2021-01-03 22:06] eddiejaoude commented on #24
Nice 👍

[2021-01-03 22:07] eddiejaoude commented on #197
Thanks @BOLT04 👍

[2021-01-04 09:16] eddiejaoude commented on #183
@BOLT04 I am always in favour of splitting things to be smaller 👍

[2021-01-04 09:31] eddiejaoude commented on #113
@Vyvy-vi is this not already solved?

[2021-01-04 09:59] eddiejaoude commented on #397
Here are some other discussions that might be good to include

- Developer Advocacy /DevRel https://github.com/EddieJaoudeCommunity/support/discussions/617
- Freelancing https://github.com/EddieJaoudeCommunity/support/discussions/619
- GitHub Sponsorship https://github.com/EddieJaoudeCommunity/support/discussions/568

[2021-01-04 10:19] eddiejaoude commented on #386
Inline does look better 👍

Hopefully someone will pick up this issue and have a play 🤓

[2021-01-04 10:20] eddiejaoude commented on #361
hmm possibly 🤔 - it will need testing

[2021-01-04 10:30] eddiejaoude commented on #398
We could have an `^about` command, that gives a bit of info and includes the `#readme` to that channel for more info?

[2021-01-04 10:34] vinzvinci98 commented on #398
Yes, just a little bit of info.

[2021-01-04 13:48] mikeysan commented on #404
As possibly the one person who has been flagged multiple times when answering questions about my children, I would say yes, please add "daughter" to the ignore list. However, more importantly, we should find a way to address context.

I know it is not a library we wrote ourselves, but for the sanity of everyone using the library, there needs to be some context.

Q: I like that picture. Where is it

[2021-01-04 13:54] mikeysan commented on #400
If we are voting, I am in camp "leave the message and only remove after the offending word is changed" - if that's even a camp to vote for. 😄

[2021-01-04 13:58] Vyvy-vi commented on #400
Could we set up something like an `on message update` event listener, to see if the message was edited?

[2021-01-04 14:00] Vyvy-vi commented on #404
perhaps, we could process the content from the text through something else, before sending to Alex, to account for context ?
(not sure if there's a lib for that)

[2021-01-04 19:12] BOLT04 commented on #400
@Vyvy-vi Here it is 😃: https://discord.js.org/#/docs/main/stable/class/Client?scrollTo=e-messageUpdate.

Now we have access to the `oldMessage` and `newMessage` so the function that handles this event can recheck the new content with Alex. I agree with @eddiejaoude and we can start with a map in memory where the key is the ID of the message that caused the warning, and the value is the message id

[2021-01-04 20:31] BOLT04 commented on #183
yeah, I think we can close this issue with the PR @alrifay opened 😃since it addresses the first bullet point: "Search the support repo's issues with the GitHub API". For the rest, we'll create different issues 👍

[2021-01-05 02:47] nhcarrigan commented on #309
Sorry, stalebot, but I think this is still needed.

[2021-01-05 11:03] adityaraute opened #405 "Does not flag offensive words"
**Description**

Eddie bot flags non-inclusive pronouns, but does not flag many offensive words. It will be better if EddieBot can do it.

**Screenshots**

I can add screenshots but I will refrain from doing so as the words can be offensive. Head over to the [Discord Server's](https://discord.com/invite/jZQs6Wu) `#bot-chat` channel to find live examples.

**Additional Context**

Will add the scree

[2021-01-05 19:33] Vyvy-vi commented on #405
We could perhaps use a second library for this?
(personally, I was thinking, if we could run the message content through some sentiment classifier lib, to get more context and then send the interpretation through to alex, I think we could somehow account for this in that too 🤔 )

[2021-01-05 19:49] dumbcoder7 commented on #405
Would be too heavy to do that according to me. A bot should not  be burdened with so much as we need quick responses especially in this case.

[2021-01-05 19:53] Vyvy-vi commented on #405
oh :+1:
Maybe (though I'm not sure about this), we could add an extra `RESTRICTED_WORDS_LIST`, in the config.ts file, and regex these to the message content, in order to check text that isn't flagged by alex?

(*Is there a way to add a project-specific word to alex-ban-list?)

[2021-01-05 23:36] Vyvy-vi commented on #398
We could then, in the future also add an optional arg to `^about`, and add tags for some server stuff in there

[2021-01-05 23:40] Vyvy-vi commented on #113
I think this is waiting on the API and mongo

[2021-01-05 23:46] Vyvy-vi commented on #233
(I think we discussed a few ideas about this...)
Since, we can't detect all the timezones(since that would end up displaying a long list), perhaps this could be made into a command(making the conversion intentional, rather than accidental), and perhaps add a few custom features to it(like more args to convert to only one timezone OR some pagination)

[2021-01-06 10:44] Utkarsh299-tech opened #407 "Add the word "easy" to the ignore list"
**Description**

**Screenshots**

<img width="536" alt="eddiebot" src="https://user-images.githubusercontent.com/60184229/103759658-18d6fd00-503a-11eb-8d6b-d66c28087697.png">

**Additional Context**

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-01-06 11:35] eddiejaoude commented on #405
What about something like this https://github.com/web-mech/badwords#readme

[2021-01-06 11:58] Vyvy-vi commented on #405
That looks interesting :+1:
Though, since we're considering adding another library, it reminds me of something @nhcarrigan said in the discord server
![Screenshot 2021-01-06 at 5 17 00 PM](https://user-images.githubusercontent.com/62864373/103765321-02816f00-5043-11eb-8966-d7274cddf066.png)
Is that a viable option? 🤔

[2021-01-06 12:19] dumbcoder7 commented on #405
Whatever we use, we need to have a distinction between non-inclusive pronouns and profane language. Can't judge them the same neither can we react to them similarly.
- We can flag non-inclusive language and issue a request to the user to be more inclusive.
- With profanity, we should issue warnings and delete the message, or at least the offensive content immediately. I would recommend an absolute

[2021-01-06 13:05] #407 closed

[2021-01-06 13:09] eddiejaoude commented on #405
we used to have one that was custom built, but I think using library that has been used before is probably a better starting point.

I agree with @dumbcoder7 that "no tolerance" is best for bad language and there are 2 actions.

My thoughts are:

- leave the alexjs feature as it is, it is warning and no action is taken (I think it is orange the bot response)
- add another feature that uses a libra

[2021-01-06 13:13] dumbcoder7 commented on #405
We can code this ourselves as well as use the [Bad Words](https://github.com/web-mech/badwords#readme) library here that you mentioned before. What do you reckon?

[2021-01-06 13:24] eddiejaoude commented on #405
We will have to integrate the library, so we will have to write code, but the less code we right about the profanity part the better and let the library do the heavy lifting

[2021-01-06 13:28] dumbcoder7 commented on #405
I meant coding the entire mechanism and only picking the 'bad' words from the library. But sure, no reason to overwork ourselves.

[2021-01-06 14:51] nhcarrigan commented on #405
To clarify, if we scrap Alex.js and write our own parser, we could:
- Have full control over the response for each flagged word (so the bot could respond to profanity one way and gender exclusive language another)
- Have full control over which words are flagged

[2021-01-06 14:56] eddiejaoude commented on #405
We originally started off with our own parser. Now seeing both ways of doing it, I definitely believe using AlexJS is the better options - then we can add to its ignore config for the ones we don't want flagged (this is a great green square for people too)

[2021-01-08 17:56] Vyvy-vi commented on #405
There's a new discussion [#656](https://github.com/EddieJaoudeCommunity/support/discussions/656) that discusses about using nlp, (I'm linking here, so that perhaps we could get some context from there as well)

[2021-01-09 09:34] amankr1619 commented on #388
Hey @BOLT04, This issue was raised several days ago, and since I have not contributed to this repository, will it be ok to go on with this issue as my first PR.
Just the features section in README has to be updated with the above text?

[2021-01-09 12:04] Vyvy-vi commented on #388
go on @amankr1619 👍  :)

[2021-01-10 07:12] dumbcoder7 commented on #405
Guys, I appreciate the discussion, but a methodology to remove obviously offensive words needs to be put in place ASAP. EddieHub is growing and with more members, we don't want exposed vulnerabilities. NLP and contextual flagging can be a secondary issue but the `bad words` library should be implemented quickly in my opinion.

[2021-01-10 13:26] Vyvy-vi commented on #405
I think we could look at alex(or the library it uses `retext`) and implement the bad-word-flags from there(or if not, we could use regex on some bad-word-list from google)

[2021-01-10 15:08] dumbcoder7 commented on #405
I prefer the latter, but sadly I currently do not have the time or knowledge to implement this feature. Would request whoever can, to add it as soon as possible.

[2021-01-10 16:06] amankr1619 commented on #388
Hey, Can anyone review the changes

[2021-01-10 16:53] #388 closed

[2021-01-11 07:05] ApolloDev0 opened #410 "Add Nim language"
this is a pretty biased request .. but i would like the nim language to be added to the role's on the discord server

[2021-01-11 12:16] Vyvy-vi commented on #410
`go` too perhaps 🙃

[2021-01-13 18:13] ApolloDev0 opened #413 "Update Bot Embed"
**Description**
the embed for the **roles** command is displaying the wrong example to use.
the error example is:
[code]
the real example should be
[code]

[2021-01-13 18:13] nhcarrigan commented on #413
Thanks for opening this!

[2021-01-13 18:14] ApolloDev0 commented on #413
thanks for giving me the opportunity too!!

[2021-01-14 16:06] okutewonah opened #414 "Bot does not flag 'guyz'"
**Description**

So many times EddieBot flags the word `guys`, but recently `guyz` was used. Different spellings although they both sound exactly the same.

**Screenshots**

![Annotation 2021-01-14 180346](https://user-images.githubusercontent.com/46255601/104616562-19534180-5693-11eb-8fb8-307e9478cc41.jpg)

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-01-15 03:27] hernandoagf commented on #413
Is there someone working on this or can I create a PR?

[2021-01-15 14:36] eddiejaoude commented on #405
Yep, something simple and sooner is best 👍

[2021-01-15 14:51] eddiejaoude commented on #410
Sure these can be added 👍 - once there is a PR, I can create the roles on Discord

[2021-01-15 17:46] amankr1619 opened #415 "Fix the broken link in allowedwords.md"
As few files were moved to `docs` folder, few days ago, the `src/config.ts` link in [allowedwords.md](https://github.com/EddieJaoudeCommunity/EddieBot/blob/develop/docs/allowedwords.md) returns a '404 Not Found Page'. FIx this broken link.

[2021-01-15 19:30] BOLT04 commented on #413
Hi @hernandoagf 😃, I believe no one is working on it since it has no assignee.
I'll assign you this issue and you can create a PR if you want 👍

[2021-01-15 19:54] #219 closed

[2021-01-15 19:54] BOLT04 commented on #229
this is still very cool bot

[2021-01-15 19:56] BOLT04 commented on #387
@AllanRegush this should have been closed with the PR #401 right? Can we close it?

[2021-01-15 23:58] hernandoagf commented on #413
Hi @BOLT04 ! Ok, thank you, I will 👍

[2021-01-16 05:01] musavveer commented on #414
I would like to work on it

[2021-01-16 05:55] #413 closed

[2021-01-16 05:56] AllanRegush commented on #387
I think there is more do yet. We should move some parts of the `README` to `contribution.md`

[2021-01-16 17:39] #415 closed

[2021-01-16 19:17] BOLT04 commented on #387
ahhh true, thanks for reminding me 👍 @AllanRegush
What sections would you say we should move to `contributing.md`? Maybe `Standardized Code Formating`, `Using Commitizen for commits` and logging perhaps?

[2021-01-16 19:20] BOLT04 commented on #414
Hi @musavveer 😃, I'll assign you this issue 👍

[2021-01-17 18:27] BOLT04 opened #418 "Refactor: Create a separate module for calls to the GitHub API"
I love this idea 👍 😁, we already have some duplication in this PR in [src/commandHandlers/issue.ts#L8](https://github.com/EddieJaoudeCommunity/EddieBot/blob/ac2e28f170e0dbf602d3b5186b2ffa29d209211f/src/commandHandlers/issue.ts#L8-L25) and [src/commandHandlers/support.ts#L67](https://github.com/EddieJaoudeCommunity/EddieBot/blob/ac2e28f170e0dbf602d3b5186b2ffa29d209211f/src/commandHandlers/support.t

[2021-01-17 18:28] galahad42 opened #419 "Add "Superman" and "hero" to ignore list."
**Description**

`Superman`, `Superwoman` and `hero` are being flagged.

I think superman and supergirl and all comic book characters could be added to the exemption list
**Screenshots**

![image](https://user-images.githubusercontent.com/59364507/104852233-b2968800-591f-11eb-8957-72c4ab5c623f.png)
![image](https://user-images.githubusercontent.com/59364507/104852242-c9d57580-591f-11eb-86e3-6598f2

[2021-01-17 18:54] galahad42 commented on #419
Or better add it to ignore list

[2021-01-18 09:19] eddiejaoude commented on #113
I think this was closed by the bot, by mistake, I have reopened

[2021-01-18 16:57] amankr1619 opened #420 "Add "moan" to ignore-list"
**Description**

"moan" is flagged and should be added to exemption-list.

**Screenshots**

![Screenshot from 2021-01-18 22-24-24](https://user-images.githubusercontent.com/53134669/104943688-24340c00-59dc-11eb-8f97-1d1f76725352.png)

**Additional Context**

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-01-19 09:23] Vyvy-vi opened #421 "Add more issue Templates"
There is currently only 1 issue template, and IMHO this can cause confusion to people when they're opening an issue(esp. if this is their first time).

## ScreenShots:
![Screenshot 2021-01-19 at 4 21 03 AM](https://user-images.githubusercontent.com/62864373/105014048-f2678780-5a65-11eb-8e92-9171cac19748.png)

## Possible solutions:
- Remove the Bug issue template
OR
- Add issue templates for other

[2021-01-19 10:12] Vyvy-vi commented on #418
That would be great :+1:

[2021-01-20 07:55] mainak-debnath commented on #419
Hi! I would like to work on this issue.

[2021-01-20 11:10] Vyvy-vi commented on #410
I think this issue can be closed, since the PR related to this was merged. (#411)

[2021-01-20 11:14] eddiejaoude commented on #410
Yep 👍 - thanks @Vyvy-vi

[2021-01-20 11:14] #410 closed

[2021-01-21 07:09] virenkhandal commented on #420
should be fixed in: https://github.com/EddieJaoudeCommunity/EddieBot/pull/425

[2021-01-21 07:10] Vyvy-vi commented on #420
can you text this in the pull request's description field ?:
closes #425

(this would help in automatic closing of this issue, once the pr is merged)

[2021-01-21 07:12] virenkhandal commented on #420
done :D

[2021-01-21 18:59] #420 closed

[2021-01-23 20:15] AllanRegush opened #427 "Add latino to allow list"
**Description**
Add latino to the allowlist.

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-01-23 21:06] #427 closed

[2021-01-26 14:54] hernandoagf commented on #233
I think the command is the best solution to avoid cluttering the channels. Maybe we could use both, the auto-detection with the main timezones, say 1 per continent, and also the command in case someone wants to make the conversion to their specific timezone.

[2021-01-26 15:12] eddiejaoude commented on #233
I learnt recently that people can DM the bot, I wonder if the reply from the bot is kept quite small, but also includes instructions to DM the bot with a command and a specific timezone they would want, then the bot replies to that DM

[2021-01-26 18:55] schmelto opened #429 "Iam add Java duplicate"
**Description**

When role assignment fails. Java is duplicated.
May it also would be nice if the roles are sorted.

**Screenshots**
![Screenshot_20210126_195148_com discord~3](https://user-images.githubusercontent.com/30869493/105890959-4fd47900-6010-11eb-9f6a-7e563505fbf8.jpg)

**Additional Context**

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-01-27 06:57] Vyvy-vi commented on #429
good catch-! 😱

[2021-01-27 09:26] schmelto commented on #429
Can I take care of this topic? The only question is where can I find the role assignment. The way I see it, it should be in `discord.js`, since the role is defined here, but I can't find it.

[2021-01-27 09:32] Vyvy-vi commented on #429
@schmelto Maybe have a look at the `config.ts` files, those might contain a list of assignable roles, and may have this duplication

[2021-01-27 09:44] eddiejaoude commented on #429
Great spot @schmelto 👍
@Vyvy-vi is correct, it is in the config twice, on line `128`

https://github.com/EddieJaoudeCommunity/EddieBot/blob/7e8916c17765438daf7bf93e748c52cb3a5da6d9/src/config.ts#L128

and line `141`

https://github.com/EddieJaoudeCommunity/EddieBot/blob/7e8916c17765438daf7bf93e748c52cb3a5da6d9/src/config.ts#L141

[2021-01-27 19:04] #429 closed

[2021-01-28 09:57] eddiejaoude commented on #229
I started using CodeSpaces more, and with ngrok, I can allow people to access it too 🎉

[2021-01-28 09:59] eddiejaoude commented on #413
Thank you all 👍

[2021-01-28 10:03] eddiejaoude commented on #415
Thank you all 👍

[2021-01-28 10:05] eddiejaoude commented on #387
Sounds good, the standards used make sense 👍

If too much gets moved, it can always be moved back if needed

[2021-01-30 23:45] eddiejaoude commented on #421
I agree 👍 , 1 template is confusing. What other templates could we have?

- Ideas
- Bugs
- Docs

[2021-01-30 23:50] eddiejaoude commented on #418
Oh nice 👍 . Sounds good 🤓

[2021-02-02 15:58] Vyvy-vi commented on #419
@galahad42 Was there some particular reason to close the issue?
I think it would be automatically closed if and when the PR gets merged

[2021-02-02 16:09] galahad42 commented on #419
Oh I didn't see the Merging was blocked. I thought it was already resolved.

[2021-02-02 18:41] Nitesh-thapliyal opened #435 "Add Motivational Quotes"
Daily one Motivation Quotes from the Stars of our Community will keep us motivated and positive to make more contribution⭐

[2021-02-02 18:52] #435 closed

[2021-02-02 19:23] Vyvy-vi commented on #405
I'm interested in working on this 🙃

[2021-02-02 19:32] eddiejaoude commented on #405
AlexJS uses a profanity filter, I think we have the [config](https://github.com/get-alex/alex#configuration) incorrect

- https://github.com/words/cuss
- https://github.com/retextjs/retext-profanities/blob/main/rules.md

[2021-02-02 19:34] nhcarrigan commented on #405
We have the `profanitySureness` set to 2, which is the minimum level of flagging - we could try bumping it to `1` to see if it catches more.

[2021-02-03 16:55] kenkirito opened #437 "EddieBot crashes"
**Description**

EddieBot crash shows the error below

[code]

[2021-02-03 23:46] #345 closed

[2021-02-04 02:04] nhcarrigan commented on #334
Err, I'm fairly certain this is still needed.

[2021-02-05 18:12] BOLT04 commented on #32
we can still keep this in the backlog stalebot

[2021-02-06 08:47] Vyvy-vi commented on #345
:)

[2021-02-06 09:23] alphaX86 commented on #421
@eddiejaoude and @Vyvy-vi I browsed the issue and the issue template, maybe we could add some checklists inside the template for more transparency? And as Eddie said, we can add 2 templates regarding Features/Ideas and Docs related.

What do you think on this? ❓

[2021-02-06 09:25] Vyvy-vi commented on #421
I'm not sure what checklists are to be added in the issue template... Maybe you could give an example?
Yes, we should add 2 more issue templates for the repo. :+1:

[2021-02-06 09:32] alphaX86 commented on #421
Ok, how about this? This is just a trial for bugs...

## Checklist:
What bugs/issue are you facing on the bot?
 - [] Wrong or no response
 - [] Bot freeze for more time
 - [] I'm not sure on this but something's wrong

This is just a sample though. IDK but we can ask some 2-3 questions to describe about the issue. We can discuss this though!

[2021-02-06 09:33] alphaX86 commented on #421
Hmm, got it @Vyvy-vi maybe I can help on this one?

[2021-02-06 09:41] Vyvy-vi commented on #421
Go for it! You could checkout the Bug issue and recreate the rest from that format

[2021-02-06 16:45] eddiejaoude commented on #437
Thanks for raising. I updated the description to be in code blocks

[2021-02-06 17:00] BOLT04 commented on #437
Hi @kenkirito 😃, thanks for raising this.
What branch are you using? In `develop` we use the `!` operator to be null safe, so that error shouldn't happen:
https://github.com/EddieHubCommunity/EddieBot/blob/6f0dfdda6130d4098b07e511c92c73b7231da854/src/messageReactionAdd.ts#L50

[2021-02-06 17:29] #183 closed

[2021-02-06 20:35] AllanRegush commented on #437
The bot has been crashing since being deployed on digital ocean. This is the snippet from the logs.

[2021-02-07 10:45] eddiejaoude commented on #114
Even after moving to the API, I think there will be a challenge around testing the Discord  websocketsc events. Has anyone done something like this before?

[2021-02-08 21:11] BOLT04 commented on #437
@AllanRegush ah I see, then is it because it doesn't have the latest changes in `develop`?
If it does I think we could change the if statement to `reaction.message.member != null && reaction.message.member.partial`

[2021-02-08 23:32] AllanRegush commented on #437
@BOLT04 That is a question for @eddiejaoude. They have set up the bot on digital ocean. Eddie, What commit did you check out?

[2021-02-08 23:37] eddiejaoude commented on #437
It should be `develop`, let me check now

[2021-02-08 23:43] eddiejaoude commented on #437
Yep it is the `develop` branch from a few days ago, I just did a pull again

[2021-02-08 23:47] eddiejaoude commented on #32
yep 👍 - I think we will slowly cover the features from NightBot and MEE6

[2021-02-09 09:44] #421 closed

[2021-02-09 13:35] kcoder63 commented on #419
can i work on this issue? a bit information on how to do that would be helpful.

[2021-02-09 21:58] Vyvy-vi commented on #419
I think there is already an open PR for this(#422)

[2021-02-10 18:40] AllanRegush commented on #437
This bug is caused when Eddie bot tried to add a role to a member that has left.

[2021-02-10 18:40] nhcarrigan commented on #437
Tied to the `high value` role?

[2021-02-10 18:43] nhcarrigan commented on #437
So the `!.` operator, by my understanding, is a TypeScript thing. And all it does is tell TypeScript that "yes, this property can potentially be nullish, but we are saying that at this point in the code it won't."

When compiled to JS, the `!` goes away. Maybe we should use optional chaining instead?

[2021-02-10 18:48] AllanRegush commented on #437
Yes, the member has left and `reaction.message.member` is `null`

[2021-02-10 18:51] AllanRegush commented on #437
compiled JS ends up like this.

[code]
Maybe check for `reaction.message.member` and return? or use @BOLT04's suggestion.

[2021-02-10 19:10] nhcarrigan commented on #437
BOLT04's suggestion *is* what our current code is - which is the issue. All we're doing there is turning off TypeScript's type safety for that chain.

[2021-02-10 20:50] nhcarrigan opened #439 "Docs: Privacy Policy Needed"
According to [Discord's Developer Terms of Service](https://discord.com/developers/docs/legal), any application (like this bot) that uses the API is required to have a privacy policy. We should create one (as `PRIVACY.md` maybe?).

A basic privacy policy should cover, at a minimum:
1. What data does the bot collect (including but not limited to personal identifying information)?
2. Why does the bo

[2021-02-10 23:18] AllanRegush commented on #437
Static analysis is not perfect. As per the typescript [release notes](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-0.html#non-null-assertion-operator)

The transpiled code does not have this check. From `dist/messageReactionAdd.js`
[code]

If we wish to have this `null` check during runtime - we have to explicitly add that in. We can see if `reaction.message.member` is t

[2021-02-12 01:21] eddiejaoude commented on #342
I was keen to capture lots of events, to show some fun stats for people. But I think it should be excluded from forks if it causes it to break.

[2021-02-12 01:23] eddiejaoude commented on #206
I am trying to work on a schedule.

This is what I am working to from last week, but being unwell this week ruined this week:
- Monday 5pm GMT live stream
- Wednesday 5pm GMT release video
- Friday 5pm GMT live stream
- Saturday 5pm GMT Sponsors call
- Last Saturday of each Monday community call 6pm GMT

[2021-02-12 01:24] nhcarrigan commented on #206
Be careful not to over-extend yourself. Make sure you allow time to rest, too. :)

[2021-02-12 01:24] eddiejaoude commented on #72
Stale bots really wants this one 😂

[2021-02-12 01:33] eddiejaoude commented on #206
yep you are right 👍  let's see how this goes 🤓

[2021-02-13 13:26] BOLT04 commented on #437
I agree with your solution @AllanRegush 👍. Is anyone already working on this fix?

[2021-02-15 15:36] nhcarrigan commented on #439
We would need to add a privacy policy document to the bot's codebase. Given the nature of this issue, I recommend @eddiejaoude weigh in before anyone contributes.

[2021-02-15 16:35] bagladivyang03 commented on #439
Ok @nhcarrigan

[2021-02-16 18:54] Vyvy-vi opened #442 "[BUG]: fix package-lock file"
**Description**

I committed the package-lock file and it had been touched by npm v7, which broke changes... (#432)
**Screenshots**

![Screenshot 2021-02-16 at 6 28 00 PM](https://user-images.githubusercontent.com/62864373/108105990-5efc9300-70b3-11eb-9c3b-588cb3612f6a.png)

**Additional Context**

Sorry everyone 😓

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-02-16 18:55] nhcarrigan commented on #442
@Vyvy-vi are you interested in fixing this? Or should I provide resolution instructions for another contributor?

[2021-02-16 18:59] Vyvy-vi commented on #442
I'll fix it in a min. or two :+1:

[2021-02-16 23:36] eddiejaoude commented on #437
Great team work everyone 👍 - I think there are more crash issues in the log, but this is a great start 💪

[2021-02-16 23:53] #184 closed

[2021-02-17 00:00] #442 closed

[2021-02-17 08:52] Vyvy-vi opened #444 "Feat: Self-assignable battlesnake role"
**Description**

The bot needs rattlesnake in the assignable roles list, so that it can be assigned by people using the bot.
Also, battlesnake ❤️

**Screenshots**

![Screenshot 2021-02-17 at 8 51 47 AM](https://user-images.githubusercontent.com/62864373/108179317-7e370700-712b-11eb-814e-4da75970f0ed.png)
**Additional Context**

Thanks, Nick for adding it 🙃  (https://discord.com/channels/6996084170

[2021-02-17 09:47] kcoder63 opened #446 "Fix the roles command"
Eddie bot shows the message `Assigning this role to yourself:` to the role which is not self assignable.
![issue](https://user-images.githubusercontent.com/74637789/108185686-95c5be00-7132-11eb-89fe-66513f55a242.png)
**How to fix?**
have a look at [roles.ts](https://github.com/EddieHubCommunity/EddieBot/blob/develop/src/commandHandlers/roles.ts)
The `selfAssignableRoles` variable holds the self as

[2021-02-17 10:27] Vyvy-vi commented on #405
it catches more but still not as functional as needed

[2021-02-17 10:41] Vyvy-vi commented on #405
moreover _maybe_, we could make the bot censor profane words?

[2021-02-17 19:34] nhcarrigan commented on #405
How so?
The most we could do is have the bot delete the offensive message entirely, since a bot can't edit a user's message. We *could* have it re-send the message as an edited form, but that gets messy IMHO.

[2021-02-17 19:39] Vyvy-vi commented on #405
No, I meant the embed made by the bot
Example: A user says the b word
EddieBot send the warning embed like this-
[code]

[2021-02-17 19:41] Vyvy-vi commented on #405
Also, slight update profanitySureness at 1 works pretty much okay
@adityaraute Could you perhaps dm me examples of what the bot was _not_ flagging as offensive?
(this way we could be sure if setting that to 1 is sufficient)

[2021-02-17 22:36] eddiejaoude commented on #385
I will share this in Discord as it is a `good first issue`

[2021-02-17 23:36] #444 closed

[2021-02-17 23:38] eddiejaoude commented on #446
Thanks for raising @kcoder63 👍 . I put the `bug` label on it 🤓

[2021-02-18 02:55] nhcarrigan commented on #389
Thanks stale bot, but this is still needed.

[2021-02-18 13:41] adityaraute opened #447 "Flagging the same word twice"
**Description**

If an unwelcome word appears in a user's message more than once, it should preferably tagged only once. This happens in a strange and inconsistent fashion as the screenshots say.

**Screenshots**

1)
![image](https://user-images.githubusercontent.com/43912470/108364773-76a35b00-721c-11eb-8b55-78af7c292640.png)

2)
![image](https://user-images.githubusercontent.com/43912470/1083650

[2021-02-18 22:15] Vyvy-vi commented on #447
Checkout- #357 #393

[2021-02-18 22:20] Vyvy-vi commented on #447
Ahh, found the issue-
https://github.com/EddieHubCommunity/EddieBot/blob/848352364668d4ae5a226bb364223fd71c4f54f1/src/words.ts#L44-L49

The regex replaces symbols with ' ' but doesn't have something for `?` and `<word>?` was seen as a new word, when we were putting that in a set to get unique list of words, single occurrence.

[2021-02-19 09:14] #447 closed

[2021-02-19 14:06] praveenscience opened #449 "Guy is not always insensitive, we might need the Bot to hold its horses..."
**Description**

There are places where Guy can be used - Name, on a Guy, etc... The best example is Guy Fawkes Day and it's not insensitive.

**Screenshots**

An example of where the bot went wrong.

![image](https://user-images.githubusercontent.com/1830380/108514210-8160fd00-72bb-11eb-910a-695d8d58eedc.png)

**Additional Context**

We might need to train the bot for this with AI and stuff.

[2021-02-19 16:04] eddiejaoude commented on #439
The information we save looks like this..

From Discord information, I think it is only:
- username
- avatar url
- roles

<img width="679" alt="Screenshot 2021-02-19 at 09 08 32" src="https://user-images.githubusercontent.com/624760/108529073-005e3180-72cc-11eb-9851-2298157da0fb.png">

[2021-02-19 16:05] nhcarrigan commented on #439
`joinedAt` is Discord information too.

Everything in `bio` is user-generated information, which also counts as Discord data.

[2021-02-19 16:08] eddiejaoude commented on #439
Oh yes you are right about `joinedAt`.

Oh user generated from our bot data is included too? I did not realise that 🤦‍♂️

[2021-02-19 16:11] nhcarrigan commented on #206
Re-opening this as I don't believe we resolved it

[2021-02-19 16:50] nhcarrigan commented on #439
Yep - because those are message contents created by a Discord user through Discord.

Additionally, all of those are considered Personally Identifiable Information.

[2021-02-19 16:55] nhcarrigan opened #450 "Database Encryption"
Another requirement from the Discord Developer Terms is that the database information is encrypted at rest (should not be stored as plain-text in the database). When we migrate to MongoDB, I can recommend the use of `mongoose` with `mongoose-encrypt` to seamlessly implement this.

[2021-02-20 23:02] BOLT04 commented on #450
@nhcarrigan do you mean every field of a document? Also, if we use `mongoose-encrypt` does it simplify decrypting as well?

[2021-02-20 23:50] nhcarrigan commented on #450
I rolled `mongoose-encrypt` into my own Discord bot. Remarkably easy to set up, and handles encryption+decryption automatically.

Some concerns:
- Encrypted fields cannot be queried (I left only the `serverID` field decrypted on my data, as that's how I index things).
- the `findAndUpdate` and `findOneAndUpdate` methods of mongoose do not play well with the encryption. I personally use `find`, mak

[2021-02-20 23:52] BOLT04 commented on #450
oh okay, got it 👍. Some refactor would need to be done, but I agree with securing the information stored in the DB.

[2021-02-22 20:46] BOLT04 commented on #323
this is still relevant bot

[2021-02-23 14:03] starlightknown opened #452 "New self assigning roles"
**Description**

Self assigning roles for people who have
- blogs
- YouTube
- Twitch
**Screenshots**

**Additional Context**

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-02-23 15:59] alphaX86 opened #453 "Open source reminder hasn't shut down after role removal"
**Description**

I removed the open source from my profile, just for testing. But turns out that, the Eddie Bot is still sending messages about reminders. I was shocked!

**Screenshots**

Screenshots will be available in following comments...

**Additional Context**

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-02-23 16:00] alphaX86 commented on #453
![Screenshot_2021-02-23-21-27-56-101_com discord](https://user-images.githubusercontent.com/59508546/108870662-4e519d00-761e-11eb-8e30-8701c031373f.jpg)
![Screenshot_2021-02-23-21-27-56-101_com discord](https://user-images.githubusercontent.com/59508546/108870683-54477e00-761e-11eb-854a-351caed546ce.jpg)

[2021-02-23 16:01] alphaX86 commented on #453
![Screenshot_2021-02-23-21-28-59-098_com discord](https://user-images.githubusercontent.com/59508546/108870784-78a35a80-761e-11eb-81a4-e63b3f28489a.jpg)

[2021-02-23 16:02] alphaX86 commented on #453
1st pic is happened today and 2nd pic is done yesterday. So yeah, you can relate it.

Type: Medium to High lv bug

[2021-02-23 18:13] adityaraute commented on #449
I feel such cases may arise in every flaggable word, but we need to flag 'guy' because it is one of the most frequently used word that is not inclusive.

[2021-02-23 18:32] adityaraute commented on #414
Any update @musavveer ?

[2021-02-23 18:34] adityaraute commented on #405
@Vyvy-vi Yes I think Level 1 can be enough. I did mean words that are overtly offensive with no other interpretation whatsoever. This includes abusive and profane language.

[2021-02-24 11:04] eddiejaoude opened #454 "Standup command crashed bot"
This standup command was breaking the bot. The bot would delete the message and crash before being able to resend it back formatted.

[code]

The errors in the logs was

[code]

[2021-02-24 13:56] #437 closed

[2021-02-25 11:25] muthuannamalai12 opened #456 "Update Community.yml"
I will update the issue-message, Pr-Message, with new ones and added a footer message in Community.yml

[2021-02-26 20:01] jai-dewani opened #458 "^bio @tag pings the person who is getting tagged as well"
**Description**
If I wanna know the bio of Jai, I can use `bio @jai-dewani` and EddieBot will show the bio but this also leads to tagging `jai-dewani` which sends the message that there is something here that he should look into

**Screenshots**
![image](https://user-images.githubusercontent.com/33520257/109348666-dc39bc00-789a-11eb-855c-b14bafde9ec8.png)

**Additional Context**
- We need to find

[2021-02-26 23:10] #454 closed

[2021-02-27 07:43] alphaX86 commented on #453
The issue seems resolved, IDK how but I'm not receiving notifs now. Closing this now to avoid becoming stale one

[2021-02-27 07:43] #453 closed

[2021-02-27 12:50] eddiejaoude commented on #450
Oh interesting, good to know this 👍

[2021-02-27 12:55] eddiejaoude commented on #450
I wonder with other DBs how this would work 🤔

[2021-02-28 19:21] pablochocobae opened #459 "Issues warning on personal Pronouns"
The bot issues a warning on usage of 'He' and suggests to use they instead. What if a person preferred to be addressed as he/him.

[2021-03-01 14:46] Rahma-AlWadhahi opened #460 "Inclined Quotation marks are not detected"
**Description**

A question that I got in mind about the word “herself” if it would be detected by the bot. This made us realize that there is another type or shape of quotation marks which aren’t detected by the bot.

These are the following             “”
They’re slightly inclined
**Screenshots**
![53CA5E66-49E4-4089-9342-915057547CEA](https://user-images.githubusercontent.com/61970868/109513581

[2021-03-02 12:29] eddiejaoude commented on #452
Thanks for raising @kcoder63 👍

I think all lowercase might be more consistent

- `blogs` what about...? `blogger`
- `youtube` what about...? `youtuber`
- `twitch` what about...? `twitch-streamer`

[2021-03-02 12:31] eddiejaoude commented on #449
Thank you for raising 👍

The bot is not perfect, but this word is rarely used in a proper situation - it is mostly used incorrectly. I will close this for now.

[2021-03-02 12:31] #449 closed

[2021-03-02 12:35] eddiejaoude commented on #414
I suggest in the config having something like this...

[code]

Then if someone uses `guyz`, it can trigger AlexJS with `guys`

[2021-03-02 12:38] eddiejaoude commented on #405
Recently the word `a**hole` was not flagged or removed, it require manual removal. The config is still on `2` though, I will update to `1` now

https://github.com/EddieHubCommunity/EddieBot/blob/42193a569c323d36fa89b23884c4208d509978d4/src/config.ts#L103

[2021-03-02 12:45] eddiejaoude commented on #405
This word is now flagged, but the whole message should really be removed

[2021-03-02 12:50] eddiejaoude commented on #405
I think we can find out what has been triggered in the response object `source: 'retext-equality'` and if `cuss` is mentioned, the message can be removed

[code]

https://github.com/get-alex/alex#api

[2021-03-02 14:19] #456 closed

[2021-03-02 14:42] musavveer commented on #414
@eddiejaoude

@eddiejaoude Should I make changes in this repo: github.com/retextjs/retext-equality

[2021-03-02 15:33] adityaraute commented on #405
Yes, that is the ideal way. Someone who can implement this, please make haste. It's already been two months since this issue was raised and still cusses are possible to use.

[2021-03-02 15:39] musavveer commented on #414
Fixed issue! [https://github.com/retextjs/retext-equality/pull/109](url)

[2021-03-02 15:46] musavveer commented on #414
Fixed Issue!
Submitted a PR in retext-equality repo. [https://github.com/retextjs/retext-equality/pull/109](url)

[2021-03-02 17:05] adityaraute commented on #414
Wait, you fixed in the 'retext' repository? Is that the norm?

[2021-03-02 17:06] musavveer commented on #414
Yeah

[2021-03-02 20:13] Vyvy-vi commented on #405
I'll try and open a PR after a while :)

[2021-03-03 16:28] avinashupadhya99 opened #461 "Add bruh to the list of censored words."
**Description**

The word bruh should be consored by EddieBot as it is not inclusive.

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-03-03 16:51] Vyvy-vi commented on #461
Possible fix: https://github.com/EddieHubCommunity/EddieBot/issues/414#issuecomment-788877228

[2021-03-03 17:23] Vyvy-vi commented on #458
My bot uses type-hinting for `discord.Member` objects, due to which the following can be used- User Nickname, Username, User discord name with discriminator, User id and user mention. (*mine is in discord.py tho)
https://github.com/Vyvy-vi/TearDrops/blob/f7695c0a771676380b7c7360011d6db80887ef23/bot/cogs/fun.py#L67-L73

[2021-03-04 06:06] AllanRegush commented on #414
I think it's time to start thinking of rolling our own or getting another library.

[2021-03-04 07:31] Vyvy-vi commented on #414
Huh, so it's fine to have "Bruh" in documentation? 🤔

[2021-03-04 08:02] Vyvy-vi commented on #342
hmm 🤔

[2021-03-04 13:03] vinzvinci opened #462 "Add these hurtful words in censored list"
I suggest add those words in this link to warn users inside the community?

Link: <a href="https://www.indy100.com/discover/the-15-most-annoying-words-you-re-using-7328761">https://www.indy100.com/discover/the-15-most-annoying-words-you-re-using-7328761</a>

[2021-03-04 14:26] kcoder63 commented on #462
you meant to say add these words in censored list?

[2021-03-04 14:33] vinzvinci commented on #462
Yeah

[2021-03-04 14:46] AllanRegush commented on #462
Do you have an opinion on why these words are hurtful? Using `people` is fine and works best in some contexts.

[2021-03-04 14:54] vinzvinci commented on #462
`People` is good and others I think so we can ignore it. I only suggest others word like ~~Preggers~~ and other words there that may annoyed someone or if you think those words will affect someone.

[2021-03-04 15:08] AllanRegush commented on #462
I have not seen Preggers used in the chat. Have you?

[2021-03-04 15:23] eddiejaoude commented on #453
oh interesting. If it happens again let us know. Thank you for raising

[2021-03-04 15:28] vinzvinci commented on #462
Not yet, I think it would be good if it's ready since more people will keep coming and we're not sure what they're going to chat.

I just remembered, when Eddie is on the livestream, there's new people keep saying awful random words in the community and that didn't warn by EddieBot. I forgot all what he said but I see some words are already added in censored list.

[2021-03-04 15:31] AllanRegush commented on #462
Yes, well there are annoying in the author's opinion rather than being offensive.

This is why I'm asking why these are hurtful and offensive to you. I'm just trying to understand.

[2021-03-04 15:44] vinzvinci commented on #462
I agree on the author, for me it's not really a good word to call other people like that. If it's me `I'll be upset` cause it sounds annoying. ~~I'm not really good in explaining sorry Allan~~

[2021-03-04 15:50] AllanRegush commented on #462
Don't be sorry :cry: I was just trying to see it from your POV. I'll let the community chime in on any other opinions .

[2021-03-04 15:51] am-anand commented on #462
The site feels more like a buzzfeed list equivalent. Plus some words doesn't seem offensive(atleast to me).

And for others I fail to see any instance they are gonna be used by any(whether it be new or old) member.

IMO Alexjs is already doing an awesome job. If we find any exceptions, they can be handled then and there.

[2021-03-04 16:42] nhcarrigan opened #464 "[FEAT] - Add mlh-guild to self-assignable roles"
The `mlh-guild` role has been created in the discord server, and needs to be added to the bot's self-assignable roles list. A description should also be included which says something like:

[2021-03-04 19:40] SashoStoichkov commented on #461
I'll add it 👍🏻

[2021-03-04 20:47] kcoder63 commented on #464
I think we can close this issue now

[2021-03-04 20:48] nhcarrigan commented on #464
Yep.

For future reference, when you open a PR that will resolve an issue, if you add `Closes #<issuenumber>` to the PR text, GitHub will auto-close it when the PR is merged.

For example, to close this issue with a PR you'd write `Closes #464`.

[2021-03-04 20:48] #464 closed

[2021-03-04 20:50] kcoder63 commented on #464
Okay thank you, will do that in future

[2021-03-04 21:29] BOLT04 commented on #464
For example, to close this issue with a PR you'd write Closes #464.

@nhcarrigan how about we make a pull request template with those tips and links to documentation on GitHub? It might introduce someone to it and they'll use those keywords 😃

[2021-03-05 03:39] vinzvinci commented on #462
**Thank you :)**
Yeah maybe I'm just overreacting yesterday about it. I'm a bit late checking Alexjs, I see its good.

[2021-03-05 07:24] Vyvy-vi commented on #360
I think this is still needed stale-bot :nerd_face:

[2021-03-05 12:29] DevCassie opened #467 "[Bug] I am add mlh-guild role."
**Description**
The command `^iam add mlh-guild` role is misconfigured in the config file.
It's a simple solution in the config file. Anything for `mlh_guild` should be replaced to `mlh-guild`.

**Screenshots**
![image](https://user-images.githubusercontent.com/19227530/110115472-6b246800-7db6-11eb-9e16-a401269aa4f0.png)
![image](https://user-images.githubusercontent.com/19227530/110115490-7081b28

[2021-03-05 12:30] eddiejaoude commented on #467
Looks good, thank you 👍

[2021-03-05 14:02] #467 closed

[2021-03-06 13:06] stemount commented on #414
[I declare no endorsement of this ticket but I think it is important to note this]

@musavveer @adithyapaib Yes, don't be disheartened by @wooorm's message here. It is **a great idea** to create an issue on GH, submit a PR **TO the upstream dependency** you work on because everyone can benefit.

I do agree with @wooorm's message over here https://github.com/retextjs/retext-equality/pull/109 howeve

[2021-03-06 13:09] stemount commented on #414
@Vyvy-vi I would prefer that somebody would use `bruh` in documentation so I can do my technical due diligence quicker and say no to a project ;-)

[2021-03-06 13:20] stemount commented on #450
@eddiejaoude @BOLT04 @nhcarrigan Encrypted at rest is, similarly to "not in transit" and "not in use", loose terminology that everyone seems to have a different opinion on it's meaning, however from everything I work on that does require this - it means encrypted when it is written to disk.

So, if we were to use for example AWS RDS w/ KMS to encrypt "the database", you actually get a PostgreSQL/M

[2021-03-06 13:26] stemount commented on #461
@avinashupadhya99 @SashoStoichkov @Vyvy-vi I guess `bruh` isn't really well a word that would cause insult to anybody (i'm not down with what it really means...) so I would suggest that EddieBot or whatever has these as "annoying words" or something (or just simply as "noise" in a chat).

As everyone knows I don't really like the EddieBot messaging the public channel TBH, I think it **should** DM

[2021-03-06 13:31] stemount commented on #458
There isn't really a thing for this because an `@mention` ping is not something we can actually do client side without just turning it off completely on server roles.

@EddieHubCommunity/coreteam how about we upgrade the EddieBot with AsciiDoc (I know, something for you @eddiejaoude) so that we can spit out a website like Arcane has for commands too?

That'd be pretty epic, so if you roll out Eddi

[2021-03-06 13:36] stemount commented on #459
You know what I actually have not thought about this ever @pablochocobae. This works two ways right? What if somebody actually does identify with pronouns of he/him him/her? IS they/them actually the answer for everyone?!

I have no proximity to this topic though as I whilst I would use `he/him`, I don't explicitly state it but I know @nhcarrigan does and I'd actually like to know what his thought

[2021-03-06 14:14] pablochocobae commented on #459
Yeah, @stemount Actually this is something one should notice. Some people might get offended if not pronounced correctly.

[2021-03-06 14:52] srinath1412001 commented on #462
I think we can close this issue .

[2021-03-06 15:43] nhcarrigan commented on #450
Sure, if our managed database can handle the encryption natively, then the app itself doesn't need to do anything. I'm not sure if MongoDB offers that (I admittedly didn't look too hard into it. Found an encryption module and rolled it in to my bot.)

[2021-03-06 15:48] nhcarrigan commented on #459
The bot is correct that the use of `they/them` pronouns is best when you **don't know someone's pronouns**. However, when you **do**, you should definitely use that person's pronouns. The problem is our bot isn't smart enough to recognise when you do or don't know someone's pronouns.

I think, maybe the warning message (which probably comes from Alex) should be modified to explain "Don't use `he`

[2021-03-07 11:23] vinzvinci commented on #462
Yeah we can close this issue now. Thanks :)

[2021-03-07 11:23] #462 closed

[2021-03-07 12:45] Vyvy-vi commented on #458
@stemount  I think this issue is referring to finding ways to look up bios of people without pinging them, which is indeed possible, using user id's/usernames#descriminator or some flavoured indexing method that we can look up?
Tho not sure if there are amicable solutions for this.

About upgrading to docs. I think we could set up some neat docs with gh-pages
(asciidoc works.. but let's just say i

[2021-03-07 12:55] kcoder63 commented on #452
Do we need description for these roles? They are kinda self explanatory unless we want only tech blogs or YouTube. Shall I make a PR?

[2021-03-07 13:01] Vyvy-vi commented on #414
Moreover, I think if we look there might already be a few text processing libraries for bots, and we could build upon those

[2021-03-07 13:02] Vyvy-vi commented on #386
This is still needed, stalebot 🤓

[2021-03-07 19:21] #460 closed

[2021-03-08 04:05] nhcarrigan commented on #309
No stalebot we still need this.

[2021-03-08 10:46] Vyvy-vi commented on #361
I think this is still needed stale-bot :/

[2021-03-08 10:48] Vyvy-vi commented on #461
perhaps we could have bot-dm + eddiebot reacting with an emoji?: 😞

[2021-03-08 10:49] Vyvy-vi commented on #461
however, the `delete your warning, when someone edits their message` feature might clean things up?

[2021-03-08 10:54] Vyvy-vi commented on #414
Here's a very good point from the retext repo:
https://github.com/retextjs/retext-equality/pull/109#issuecomment-791970676
Maybe we should look int rolling out our own filter? (maybe after the API is done?)

[2021-03-08 10:55] DevCassie commented on #461
I'm not very sure if the word `bruh` is an insult like Stemount said. Therefore, I like Stemounts idea.

I personally would have Eddiebot send a message in DM, with a link to my original message, rather than having a big embed popup in the chat. Or at least like Vyvy-vi mentioned, delete the warning when someone edits their message.

[2021-03-08 11:55] stemount commented on #459
@pablochocobae @nhcarrigan Glad I could at least make a good point and blow up the technical scope of the ticket ;-)

I don't have a lot of skin in this game, but yes I do know that if somebody does publicly share their pronouns then that's the deal. We use whatever is specified **when possible** of course.

#### We **COULD** not saying **SHOULD**
If like @nhcarrigan he specifies it in their nick

[2021-03-08 12:03] stemount commented on #461
In another issue, I actually blew the scope of the EddieBot learning bad words to train its model but it was killed off by the idea that somebody could POTENTIALLY abuse it e.g.

<stemount> bruh
👍🏻 19 👎🏻 1

Then bruh would from then have a 19 to 1 ratio of "approval". I think this was canned also because it was quite complex still.

---

#### On topic of this issue:

-  @DevCassie DMing the user I

[2021-03-08 14:47] stemount opened #469 "Add gitignore values for popular IDEs such as VSCode, WebStorm/PHPStorm/IntelliJ, Atom et al."
**Description**

#### This is a good first issue.

IDEs such as IntelliJ, PHPStorm will create an `.idea` folder similarly to `.vscode` and `.history` and `.atom` (I believe)

**Screenshots**

##### Git trying to add .idea to the project.

![image](https://user-images.githubusercontent.com/150512/110336717-0b7bc600-801d-11eb-8ef5-5f5045c53da3.png)

**Additional Context**

https://www.toptal.com/de

[2021-03-09 19:51] SashoStoichkov opened #472 "Add GIMP to allowed words list"
**Description**

GIMP is a open source cross-platform image editor available for GNU/Linux, OS X, Windows and more operating systems. I think EddieBot should not flag that word.

**Screenshots**

![image](https://user-images.githubusercontent.com/24972335/110528006-50d4ec00-8120-11eb-85f8-6e7c02b0f0c3.png)

**How to do it**

- Go to [src/config.ts](https://github.com/EddieHubCommunity/EddieBot/blo

[2021-03-10 02:41] #469 closed

[2021-03-12 10:03] eddiejaoude commented on #378
PR #382 merged 👍

[2021-03-12 10:03] #378 closed

[2021-03-12 10:27] eddiejaoude commented on #342
I think excluding from forks makes sense because we only want stats from events in our org.

I added this line `if: github.repository_owner == 'EddieHubCommunity'` to one of our repos to test it and see how it goes, what do you think? https://github.com/EddieHubCommunity/hacktoberfest-practice/blob/main/.github/workflows/community.yml

[2021-03-12 17:53] stemount commented on #472
This issue tickled me a lot, yes GIMP is valid software.

Let's get on the proprietary software gravy train and have it suggests you use Photoshop instead ;-)

[2021-03-12 17:54] nhcarrigan commented on #472
That's a terrible train I vote we stay on the FOSS train instead :D

[2021-03-12 18:50] #472 closed

[2021-03-12 18:51] stemount commented on #472
Let's gooooo @prince1y your PR is approved and merged!

I hear you @nhcarrigan - FOSS train ftw!

[2021-03-12 18:53] stemount commented on #450
@nhcarrigan yea haven't looked into MongoDB community edition for a while. seems like that's an enterprise thingy and it turns out (to no surprise) that MongoDB Atlas does encryption at rest w/ key management. https://docs.atlas.mongodb.com/reference/api/encryption-at-rest/

[2021-03-14 21:48] Vyvy-vi commented on #360
:/

[2021-03-14 21:49] Vyvy-vi commented on #400
I think this is still needed, stalebot

[2021-03-14 21:50] Vyvy-vi commented on #404
I think this is still needed stalebot :)

[2021-03-14 21:52] Vyvy-vi commented on #24
I think this is still needed, stalebot ._.

[2021-03-14 21:55] Vyvy-vi commented on #300
I think this is still needed stalebot 🤓

[2021-03-14 21:57] Vyvy-vi commented on #403
also, we could look into sending these from a webhook(I think those have higher message character permissions)
I think this is still needed stalebot :)

[2021-03-14 22:03] Vyvy-vi commented on #342
I suppose it could 🤔
Maybe we could test out on one of the new/small repos?

[2021-03-16 02:12] #361 closed

[2021-03-19 12:51] Vyvy-vi commented on #112
I think this issue has been resolved since Becca gives server logs?

[2021-03-20 08:22] Vyvy-vi commented on #459
I think we have discussed this earlier and I think it might be very hard to check "context" with regard to who people are talking to. Afaik, being addressed as they/them(general-use pronouns) people might not get offended. (*not sure tho, I don't have much scope in this area)

But, we would have to maybe choose to keep the flags or remove them. I don't think there are viable was to check which pro

[2021-03-20 20:54] eddiejaoude commented on #342
Not sure if this did solve it or not

https://github.com/EddieHubCommunity/hacktoberfest-practice/blob/67917128d298893c221a635d62bb169dbdb13c57/.github/workflows/community.yml#L33

[2021-03-20 22:00] eddiejaoude commented on #360
Error still exists, reopening

<img width="619" alt="Screenshot 2021-03-20 at 21 58 20" src="https://user-images.githubusercontent.com/624760/111886690-966aa200-89c7-11eb-9da8-35de039cd2c9.png">

[2021-03-20 22:15] eddiejaoude commented on #400
I think it would be better if on message update, it rechecked the message and either do nothing or remove the warning - having people vote on it I think would not go well

[2021-03-21 10:56] eddiejaoude commented on #398
I still think this is a good idea

[2021-03-21 11:37] vinzvinci commented on #398
Yes, thank you!. Do we have a command that tells what link is allowed in the community.

These are allowed right?:
- YouTube
- Twitter
- GitHub
- etc.

I see Nightbot only tell this
![link](https://user-images.githubusercontent.com/73097560/111903304-9aa4c700-8a7c-11eb-8df8-4ac82c8e6716.png)

[2021-03-22 02:46] eddiejaoude commented on #458
I think there are 2 issues here? The docs discussion should probably go in another issue.

When getting the bio for someone, notifying them is not great - this should be improved

[2021-03-22 02:47] eddiejaoude commented on #452
I think a description would be good 👍

[2021-03-22 02:56] eddiejaoude commented on #461
I am not keen on allowing `bruh`, feels like `bro` to me.

DM'ing people they will just ignore it and worse mute/block/report the bot - at least having it publicly will allow others to realise not to use it too - kind of like knowledge transfer in a PR 🤓

[2021-03-22 14:42] #446 closed

[2021-03-23 08:50] eddiejaoude opened #476 "Testimonials command"
**Description**

We have so many great people in our EddieHub community who all support and help each other. I think it would be great if we could have a command where we can leave people testimonials.

For example

[code]

What do you think?

[2021-03-24 15:07] starlightknown opened #477 "Open source role without notifications"
**Description**

Add the option of no notification for `opensource` role so that people don't have to remove the role entirely.
**Screenshots**

**Additional Context**
Idea- maybe we can make it a reaction role, if the person reacts they get the role+notification, if they don't, they can add it manually and not get notifications. (Just an idea, idk if that's possible or not)

Join Eddie's discord

[2021-03-24 16:23] Frakko commented on #476
I think that this is a great idea!

One change I'd do, would be to have two separate commands, one to add a testimonial to someone, and one to see all the testimonials someone got.

[2021-03-24 16:23] Divyaansh313 commented on #385
Going ahead with this issue

[2021-03-24 16:33] Frakko commented on #477
This sounds like a great idea.

I feel like that an easy way to do this would be by using two different roles, where one is used only for notifications.

[2021-03-24 17:39] kcoder63 commented on #477
Yeah Eddie suggested that(two roles) in the chat, this is just what I thought

[2021-03-25 18:45] AllanRegush opened #479 "Husky Pre-commit checks"
**Description**

I think we should add husky pre-commit checks.

- [ ] Should check for commit messages
- [ ] npm lint
- [ ] npm build?

Eddie has a video to help the contributor to get started: https://www.youtube.com/watch?v=FKVjAz505cY

What does everyone think?

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-03-26 07:18] Vyvy-vi commented on #113
stalebot got no chill :P

[2021-03-26 21:57] #385 closed

[2021-03-28 02:23] #400 closed

[2021-03-28 11:31] Vyvy-vi commented on #360
This is still needed Stale-bot 🤓

[2021-03-28 14:30] Vyvy-vi commented on #339
I think there was a similar discussion in #400
Maybe we should carry this issue forward in that?

[2021-03-29 21:10] DenverCoder1 opened #480 "Allow non-regulars to post Git.io links since they redirect to GitHub"
Git.io is [GitHub's URL shortener](https://github.blog/2011-11-10-git-io-github-url-shortener/) which takes GitHub links and allows users to create custom short links.

Only regulars can post non-GitHub links but this includes Git.io which links to GitHub.

All users should be able to post Git.io links for the same reason they can post GitHub links.

[2021-03-30 15:38] Vyvy-vi commented on #480
Oh, that isn't in the ignore-list.
I think this is not an EddieBot issue tho..
NightBot(external bot) handles that.

@eddiejaoude maybe you can add this to NightBot's ignore-list?
(good cue for us to switch over this functionality to EddieBot, so that the link moderation process can be controlled, streamlined and improved)

[2021-04-02 21:29] #297 closed

[2021-04-04 23:49] mikeysan commented on #404
This bot is a bit too active.

[2021-04-06 06:35] eddiejaoude commented on #414
I think we can run an extra check along side AlexJS, with the words we want to flag.

[2021-04-06 08:14] adityaraute commented on #414
makes sense

[2021-04-07 08:57] yashsehgal commented on #419
Hey, I would like to work on this issue.

[2021-04-07 09:59] Vyvy-vi commented on #419
Thanks for the engagement! But #422 fixes this functionality

[2021-04-07 10:00] Vyvy-vi commented on #476
This would be great!
We could work this into the DB's fields for the bio info, once the API is ready

[2021-04-07 10:04] Vyvy-vi commented on #136
I'm not sure if that can be done 🤔

[2021-04-07 10:05] Vyvy-vi commented on #295
#114 has a similar discussion

[2021-04-07 10:46] yashsehgal commented on #419
Oh, My Bad :)

[2021-04-07 14:07] eddiejaoude commented on #450
It looks like DataStax can encrypt the tables at rest too, if we decide to use that  https://docs.datastax.com/en/security/6.0/security/secEncryptTableLocal.html#secEncryptTableLocal

[2021-04-07 15:06] eddiejaoude commented on #112
@Vyvy-vi you are right 👍 this is now done - thanks 🤓

[2021-04-07 15:06] #112 closed

[2021-04-07 16:22] eddiejaoude commented on #459
I think I will close this issue for now, until we have a better idea of improvements - comments can still be made on this issue

It is very difficult to get the context correct

[2021-04-07 16:22] #459 closed

[2021-04-08 00:36] #419 closed

[2021-04-08 06:23] eddiejaoude commented on #477
any ideas for names of the 2 roles?

- `opensource` (with notification)
- `opensource-no-notify` or `open source-silent` or `open source-quiet` (no notification)

[2021-04-08 06:25] eddiejaoude commented on #479
I agree 👍

[2021-04-08 07:38] kcoder63 commented on #477
`opensource-stealth-mode` `opensource-incognito` ?  I'd go with `opensource-no-notify`

[2021-04-08 12:12] sreekaransrinath opened #483 "Flags `tinker` as profane."
**Description**

The word `tinker`, even when used to mean repair/configure, is flagged as profanity by the bot.

**Screenshots**

![image](https://user-images.githubusercontent.com/50989977/114024479-b9cf9100-9891-11eb-8730-bc98470cecd0.png)

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-04-09 01:52] #418 closed

[2021-04-10 22:10] eddiejaoude commented on #480
Sure I can add it, I have not seen people using the short links though. Why do they need to be shortened, I like see seeing the full urls of github projects

[2021-04-10 22:13] eddiejaoude commented on #480
I have update `NightBot`'s rules

[code]

[2021-04-10 22:13] #480 closed

[2021-04-11 13:55] Vyvy-vi commented on #477
Or can we just make-
`opensource`
and
`opensource-reminder`

[2021-04-11 13:55] Vyvy-vi commented on #477
We can tie the reminder functionality to `opensource-reminder`

[2021-04-11 13:57] Vyvy-vi commented on #450
Are we using DataStax for https://github.com/EddieHubCommunity/api ?

[2021-04-13 22:53] Vyvy-vi commented on #343
I think this is still a viable option

[2021-04-15 01:52] #263 closed

[2021-04-15 01:52] #334 closed

[2021-04-15 01:52] #136 closed

[2021-04-16 01:53] #262 closed

[2021-04-16 01:53] #101 closed

[2021-04-18 06:08] AadityaMunjal opened #486 "Getting opensource DMs from the bot even though I removed my opensource role"
**Description**
I removed my opensource role but I'm still getting DM's to contribute to opensource.

**Screenshots**
Remove the role
![image](https://user-images.githubusercontent.com/69916707/115135965-36086800-a03a-11eb-9170-e0a534c0f8b5.png)
I don't have the role now
![image](https://user-images.githubusercontent.com/69916707/115135859-5edc2d80-a039-11eb-8690-01de70a8c723.png)
But I'm getting

[2021-04-18 09:15] eddiejaoude commented on #486
Oh sorry for that. Let me check the latest is deployed. When we move to the new bot with auto deployment things will be better

[2021-04-19 13:37] nhcarrigan commented on #344
I think this is no longer relevant with the rebranding?

[2021-04-19 18:56] #344 closed

[2021-04-20 02:23] nhcarrigan commented on #389
Still required, thanks.

[2021-04-20 23:38] #483 closed

[2021-04-21 01:53] #72 closed

[2021-04-21 06:25] mikeysan commented on #339
I'm pretty sure we still want this.

[2021-04-21 14:06] nhcarrigan commented on #439
We still need this, stalebot.

Maybe I'll push up a basic one today.

[2021-04-21 14:07] nhcarrigan commented on #206
Still needed :)

[2021-04-21 16:22] starlightknown commented on #477
Good idea and I think we can implement it soon since the bot's down now. Hopefully people don't mark it as spam again and make it crash

[2021-04-25 05:30] AadityaMunjal commented on #486
I'm not getting the DMs from 6 days, I think it's fixed. Thanks!

[2021-04-25 05:31] #486 closed

[2021-04-25 20:31] schmelto opened #487 "Update Discord Invitation Links"
Chang to http://discord.eddiehub.org

- [x] readme.md (#489)
- [x] /.github/ISSUE_TEMPLATE/bug.md (#488) (#489)
- [x] /.github/ISSUE_TEMPLATE/docs.md (#489)
- [x] /.github/ISSUE_TEMPLATE/ideas.md (#489)

see [here](https://github.com/EddieHubCommunity/EddieHubCommunity.github.io/issues/163)

[2021-04-26 01:57] #384 closed

[2021-04-26 06:10] toth2000 commented on #386
I would love to work on this issue but I am new to javascript and typescript and I will require guidance. I have figured that EddieBot/src/commandHandlers/bio.ts is required to be updated, right?. But I am unable to figure what changes are to be made. Thank you for the help and guidance in advance.

[2021-04-26 12:48] bishalr0y commented on #487
Hey, can I work on this issue?

[2021-04-26 15:00] schmelto commented on #487
sure :) just open a PR for (one ore more of) the open items above 👍🏼

[2021-04-27 11:02] kaiwalyakoparkar opened #490 "Creating a reminder functionality or an Entire Reminder bot!"
**Description**

*From the #ideas channel on discord*

- We can create a bot that takes a **Statement/ idea and time intervals** as input.
- Then it **reminds** specific Team members/ Eddie/ Community about that idea at the given time intervals with the reference like to the entire conversation.

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-04-27 11:10] yashsehgal commented on #490
That's a nice feature to be implemented. Can you tell me how to get started with the implementation of this feature?

[2021-04-30 22:31] eddiejaoude commented on #295
I think it will need to be unit tests, because e2e tests with websockets do not seem to work well

[2021-04-30 22:33] eddiejaoude commented on #476
I raised this on the API https://github.com/EddieHubCommunity/api/issues/84

[2021-05-01 02:30] #323 closed

[2021-05-06 09:24] eddiejaoude commented on #450
I think it could be interesting, we are currently still spiking it

[2021-05-06 15:55] Vyvy-vi opened #493 "Push new bot to github"
**Description**

There's a re-write that the EddieHub is going to undergo. We could ensure the faster migration of old functionality to the new version if the current running bot's code is pushed to this repo. Moreover, it would be great if we keep the old code in a new branch called `archive` or something

Moreover, the current bot isn't doing much(except the Alexjs part)

**Additional Context**

[2021-05-06 16:02] Cahllagerfeld commented on #493
If you know how to migrate Repos, we can migrate it from me to Eddiehub

[2021-05-06 16:09] Cahllagerfeld commented on #493
[this](https://github.com/Cahllagerfeld/nestjs-discord-alex.js) is the Repo, where it currently lives in.

[2021-05-07 18:57] nhcarrigan commented on #493
This is done now, I believe. Feel free to reopen if I'm wrong.

[2021-05-07 18:57] #493 closed

[2021-05-07 18:59] Vyvy-vi commented on #493
closed by
https://github.com/EddieHubCommunity/EddieBot/commit/5c4b51b0774cbe5c6c4a1da3bfa09f266a6503ca
https://github.com/EddieHubCommunity/EddieBot/commit/5c4b51b0774cbe5c6c4a1da3bfa09f266a6503ca

[2021-05-07 19:08] Cahllagerfeld opened #494 "Refactor current nestjs bot"
**Description**

Refactor current nestjs bot, to get a clean base when starting it

[2021-05-07 20:56] #487 closed

[2021-05-07 20:58] Cahllagerfeld opened #496 "Add License to package.json"
**Description**

Currently the license in `package.json` is `UNLICENSED`

[2021-05-07 21:19] schmelto commented on #496
I would say MIT

[code]

or

[code]

-> see [here](https://docs.npmjs.com/cli/v7/configuring-npm/package-json)

[2021-05-07 21:21] schmelto opened #497 "change discord invite link in description"
**Description**

Think the link here should also be http://discord.eddiehub.org

**Screenshots**

![image](https://user-images.githubusercontent.com/30869493/117509614-d6431400-af8a-11eb-8143-e995a349cb72.png)

[2021-05-07 21:45] eddiejaoude opened #498 "Features enable / disable in DB"
**Description**

Enable / disable features with admin command, some servers may not want all the features.

[2021-05-07 21:47] eddiejaoude opened #499 "AlexJS ignore list to be stored in the DB"
**Description**

Different servers might want different AlexJS ignore list

[2021-05-07 21:50] nhcarrigan commented on #499
I'd expand that to make the feature itself togglable. Some servers might want to disable the feature entirely.

[2021-05-07 22:03] #494 closed

[2021-05-07 22:09] eddiejaoude opened #500 "Create Labels Action"
**Description**

**Screenshots**

**Additional Context**

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-05-07 22:10] #500 closed

[2021-05-07 22:18] eddiejaoude opened #501 "Changelog + release GitHub Action"
**Description**

**Screenshots**

**Additional Context**

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-05-07 22:20] #501 closed

[2021-05-08 09:18] eddiejaoude opened #505 "Run lint, build, tests and on CI"
**Description**

**Screenshots**

**Additional Context**

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-05-08 09:18] #505 closed

[2021-05-08 09:23] eddiejaoude commented on #499
yep great idea 👍 this might be covered by #498

[2021-05-08 09:24] eddiejaoude opened #507 "Release not created by Action"
Step skipped ...

[code]

https://github.com/EddieHubCommunity/EddieBot/runs/2533837373?check_suite_focus=true

[2021-05-08 09:26] eddiejaoude opened #508 "fix issue template label"
**Description**

**Screenshots**

**Additional Context**

Join Eddie's discord community [here](http://discord.eddiehub.org)

[2021-05-08 09:26] eddiejaoude opened #509 "test"
**Description**

**Screenshots**

**Additional Context**

Join Eddie's discord community [here](http://discord.eddiehub.org)

[2021-05-08 09:26] #509 closed

[2021-05-08 09:26] #508 closed

[2021-05-08 09:27] eddiejaoude opened #510 "fix documentation template"
**Description**

**Screenshots**

**Additional Context**

Join Eddie's discord community [here](http://discord.eddiehub.org)

[2021-05-08 09:27] #510 closed

[2021-05-08 09:28] eddiejaoude opened #511 "label for ideas template"
**Description**

**Screenshots**

**Additional Context**

Join Eddie's discord community [here](http://discord.eddiehub.org)

[2021-05-08 09:28] #511 closed

[2021-05-08 09:34] schmelto commented on #507
Think this is coorect due it does not have any conventional commit messages. In this merge as far as I see.

[2021-05-08 22:24] eddiejaoude commented on #114
New API using NestJS has a testing framework 🎉

[2021-05-09 01:48] starlightknown commented on #490
I can build a  separate bot for remainders but the language might be different and maybe Eddie can directly implement it in this bot itself instead of a whole different bot for just remainders

[2021-05-09 03:37] kaiwalyakoparkar commented on #490
@starlightknown That's true. Anyways EddieBot 2.0 is out. We can put in this feature to it

[2021-05-09 11:04] Vyvy-vi commented on #490
I think we can maybe implement this directly in Eddiebot2.0, after we set up the project to use MongoDB and while we're working on this, we can choose an appropriate time-library(related to #309) and also work on the timezones feature.

[2021-05-09 11:06] Vyvy-vi commented on #498
What is the decided schema for the Mongo instance that holds all the data from the bot?

[2021-05-09 15:46] Arun-kc commented on #497
Is this up for grab?  @schmelto

[2021-05-09 16:10] Arun-kc commented on #497
Oh! ok @starlightknown, I wasn't aware of that 😂

[2021-05-09 16:12] starlightknown commented on #497
No worries :)

[2021-05-10 06:42] starlightknown opened #512 "bot triggered at the word "add""
**Description**

I don't think the word `ADD` is insensitive or rude. Can we add it to ignore list?

**Screenshots**
![add](https://user-images.githubusercontent.com/74637789/117616580-ed4f5500-b188-11eb-8fca-6518c81d412a.png)

**Additional Context**

Join Eddie's discord community [here](http://discord.eddiehub.org)

[2021-05-10 07:49] kaiwalyakoparkar commented on #496
Should I work on this issue?

[2021-05-10 07:51] kaiwalyakoparkar commented on #496
Can you assign that to me?

[2021-05-10 07:51] verma-kunal commented on #496
can i also work here ? if thats possible !!

[2021-05-10 07:53] verma-kunal commented on #496
i guess @kaiwalyakoparkar would handle this !!
No worries !!🙂

[2021-05-10 07:58] kaiwalyakoparkar commented on #496
Thanks! You can solve other issues tho :wink:

[2021-05-10 08:18] #512 closed

[2021-05-10 08:22] schmelto opened #514 "Reorder the AlexJS whitelist alphabetically"
Maybe we should consider reorder the whitelist alphabetically @Cahllagerfeld? This would also make a good first issue 🚀

_Originally posted by @schmelto in https://github.com/EddieHubCommunity/EddieBot/issues/513#issuecomment-836351746_

[2021-05-10 08:24] Cahllagerfeld commented on #514
Do you want to work on this, or post it to the channel?

[2021-05-10 08:25] kaiwalyakoparkar commented on #496
@Cahllagerfeld The issue is fixed. Have a look at it please

[2021-05-10 08:27] verma-kunal commented on #514
may i work on this ?!

[2021-05-10 08:29] Cahllagerfeld commented on #496
fixed with #515

[2021-05-10 08:29] #496 closed

[2021-05-10 08:33] Cahllagerfeld commented on #514
Sure!

[2021-05-10 08:35] verma-kunal commented on #514
so, there is a list of items in `allow: [` !!
we have to arrange them alphabetically, right ?

[2021-05-10 08:38] Cahllagerfeld commented on #514
exactly :D

[2021-05-10 08:44] Cahllagerfeld commented on #514
closed with #516

[2021-05-10 11:15] Cahllagerfeld opened #517 "adjust Readme"
The current Readme is in large parts the one which got genereated with `nest-cli`.
We could transform it to use the 'Eddiehub-Look-and-Feel'

[2021-05-10 14:49] Cahllagerfeld opened #518 "database-connection"
As we (fortunately) dont use Firebase any more, we need another database. Do we need to spike if its Datastax or MongoDB?

[2021-05-11 08:22] mstanciu552 commented on #518
I know MongoDB is used as the go to NoSQL Database.
But I've been looking through Datastax Docs and it seems to be making use of Graph algorithms to improve efficiency.
I don't know if it's as simple to implement as MongoDB, but it looks pretty cool.

Does anyone have any recommendation?

[2021-05-11 18:12] nhcarrigan opened #520 "[BUG] - Outdated link in Alex.js embeds"
**Description**

When the bot fires an Alex.js embed, the link in the embed footer is the outdated `EddieJaoudeCommunity` link. This needs to be updated.

**Screenshots**

![image](https://user-images.githubusercontent.com/63889819/117864501-bbea8e00-b249-11eb-95f6-f8ed878bb802.png)

**Additional Context**

Join Eddie's discord community [here](http://discord.eddiehub.org)

[2021-05-11 18:15] nhcarrigan commented on #520
## Good First Issue

Thank you for reporting this issue. This looks something that can be fixed by first time contributors to this repository. If you have already made a contribution to this project, please reserve this issue for a new contributor.

Here are the steps to resolve this issue:

- Within the `src/config.ts` file:
  - Modify the text in line 41:
  - Replace `https://github.com/EddieJao

[2021-05-11 18:33] Cahllagerfeld opened #521 "[Discussion] Config as Global Injectable"
Nestjs provides the opportunity to globally Inject Modules. We could create our own `Eddiebot-Config-Module` for example, which gets provided globally. On the other hand is the current workflow (importing the config in the files where its needed) probably easier for beginners with nestjs. What do you think about that? - This issue is meant for discussion

[2021-05-11 18:39] nhcarrigan commented on #521
I could see the benefit of global "helper" functions (a good one being a substring function to allow us to ensure embed fields don't exceed limits), but those could also be attached to the config object as methods.

[2021-05-11 18:46] verma-kunal commented on #520
May i fix this issue ?

[2021-05-11 18:47] nhcarrigan commented on #520
This issue is reserved for first time contributors, and it looks like you have made pull requests to this project before. Would you mind leaving this for someone who has not made any contributions yet?

[2021-05-11 18:47] verma-kunal commented on #520
Yeah sure!! No worries 👍

[2021-05-11 18:49] Cahllagerfeld commented on #521
I'm not experienced enough or never made any benchmarks on such a topic, so I cannot make a reliable statement about this :( I just wanted to hear different opinions on that topic

[2021-05-12 02:52] shubhendumadhukar commented on #520
@nhcarrigan If this issue is still open, I have created a pull request: https://github.com/EddieHubCommunity/EddieBot/pull/522

[2021-05-12 05:15] Cahllagerfeld commented on #520
closed with #522

[2021-05-12 05:15] #520 closed

[2021-05-12 09:22] Vyvy-vi commented on #518
I was wondering if we would use the Community API's endpoints and the same db to store data

[2021-05-12 09:40] Cahllagerfeld commented on #518
Thats true :D I had that thought as well :D I just wanted to discuss this :D

[2021-05-12 10:05] Cahllagerfeld commented on #518
@Vyvy-vi Do you know if Eddiebot is just for our discord, or is there a plan to make the bot invitable to other servers as well?

[2021-05-13 06:13] Vyvy-vi commented on #518
I think the initial plan was that the bot be used in our discord, but there were a few discussions about making multi server config on the bot

[2021-05-13 06:37] Cahllagerfeld commented on #518
If we make it a multi-server-bot I dont know if its a good Idea to make the Api-Deployment a prerequisite for running the bot tbh.

[2021-05-13 09:38] schmelto opened #524 "remove the firebase badge"
![image](https://user-images.githubusercontent.com/30869493/118108007-c0e14600-b3df-11eb-9c90-bf2b7cacd838.png)

[2021-05-13 09:39] schmelto commented on #497
@eddiejaoude  I think only you can change this link 🤔

[2021-05-15 11:48] eddiejaoude opened #525 "Use release token for Action instead of default"

[2021-05-15 11:49] #525 closed

[2021-05-15 11:54] eddiejaoude opened #526 "Create docker file for containerisation"
**Description**

**Screenshots**

**Additional Context**

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-05-15 11:54] #526 closed

[2021-05-15 11:57] eddiejaoude opened #527 "Kubernetes config"
**Description**

**Screenshots**

**Additional Context**

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-05-15 11:57] #527 closed

[2021-05-15 11:59] eddiejaoude opened #528 "GitHub Action to publish docker container to GH Register and deploy to Kubernetes cluster"
**Description**

**Screenshots**

**Additional Context**

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-05-15 11:59] #528 closed

[2021-05-15 14:57] eddiejaoude opened #534 "Version command"
Check what version is deployed

[2021-05-15 17:11] #534 closed

[2021-05-16 10:34] eddiejaoude commented on #507
This is now fixed 🎉

[2021-05-16 10:34] #507 closed

[2021-05-16 10:35] eddiejaoude commented on #524
omg yes 👍

[2021-05-16 10:36] eddiejaoude commented on #524
Fixed 🎉

[2021-05-16 10:36] #524 closed

[2021-05-16 13:14] #461 closed

[2021-05-17 10:58] eddiejaoude commented on #414
This has be done here https://github.com/EddieHubCommunity/EddieBot/pull/537

Deployed https://github.com/EddieHubCommunity/EddieBot/actions/runs/849483445

[2021-05-17 10:58] #414 closed

[2021-05-20 16:43] Vyvy-vi commented on #518
Yes, that would be unecessary

[2021-05-20 17:09] Vyvy-vi commented on #452
I think since we're using becca for the roles, perhaps it would be best if we add this to Becca's config.
I'm not sure when(or rather if) we implement the role assignment feature to EddieBot.

Closing this issue for now. Thanks for contributing to EddieBot! :tada:
you still get the 🟩  :)

[2021-05-21 18:18] Souvikns opened #541 "Open GitHub discussions right from discord"
**Description**
As of now, only GitHub links are shareable in the community, this makes sharing useful links and answering someone's question a lit bit difficult. I came across [this](https://docs.github.com/en/graphql/guides/using-the-graphql-api-for-discussions#creatediscussion) and I think we can use GitHub discussions to streamline our communications in the server.

We can make a slash command

[2021-05-21 20:24] eddiejaoude commented on #32
I think this is now covered by BeccaBot

[2021-05-21 20:25] nhcarrigan commented on #32
Becca does Discord levels, I think this one is for GitHub activity?

[2021-05-21 20:29] Cahllagerfeld commented on #541
I like this idea.
The link you shared refers to the GraphQL-Endpoint Github Provides.
Thats the discussion-link for using the [Rest-Api](https://docs.github.com/en/rest/reference/teams#create-a-discussion).
I think as this doesnt rely on our api, this is probably implementable.

What do you think about that @Vyvy-vi

[2021-05-21 21:16] eddiejaoude commented on #389
Is this still required with the new bot?

[2021-05-21 21:17] nhcarrigan commented on #389
I think there are some good implementation notes in here if we are migrating the issue command to the new bot.

Otherwise, no it's no longer necessary 🙂

[2021-05-22 06:41] schmelto commented on #541
Sounds good to me

[2021-05-22 06:44] Souvikns commented on #541
I would love to work on this.

[2021-05-22 07:07] Vyvy-vi commented on #541
This would be awesome!

[2021-05-22 21:40] eddiejaoude commented on #386
thanks @toth2000 , there is a new version of the bot, so this ticket is now out of date. It is still written in js/ts, but it is a good place to get involved as the project is a lot smaller at the moment 🤓

[2021-05-22 22:15] eddiejaoude commented on #339
yep we still want this 👍

[2021-05-23 13:40] Vyvy-vi commented on #165
Still needed, stalebot :)

[2021-05-23 13:57] Vyvy-vi commented on #386
I think, perhaps we should close this issue, since the bio command might be rebuilt, in order to reflect the changes from using the API?

[2021-05-23 14:00] Vyvy-vi commented on #405
I think this can be closed, as this was resolved by 81b9584cf8e87989f8e3754959367643f6a1ff72

[2021-05-23 14:00] #405 closed

[2021-05-24 23:19] Vyvy-vi commented on #32
I think perhaps the levels, etc. should be maintained by the API(since that connects to both github, discord and the db)?

[2021-05-27 03:23] shubhendumadhukar opened #543 "Refactoring alex.service.ts"
**Description**

In alex.service.ts https://github.com/EddieHubCommunity/EddieBot/blob/99b9f521763a103a0aa647bc97aae4f95ec7ffa0/src/alexjs/alex.service.ts#L24
should we be using a regex for splitting the content? (eg. `[ ]+`). This would make following redundant.
https://github.com/EddieHubCommunity/EddieBot/blob/99b9f521763a103a0aa647bc97aae4f95ec7ffa0/src/alexjs/alex.service.ts#L14

Or we could

[2021-05-30 15:13] Vyvy-vi commented on #404
I think there's still room for discussion over this
:P Stale-bot is a bit too pro-active

[2021-05-30 15:19] metaverde commented on #404
I think "child" is more offensive than "son" or "daughter" when referring to my own child.
I do see, especially in translation, that children sometimes get called "sons" as a generic term, which it is not.
Also, I pretty much only use "he" when referring to my son.
There are some family triggers referring to adult children as children.
Adults are not children.
I will probably never say "My child c

[2021-05-30 15:21] metaverde commented on #404
"Child" carries an implication of lesser status, dependency, or of not being finished yet.

[2021-05-30 16:22] metaverde opened #545 ""Jesus" is a name and shouldn't be tagged."
My son, the now infamous "not a child" son, is named Jesus, said like it's Spanish.
[You'll see here it is the sixth most popular boy's name in Mexico.](https://www.babycenter.com/0_most-common-baby-names-in-mexico_10341179.bc#articlesection3l)

Every Chuy you meet is a Jesus.

[2021-05-31 10:00] Vyvy-vi commented on #342
I think this is still broken ._.
Stalebot, this is still needed 🙃

[2021-06-01 07:27] Vyvy-vi commented on #396
I think this is still needed, salebot 🤓

[2021-06-01 07:29] Vyvy-vi commented on #360
Since that command is removed, and we'll move to the API and remake the bot.. I think it's safe to close this issue

[2021-06-01 07:29] #360 closed

[2021-06-01 07:30] Vyvy-vi commented on #342
Since, that workflow was removed, I think it's safe to close this issue.

[2021-06-01 07:31] #342 closed

[2021-06-01 07:34] Vyvy-vi commented on #24
Since we shifted to the API for data collection, and are re-making the bot, I think it's safe to close this issue

[2021-06-01 07:34] #24 closed

[2021-06-02 07:04] ItsMeIshan opened #547 "EddieBot is not allowing "fellow" word!"
**Description**

As we know that EddieBot would be monitoring language used on the discord server, to ensure the inclusive and welcoming language in the discord server. But it is not allowing the word "fellow" which is not part of bad language at all.
**Screenshots**
![Screenshot 2021-06-02 at 12 32 30 PM](https://user-images.githubusercontent.com/65131563/120438334-df16e200-c39e-11eb-979a-9640c65

[2021-06-02 10:02] avinashupadhya99 opened #549 "Send welcome message to new Hubbers on Discord"
**Description**

The following message can be sent via DM to folks who join the EddieHub discord server -

**Additional Context**

N/A

Join Eddie's discord community [here](http://discord.eddiehub.org)

[2021-06-02 10:45] eddiejaoude opened #550 "Added sir to not allowed list"
**Description**

**Screenshots**

**Additional Context**

Join Eddie's discord community [here](http://discord.eddiehub.org)

[2021-06-02 10:45] #550 closed

[2021-06-02 11:38] #545 closed

[2021-06-02 11:44] Vyvy-vi commented on #547
closed by 1a9462c870e60dfd7e1146639c08cee4b0ea7476

[2021-06-02 11:44] #547 closed

[2021-06-02 11:56] Vyvy-vi commented on #476
Or, maybe we can have these posted in a github discussion(graphql might allow us to construct the content for the discussion message)?

[2021-06-02 12:03] Vyvy-vi commented on #397
This would be great to consider, once we start re-building the tips

[2021-06-02 12:05] Vyvy-vi commented on #450
Since we'e using the API, should this be closed?
(are we using a db for something else?)

[2021-06-02 12:06] Vyvy-vi commented on #387
Since we're re-writing the docs, maybe it's safe to close this issue.

[2021-06-02 12:06] #387 closed

[2021-06-02 16:13] Cahllagerfeld opened #552 "Alex only matches one word of the Eddiehub-Blacklist"
![grafik](https://user-images.githubusercontent.com/43843195/120515067-3b452a80-c3ce-11eb-974c-dfb09760c950.png)

[2021-06-03 08:39] #552 closed

[2021-06-07 08:28] Vyvy-vi commented on #403
I think this issue can be closed, since the `tips` command is no longer a part of Eddiebot, as of now...

[2021-06-07 08:28] #403 closed

[2021-06-10 22:33] Vyvy-vi commented on #197
Considering that we're gonna re-write the README, this can be closed. (I _think_)

[2021-06-10 22:33] #197 closed

[2021-06-11 15:30] eddiejaoude commented on #339
Working on this on todays live stream 🎉

[2021-06-11 17:27] #339 closed

[2021-06-11 17:36] nhcarrigan commented on #549
Welcome DMs are poor UX and likely to cause a bot to get quarantined by Discord TnS.

[2021-06-11 17:39] starlightknown opened #557 "deleted message with non inclusive language won't delete bot warning"
**Description**

If a person says `hey guys` and bot gets triggered and then they delete the message later, the warning will not get deleted
**Screenshots**

**Additional Context**

Join Eddie's discord community [here](http://discord.eddiehub.org)

[2021-06-11 17:40] Vyvy-vi commented on #339
nice

[2021-06-11 17:41] nhcarrigan commented on #557
We will need to add a new event listener for the `messageDelete` event to handle this.

Would be an approach like:

[code]

[2021-06-13 17:28] starlightknown opened #559 "Bug: Bot flags women but not men"
**Description**
Bot flagged women but not men.
Adding it to prevent words list

**Screenshots**
![Screenshot_2021-06-13-22-51-37-487_com discord](https://user-images.githubusercontent.com/74637789/121816745-f7d6a000-cc9a-11eb-9251-5e7ac2b425a8.jpg)

**Additional Context**

Join Eddie's discord community [here](http://discord.eddiehub.org)

[2021-06-13 17:59] #559 closed

[2021-06-15 18:59] starlightknown opened #561 "Bot flags the word men but not man"
![Screenshot_2021-06-16-00-30-31-632_com discord](https://user-images.githubusercontent.com/74637789/122108740-2e96ec80-ce3a-11eb-8e2a-659e67ad8b61.jpg)
**Description**

The bot should flag both men and man but it just flags men
**Screenshots**

**Additional Context**

Join Eddie's discord community [here](http://discord.eddiehub.org)

[2021-06-18 05:31] Cahllagerfeld commented on #561
I'm a little surprised about this, but if `man` needs to be blacklist we should put it on the eddiehub-custom-list then I think

[2021-06-21 04:05] Vyvy-vi commented on #206
We still need this stakebot 🤓

[2021-06-21 22:27] eddiejaoude commented on #490
Looks like a good feature to add 👍

[2021-06-23 17:55] #557 closed

[2021-06-23 17:55] eddiejaoude commented on #561
Yep 👍 , that is a good first issue for the custom list

[2021-06-23 17:57] eddiejaoude commented on #561
Steps, add to list of words on this line https://github.com/EddieHubCommunity/EddieBot/blob/main/src/config.ts#L4

[2021-06-24 05:24] #561 closed

[2021-06-24 06:34] eddiejaoude commented on #561
Thanks all 💪

[2021-06-25 05:29] eddiejaoude commented on #521
Ideally the config will need to be moved to the DB, so the bot can be run on multiple servers with different settings

[2021-06-25 06:45] eddiejaoude opened #564 "Get the API version number"
We are slowly moving to using the API. It would be good t o check which version of the API is being used.

**Command:**
[code]

**Result:**
Display in Discord the result from the API on http://api.eddiehub.org
[code]

**Tasks**
1. [x] New Discord command
2. [x] Service to get API data
3. [ ] Move API url to config

[2021-06-25 16:53] #564 closed

[2021-06-25 18:25] eddiejaoude opened #567 "API version command crashes bot"
Need to check Kubernetes logs to understand why it causes the bot to crash (works locally with the prod API)

[2021-06-25 22:09] eddiejaoude commented on #567
Log output...

[code]

[2021-06-25 23:28] sidpalas commented on #567
The discord bot should be able to use the public external hostname, but it would be preferrable to use a service of type ClusterIP for intra cluster communication (https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types)

[2021-06-25 23:48] eddiejaoude commented on #567
Thank you 👍 I will have a play 🤓

[2021-06-26 21:43] eddiejaoude commented on #518
Is this done now?

[2021-06-26 21:46] eddiejaoude commented on #452
I think we should keep this feature in Becca bot. We can add different features to EddieBot

[2021-06-26 22:00] eddiejaoude commented on #165
yep definitely still needed 👍

[2021-06-26 22:01] eddiejaoude commented on #386
Yep it will be re-written. Maybe we close this for now.

[2021-06-26 22:01] #386 closed

[2021-06-30 21:09] eddiejaoude commented on #497
Thank you! 👍  I have now updated it

[2021-06-30 21:09] #497 closed

[2021-06-30 22:15] eddiejaoude commented on #32
It would be good for the API to have this data. I don't want to replicate the features of Becca bot. I wonder if we can somehow get the data into the API?

[2021-06-30 22:31] eddiejaoude commented on #543
Thanks for the suggestion 👍

[2021-07-01 14:00] kaiwalyakoparkar opened #570 "Bot prompted for the word 'Kushi'"
Ref: EddieHub community discord #general channel. When one of the community member welcomed a new member named "Kushi". The bot flagged the word as **non-inclusive**

ref Image
![Screenshot from 2021-07-01 20-03-24](https://user-images.githubusercontent.com/53310847/124142199-a7877c80-daa7-11eb-9cc8-52aa09915c8d.png)

[2021-07-02 13:11] Cahllagerfeld commented on #570
Do you want to implement this yourself?

[2021-07-02 13:30] kaiwalyakoparkar commented on #570
Hey, @Cahllagerfeld I would really like to do that. I am much new to this but would love to do that with your guidance.

[2021-07-02 13:35] schmelto commented on #570
Take a look here https://www.github.com/EddieHubCommunity/EddieBot/tree/main/src%2Fconfig.ts and add the word to the allowed list

[2021-07-02 13:36] kaiwalyakoparkar commented on #570
Thanks, @schmelto, Should I wait until I get it assigned?

[2021-07-02 13:41] Cahllagerfeld commented on #570
assigned it!

[2021-07-02 13:43] kaiwalyakoparkar commented on #570
Thank you @Cahllagerfeld

[2021-07-02 18:52] Cahllagerfeld commented on #570
closed with #572

[2021-07-02 18:52] #570 closed

[2021-07-02 20:53] eddiejaoude commented on #570
Great collab 💪

[2021-07-02 23:56] eddiejaoude commented on #476
GitHub Discussion started here https://github.com/EddieHubCommunity/support/discussions/1618

[2021-07-03 00:04] eddiejaoude commented on #450
Thank you! Moved to the API https://github.com/EddieHubCommunity/api/issues/156

[2021-07-03 00:04] #450 closed

[2021-07-03 20:47] eddiejaoude commented on #567
I ssh onto the pod and it can ping the API, so not sure why when node does it, it then fails 🤔

**Bot -> API**
[code]

[2021-07-03 21:51] eddiejaoude commented on #567
I tried so many things, I got it working, but maybe this is a stupid move, I ssh'd on to the server and wrote a small js script to test all the options out. I got it to work with the service name, is that allowed? 🤷‍♂️

[code]

[2021-07-03 22:18] sidpalas commented on #567
Using the service name is the correct way to do it: https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/

If you are in the same namespace you can use just the service name:
    `http://eddiehub-api-service:3000`

If the discord bot were in a different namespace you would need to specify the namespace of the service:
    `http://eddiehub-api-service.<OTHER-NAMESPACE>:3000`

or

[2021-07-03 22:21] eddiejaoude commented on #567
ok great, thank you for clarifying 👍 .

I added a new environment variable to the Kubernetes deployment, but now it won't deploy `Error: RolloutStatusTimedout`, not sure what I broke. I will take a look in the morning.

[code]
https://github.com/EddieHubCommunity/EddieBot/runs/2980760549?check_suite_focus=true

[2021-07-03 22:25] sidpalas commented on #567
Not sure what the error is, but also you don't need to put things like the API URL into a secret (I noticed `<set to the key 'API_URL' in secret 'api-url'>`)

https://kubernetes.io/docs/tasks/inject-data-application/define-environment-variable-container/#define-an-environment-variable-for-a-container

Those can be directly in the discord bot deployment YAML since it is not sensitive. Adding the se

[2021-07-03 22:34] eddiejaoude commented on #567
You are right, it is not a secret. I kept it the same as the others to try and keep things consistent. I did add it to the GitHub secrets and the deployment yaml https://github.com/EddieHubCommunity/EddieBot/commit/a0b1e240bf13a388d8ce07aefc99e4db8e15f7dc

I think that was everywhere I needed to add it

[2021-07-03 23:34] eddiejaoude commented on #567
It doesn't like my new config `Error: secret "api-url" not found`

[code]

[code]

[2021-07-03 23:35] eddiejaoude commented on #567
Oh I forgot to let Kubernetes know about the secret 🤦‍♂️

I forgot to do this
[code]

Ok it works now 🎉

[2021-07-03 23:35] #567 closed

[2021-07-03 23:35] eddiejaoude commented on #567
<img width="558" alt="Screenshot 2021-07-04 at 00 35 26" src="https://user-images.githubusercontent.com/624760/124369074-c29cec80-dc5f-11eb-8dc4-6524bbb42967.png">

[2021-07-03 23:37] eddiejaoude commented on #567
Thanks @sidpalas 👍 - you make it all look so easy when we are pairing 😎

[2021-07-06 08:23] eddiejaoude opened #573 "Content-share channel limits how many times people can share links"
Some people share too many links in `content-share` / `achievements` and it is starting to becoming spammy

I think we should limit to maybe 2-3 per week, to help increase the quality of the links people share, not every tweet for example

[2021-07-06 12:39] ashwinexe commented on #573
It'd be great if bot, or feature added to limit links could also show the `Number of Shares` they've left so people can plan accordingly.

[2021-07-06 13:17] Cahllagerfeld commented on #573
Lets try to specify it a bit more 😄:

1. We need to track every message send to a specific channel (the ID should be customizable in env-vars) and map them to the user who actually sent the message
2. What should happen if the user exceeds the limit of 3 messages per week? Is the message auto-deleted by the bot?
3. We need to schedule a reset, preferably with a cronjob, where the tracked messages

[2021-07-06 13:27] eddiejaoude commented on #573
Good points 👍 Each server will want different limits for this.

Feature requirements:
- server enable/disable features (applies to AlexJS too)
- config limits for this feature
- I think keep it simple and apply to all channels in the Discord server
- if limit reached delete the message
- the user can go to `bot-chat` to run command to get their stats (API will need updating to have this informatio

[2021-07-06 13:27] nhcarrigan commented on #573
Rather than putting this in `env` variables, why not make it a configurable item and store the setting in the DB?

[2021-07-06 14:22] eddiejaoude commented on #573
Yep, I think we can start moving these types of data to the DB (from envars and config)

Each module can have a config endpoint for
- enable/disable
- other config of key / value pairs

[2021-07-10 00:07] Panquesito7 commented on #517
Working on it. @eddiejaoude, should we write the features of the bot, how does it work, how to contribute, etc.?

[2021-07-10 10:08] Vyvy-vi commented on #458
I guess we can close this issuse for now, since this command was removed.

[2021-07-10 10:08] #458 closed

[2021-07-10 10:08] Vyvy-vi commented on #233
I guess we can close this issue, since the timezone feature was removed

[2021-07-10 10:08] #233 closed

[2021-07-10 10:09] Vyvy-vi commented on #309
I think this can be closed since we'd be rebuilding this feature

[2021-07-10 10:09] #309 closed

[2021-07-12 14:49] Vyvy-vi commented on #573
So, I think this relies on #157 ?
Once we split colnfig up, we can start implementing this?

[2021-07-13 19:53] schmelto opened #574 "Bot messages when github community hits 1000 members"
Join Eddie's discord community [here](http://discord.eddiehub.org)

[2021-07-14 17:09] Cahllagerfeld opened #575 "[Feature] Check Roles in some commands"
**Description**

When the APIs stores configuration-data we probably need some commands that can edit the config.
In my opinion we need to provide a check-functionality which checks if the user has a certain roles before executing requests which may affect the config-object in the database for example.
Maybe there are also other use-cases for that.

[2021-07-15 02:11] #477 closed

[2021-07-15 02:11] #255 closed

[2021-07-15 02:11] #439 closed

[2021-07-15 02:11] #113 closed

[2021-07-16 02:13] #114 closed

[2021-07-21 08:47] adityaraute commented on #549
So close the issue?

[2021-07-21 08:49] adityaraute commented on #517
Sounds like a good idea

[2021-07-26 05:54] #574 closed

[2021-07-26 22:16] eddiejaoude commented on #403
Thanks @Vyvy-vi 👍

[2021-07-27 20:24] nhcarrigan commented on #549
Hey there,

We're going to go ahead and close this issue.

[2021-07-27 20:24] #549 closed

[2021-07-31 09:51] adi-code22 opened #578 "Warning message should have an action message"
### Description

We should add a text warning message asking the users to delete a particular message flagged by the BOT.

### Screenshots

_No response_

### Additional information

I just got into the server and unintentionally used a word "Guys", this was flagged and no warning was made to edit the message, so that the user ignores that warning.
We should add a warning message so that the user

[2021-07-31 10:01] eddiejaoude commented on #578
The message does not need to be deleted, it can be updated and the bot will remove the warning message after it is updated.

I suggest updating the text in this file `src/alexjs/alex.service.ts`

[code]

[2021-07-31 10:53] schmelto commented on #578
This one could be closed now

[2021-07-31 10:54] eddiejaoude commented on #578
oh yes, thank you @schmelto 👍

[2021-07-31 10:54] #578 closed

[2021-08-01 12:13] Cahllagerfeld opened #580 "[FEATURE] Add new Auth-Logic to Eddiebot"
### Description

The Authentication-Logic for the API changed. The new Logic needs to be implemented to Eddiebot

### Screenshots

_No response_

### Additional information

_No response_

[2021-08-01 15:36] eddiejaoude commented on #580
great 👍

[2021-08-05 15:14] Cahllagerfeld opened #581 "[FEATURE] Validation command"
### Description

The Bot needs a command that allows the user to check if a API-Token is still valid

### Screenshots

_No response_

### Additional information

_No response_

[2021-08-07 13:29] mikeysan commented on #404
Side note, how is this not a duplicate? I believe I raised an issue about this topic some time ago when I kept getting a warning when speaking about my daughter.

My proposal at the time hinged on context, which I believe we were unable to do anything about as it was more complex to account for context with the bot we were using at the time.

All that said, I do support the idea of adding it to th

[2021-08-08 20:12] Cahllagerfeld opened #583 "[FEATURE] Docs for valid command"
### Description

I'm not quite sure about this topic. But in my opinion we need a documentation (like swagger) which tells the user which commands are available

### Screenshots

_No response_

### Additional information

_No response_

[2021-08-08 20:30] Cahllagerfeld commented on #518
Connected to Datastax Astra / Stargate

[2021-08-08 20:30] #518 closed

[2021-08-08 20:31] Cahllagerfeld commented on #517
@Panquesito7 Are you working on this issue, or want to get started?

[2021-08-08 20:43] eddiejaoude commented on #583
Yep I think we need 2 things:

- documentation
- help command that returns more info

[2021-08-08 20:48] Panquesito7 commented on #517
I would like to know the features of the bot and everything; otherwise, I can't write anything. We could both work on it if you want, though. 🙂

[2021-08-08 23:50] KukretiShubham opened #584 "[FEATURE] Add 'mental' word to whitelist"
### Description

We can add 'mental' word for discussion on mental heath.

### Screenshots

![Screenshot from 2021-08-09 05-16-56](https://user-images.githubusercontent.com/57281769/128649262-8bd41493-9f7d-4e05-9481-7e1f418c23c1.png)

### Additional information

_No response_

[2021-08-09 02:18] shreemaan-abhishek commented on #584
I suppose that context becomes really important for such words. But there's no way we can tell our bot about this :(

[2021-08-09 06:12] #580 closed

[2021-08-09 06:13] KukretiShubham commented on #584
Yes, completely got your point. Now I understand.
Thank you

[2021-08-09 06:13] #584 closed

[2021-08-09 07:55] eddiejaoude opened #587 "use API token"
### Description

bot needs to use API token

### Screenshots

_No response_

### Additional information

_No response_

[2021-08-09 07:55] Cahllagerfeld opened #588 "[FEATURE] Logging"
### Description

We need a Logging-Service for Logging the different errors which may occur.

### Screenshots

_No response_

### Additional information

_No response_

[2021-08-09 07:58] #587 closed

[2021-08-09 11:28] abhishekjha812 opened #592 "Missing Docs in the Readme"
### Description

Add a link of discord docs so as to rectify issues related to bots.

### Screenshots

_No response_

### Additional information

_No response_

[2021-08-09 16:16] Cahllagerfeld opened #594 "[BUG] Husky installation"
### Description

When running `npm install` I get the following error
[code]

It seems like `$HUSKY` is syntacticall wrong when using windows there.

When setting the `prepare` command to `husky install` it works.

### Screenshots

_No response_

### Additional information

_No response_

[2021-08-09 16:19] Cahllagerfeld commented on #594
I just looked that up in the api-project. There the `prepare`-script is also `husky install`

[2021-08-09 19:28] Panquesito7 opened #595 "[BUG] Do not check for inappropriate words in links"
### Description

The bot shouldn't check any words in links (including GIFs, too).
This has happened before, and it's quite annoying, IMO.

### Screenshots

This is a GIF someone posted, and EddieBot is complaining about that word. We can't change words in a link. 😅

![image](https://user-images.githubusercontent.com/51391473/128762520-aa0f0f9c-4ff5-420f-9725-f9ec79fe9419.png)

### Additional info

[2021-08-11 03:50] vinzvinci commented on #398
I think we don't need this issue now, so I'm gonna close this issue.

[2021-08-11 03:50] #398 closed

[2021-08-12 05:44] KukretiShubham opened #597 "[FEATURE] Request to create a contribution.md guide"
### Description

I couldn't find guide to understand the code of bot. It will be easy if we can create one. It can help in solving issues faster.

### Screenshots

_No response_

### Additional information

_No response_

[2021-08-12 16:53] Cahllagerfeld opened #598 "[FEATURE] Keyword tracking"
### Description

Especially for our community-partners it might be cool to get a ping when a special keyword in a message gets posted. Maybe thats a feature we could implement to eddiebot

### Screenshots

_No response_

### Additional information

_No response_

[2021-08-12 18:22] eddiejaoude commented on #598
Love this idea 👍

[2021-08-12 19:46] Cahllagerfeld opened #599 "[OTHER] Spike Slash Commands"
### What would you like to share?

We should spike the opportunity of implementing slash-commands

### Additional information

_No response_

[2021-08-12 19:53] nhcarrigan commented on #599
Some info:

Commands can have sub-commands
![image](https://user-images.githubusercontent.com/63889819/129260557-fbb08eaf-2605-46f3-8e7f-c57a05b6a5bf.png)

Options with choices, to clarify parameters:

![image](https://user-images.githubusercontent.com/63889819/129260648-c7aa9aa7-4b92-40f2-952e-9c49fa28d820.png)

And the most important one:

![image](https://user-images.githubusercontent.com/63889

[2021-08-12 19:59] Cahllagerfeld commented on #599
That looks really interesting o.O we maybe need to check if the [discord-pacakge](https://www.npmjs.com/package/discord-nestjs) supports this, or is this irrelevant if the packages supports slash commands, because its handled in another way?

[2021-08-12 20:04] nhcarrigan commented on #599
Supported in `discord.js` v13, not sure about `discord-nestjs` but if we do it over HTTP we can send raw requests (it's a pain tho)

[2021-08-12 20:04] eddiejaoude commented on #599
oh yes that is interesting

[2021-08-12 20:08] Cahllagerfeld commented on #599
I think when installing `discord-nestjs` its required to install `discordjs` as well. Probably we should do a dependency-update because currently `discordjs v12` is used.

[2021-08-13 21:13] Cahllagerfeld commented on #599
I created a branch with the dependency update. The `discord-nestjs` package seems not be ready for ``discordjs v13`. I raised an issue and had a little chat with the maintainer.

[2021-08-14 04:55] TakshakRamteke commented on #592
Hello @abhishekjha812, could you please elaborate on this issue

[2021-08-14 05:55] schmelto commented on #592
I think this is already done
![Screenshot_20210814_075437.jpg](https://user-images.githubusercontent.com/30869493/129435658-14d96f35-ea3e-4fda-a75d-7c9be54ec3a8.jpg)

[2021-08-15 13:42] TakshakRamteke commented on #592
oh, Didn't see this thanks for correcting

[2021-08-15 15:28] Vyvy-vi commented on #583
Could we perhaps add some metadata to the command definition, so that it can be used by things like Swagger or the help command?

[2021-08-15 15:55] Cahllagerfeld opened #600 "[FEATURE] gitpodify Project"
### Description

Get this project ready for Gitpod

- [ ] add gitpod.yml
- [ ] docker-compose for api

### Screenshots

_No response_

### Additional information

_No response_

[2021-08-16 05:28] eddiejaoude commented on #517
@Panquesito7 best to start with small documentation and we can merge multiple PRs. Each will already add value.

I suggest doing some PRs something like this
1. list the modules and high level features
2. list commands within the modules
3. ...

[2021-08-16 16:28] jayesh-srivastava opened #602 "Code Ticks shows blocked words also."
### Description

If a particular word is blocked or is categorized under the 'refrain from use' list, then the bot should block it when using for code ticks.

[2021-08-16 17:58] Cahllagerfeld commented on #602
Is this happening just for specif words or for every in the list?

[2021-08-17 09:26] jayesh-srivastava commented on #602
I think all the words are available to use as code ticks.

[2021-08-17 11:08] #602 closed

[2021-08-19 20:36] Vyvy-vi commented on #595
hmm, however we might need to check all the messages against a regex to check for links
Or... I'm wondering.. does Discord specify if a message has a link/image embed?

[2021-08-19 20:54] Panquesito7 commented on #595
@Vyvy-vi, I have made a PR for it. You can check it out if you want. 🙂

[2021-08-21 11:25] Naufal2511 commented on #598
I would love to work on this, but I am new to this field.
But I can learn, Can you please direct me on resources to look at and ways to approach.
ThankYou

[2021-08-21 12:03] Cahllagerfeld commented on #598
I think the [official Docs](https://docs.nestjs.com/) are a good starting point to nestjs.
I opened a branch already where I tested out someting. You can have a look at this as well.

[2021-08-21 12:04] Cahllagerfeld commented on #598
This feature will probably some work on the Api first tho as we need to save the keywords and the subscribers somewhere

[2021-08-21 15:26] ashwinexe opened #607 "[BUG] Bot prompted by the word "mam" but not "madam" and its other forms."
### Description

The bot is triggered on `mam` but not `madam`, `ma'am` or `maam`
All the words above are non inclusive and hence should be added to bot's flag list

### Screenshots

![image](https://user-images.githubusercontent.com/53075480/130326356-f0abd892-f2b2-4047-b4fb-1506e3ff48ab.png)

### Additional information

I would like to contribute to this issue but I have never worked on EddieBot

[2021-08-22 02:16] krishdevdb opened #608 "Not blocking slangs 🤔"
### Description

Bot doesn't block `sis` or any slangs

### Screenshots

![image](https://user-images.githubusercontent.com/76587897/130339674-92e28f58-a2f2-47dd-a113-e14c56456c2c.png)

### Additional information

_No response_

[2021-08-22 18:26] Vyvy-vi commented on #608
Hmm, it doesn't
We had a discussion with the maintainer of alexjs on an issue, and they recommended not using alex for this use-case, and instead make our own retext plugin, so that we can factor for leetspeak and abbreviations.
(might be something we can look into in the near future, since using the custom matching would eventually become unmaintainable, or slightly extensive)

In this case howev

[2021-08-22 18:59] shreemaan-abhishek commented on #608
@Vyvy-vi

There's no way the bot could understand the context of the word used. When I use `Brother` to address my sibling who actually identifies himself as a male the bot would give me a warning. This helps us create an inclusive environment for people who identify themselves as non-binary.

IMO sis *can* be used in general conversation as an assumption. We should block that.

[2021-08-22 22:37] Vyvy-vi commented on #608
Hmm true... It could be used 🤔  (much like the usage of "bro")

[2021-08-23 00:57] KukretiShubham commented on #608
agree with @shreemaan-abhishek

[2021-08-28 05:40] MatteuSan opened #612 "[FEATURE] EddieBot picking up context from messeges"
### Description

I know it's only a very very very slim chance of this happening, but if possible, somewhere down the line. Have the bot be able to pick up context on the messages instead of just blatantly picking up the word without context.

For example, the words `simple` and `just`, though suggested not to be used in educational writing, what if the user wants to use it in this context:

Eddie

[2021-08-28 09:18] bishtsaurabh5 opened #613 "Allow the usage of word "just""
### What would you like to share?

The usage of word just could vary upon different context like:
I just watched your xyz video
Was just going over the requirements.

Based on the context the usage of word just can be used without hurting someone specifically

### Additional information

_No response_

[2021-08-28 09:24] kalash99 opened #614 "Allow The Usage of Word "Simple""
### Description

The usage of word "Simple" could vary upon different context
It can be used based on different situations without hurting someone.

### Screenshots

_No response_

### Additional information

_No response_

[2021-08-28 09:44] #613 closed

[2021-08-28 09:55] #614 closed

[2021-08-29 02:53] KukretiShubham commented on #612
i think this can be avoided by some services api's that checks context in a sentence. If there were free and open source service available. It would be great.

[2021-08-31 09:34] ErrolFernandes opened #617 "[OTHER]add fellas to banned words"
### What would you like to share?

its just a simple /good-first-issue
add the word fellas to banned words.

### Additional information

_No response_

[2021-08-31 09:45] ErrolFernandes commented on #617
i did it myself!!

[2021-08-31 11:06] #617 closed

[2021-09-01 04:58] kaiwalyakoparkar commented on #607
Hey, @Ashwin-exe this looks nice. Please go ahead and make a PR :slightly_smiling_face:

[2021-09-01 08:35] ashwinexe commented on #607
Thanks @kaiwalyakoparkar I've raised a PR, ~~by the way, that's a wrong @~~ my username is `ashwinexe`  :)

[2021-09-01 09:44] #607 closed

[2021-09-01 15:30] qwe123coder opened #622 "[OTHER] add 'kid' to banned words"
someone can use it to bully young devs in our community

[2021-09-02 09:55] eddiejaoude opened #627 "[FEATURE] Allow blocked words by AlexJS"
### Description

Some words are grouped together, and we do not want to allow the whole group, but some words from the group.

For example the word `fellow` we want to allow, but it is grouped with words we do not to want to allow.

We could write a filter for the blocked words that come out of AlexJS, and disregard the notification of that word.

I think we could do it [here](https://github.com/E

[2021-09-02 10:29] AbhijithGanesh commented on #627
I think this should be implemented. Certain words should be allowed and those cases should be matched.

[2021-09-02 10:31] eddiejaoude commented on #627
Thank you 👍 , PR has been raised, after being reviewed and merged, people can create more PRs with config changes

[2021-09-02 17:30] Panquesito7 opened #630 "[OTHER] Add `chad` to the list of blocked words"
### What would you like to share?

- Add `chad` to the list of blocked words.
  - Modify the [`src/config.ts`](https://github.com/EddieHubCommunity/EddieBot/blob/main/src/config.ts) file and add `'chad'` after `yessir`.

### Additional information

![image](https://user-images.githubusercontent.com/51391473/131889925-2e5701f4-1b45-4243-9b17-d1c54341cb1d.png)

Thanks to @Vyvy-vi for providing this

[2021-09-02 17:33] kaiwalyakoparkar opened #631 "[OTHER] Add `yessir` to the avoided words list"
### What would you like to share?

yessir is a slang which needs to be blocked by bot.

### Additional information

_No response_

[2021-09-02 18:37] suryablaster commented on #630
I will do it

[2021-09-02 20:31] eddiejaoude commented on #630
Fixed in #632

[2021-09-02 20:31] #630 closed

[2021-09-03 08:27] Narcos101 opened #634 "[OTHER]"
### What would you like to share?

Add "Dope" to the list of blocked words

### Additional information

_No response_

[2021-09-03 09:14] kaiwalyakoparkar opened #635 "[OTHER] Add `simp` word to the blocked words list"
### What would you like to share?

Adding `simp` word to blocked word's list

### Additional information

_No response_

[2021-09-03 09:15] kkhitesh commented on #635
I'd like to work on this issue. Can you guide me

[2021-09-03 09:15] #627 closed

[2021-09-03 09:27] #635 closed

[2021-09-03 11:40] mohitmishra786 opened #638 "[FEATURE] <Test to run on CI (Github Actions)>"
### Description

Tests are not running on push or pull requests. Added to Github Actions

### Screenshots

_No response_

### Additional information

_No response_

[2021-09-03 11:43] mohitmishra786 commented on #638
`
`name:` `Tests`

`on:` `[push,pull_request]`

`jobs:`
  `test:`

    runs-on:  ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 14
    - name: install deps
      run: npm ci
    - name: run tests
      run: npm test`

[2021-09-03 11:53] mohitmishra786 opened #640 "[OTHER] Add `Bitch` word to the blocked words list"
### What would you like to share?

Adding word Bitch to the blocked word lists

### Additional information

_No response_

[2021-09-03 15:04] suryablaster commented on #638
I want to do it

[2021-09-04 05:55] mohitahlawat2001 commented on #640
i will do it.

[2021-09-04 07:01] #640 closed

[2021-09-04 17:33] AbhijithGanesh opened #646 "[FEATURE] API to add/remove/modify safelist"
### Description

It will be useful if we implement a REST-API which would deal with the words that have been safelisted instead of creating issue tickets and a PR every single time. It will be easier to monitor and reference too in the future. It is in the best interests of every stakeholder to do so.

### Screenshots

_No response_

### Additional information

_No response_

[2021-09-04 17:33] AbhijithGanesh commented on #646
I would like to work on this feature if this gets on to the next stage.

[2021-09-04 17:38] ashwinexe opened #647 "[OTHER] Bot ignores forms of word `simp`"
### Description

Bot blocks `simp` from #635 but not `simps`, `simping`.

### Screenshots

![image](https://user-images.githubusercontent.com/53075480/132103573-ba090337-46ef-4837-bf3a-472f08f9c054.png)

### Additional information

_No response_

[2021-09-05 02:57] Vyvy-vi commented on #646
I would rather disagree...
Making a PR provides extra safety due to the review process, and is a good entrypoint to the EddieBot project.

The problem with a REST API handling this would be-
A- Someone with malicious intent might abuse the API to safelist words that don't need to be safelisted. The PR method allows for a review process.
B- If to prevent the above we wrap auth on top of the API , t

[2021-09-05 09:52] eddiejaoude commented on #638
This has been completed here https://github.com/EddieHubCommunity/EddieBot/pull/642

[2021-09-05 09:52] #638 closed

[2021-09-05 19:30] BOLT04 commented on #32
@eddiejaoude  The Becca bot's data into the community's API? If so that would be a cool integration to build 😃, but it could be challenging integrating 2 bots. On the other hand, it sounds fun 😄.
Something like separating between the console/Discord UI and the actual command logic, so that other applications can use an API (either HTTP, WebSockets, RPC, etc) to get that data.

I definitely agree w

[2021-09-07 05:40] AbhijithGanesh commented on #646
I would like to say we can add a security layer on top of the REST API which only allows members over a certain level or with a certain role(determined by the moderators or whomsoever)  to commit changes/propose changes to it. The REST API can be routed for approval(either to Eddie or Server owners eventually, Its after all a discord bot and it can send messages specifically to some group of Indiv

[2021-09-08 05:31] AbhijithGanesh opened #649 "[FEATURE] A reminder to edit the message"
### Description

The Eddiehub bot can send a message asking the user to edit their non-inclusive message if it is still left unchanged.

### Screenshots

_No response_

### Additional information

_No response_

[2021-09-09 03:43] AbhijithGanesh opened #650 "[BUG]: The bot bans words like god"
### Description

It is not necessary for the bot to ban words like god, it needs to be filtered. I presume it comes from the AlexJs module.

### Screenshots

![image](https://user-images.githubusercontent.com/67182544/132618816-a5c9b602-b6e7-49db-8b92-9a655da61b6b.png)

### Additional information

_No response_

[2021-09-09 05:36] qwe123coder opened #651 "ball is beeing blocked"
### Description

ball is not offensive and it is being blocked by the bot

### Screenshots

![image](https://user-images.githubusercontent.com/72848513/132628683-122b202c-3a91-4241-9605-3ebb552c44d2.png)

[2021-09-10 05:20] vedanthv commented on #650
@AbhijithGanesh and all maintainers. I have added 'god' to whitelist. Considering it profane or not is your call!

[2021-09-10 05:23] vedanthv commented on #612
@MatteuSan Looks like a little bit of NLP is required to achieve this functionality. Not sure if any bot does this ATM, but surely a great project to work on for NLP folks!

[2021-09-10 06:37] AbhijithGanesh commented on #650
Thanks for adding it to the whitelist

[2021-09-10 07:34] krishdevdb commented on #650
why did you close it before the pr was merged?

[2021-09-10 09:38] vedanthv commented on #649
@AbhijithGanesh I think the feature exists. The bot gives certain alternatives if a non-inclusive word is used.

[2021-09-10 09:40] AbhijithGanesh commented on #649
The bot gives an initial warning, I want the bot to send in a reminder later(example: after 30 minutes)

[2021-09-10 09:44] vedanthv commented on #649
I have mixed thoughts about this. Sending a message to the user every 30 minutes sounds too pressing for me. The maintainers do a good job by telling the new members about inclusiveness, hence I don't think its required

[2021-09-10 18:59] AbhijithGanesh commented on #649
I said a reminder, one reminder wouldn't cause a lot of issue at the same time saving the efforts of members.

[2021-09-10 19:36] Vyvy-vi commented on #650
I reopened the issue so that we don't lose track of this.

[2021-09-11 01:45] AbhijithGanesh commented on #650
Sorry I closed this by mistake. Usually if a PR is on line I have the habit of closing issues. This was a genuine mistake😅

[2021-09-17 09:11] krishdevdb opened #655 "[FEATURE] Block Anna"
### Description

As stated by @praveenscience, Anna mean `Big Bro` in Tamil. Maybe we should consider removing it

### Screenshots

![image](https://user-images.githubusercontent.com/76587897/133757071-2355b274-910d-4367-8f13-2e1bd8e7e2ec.png)

### Additional information

_No response_

[2021-09-17 09:13] AbhijithGanesh commented on #655
Can I claim this?

[2021-09-17 09:20] krishdevdb commented on #655
Already Opened a pr a minute ago you commented 😓 Maybe look for other issues 🙂

[2021-09-19 07:02] StarTrooper08 commented on #517
Hey,
@Panquesito7 are you still working on it?

[2021-09-19 13:19] Panquesito7 commented on #517
It looks like this is already fixed 👀 it can be closed now. Forgot to link it to the PR. 😅

[2021-09-19 19:47] adityaraute commented on #517
@Cahllagerfeld please close this issue

[2021-09-20 04:39] kkhitesh opened #659 "[FEATURE] Add dork to blocked words"
### Description

Dork: a contemptible, socially inept person

### Screenshots

_No response_

### Additional information

_No response_

[2021-09-21 01:10] MatteuSan commented on #655
I’m pretty sure there are people named Anna, we can’t just block it

[2021-09-21 03:50] #655 closed

[2021-09-21 03:53] AbhijithGanesh commented on #655
MatteuSan is right, we can't block it. We had the same logic applied for prince

[2021-09-30 11:08] krishguptadev commented on #634
Could I work on this issue?

[2021-09-30 11:11] krishguptadev commented on #608
Can I work on this issue?

[2021-09-30 11:12] krishguptadev commented on #597
Can I work on this issue?

[2021-09-30 11:16] krishguptadev commented on #594
How can I fix this issue?

[2021-09-30 11:16] krishguptadev commented on #592
Is this already fixed?

[2021-09-30 11:27] krishguptadev commented on #575
imho we should check for permissions not roles

[2021-09-30 12:07] abhishekjha812 commented on #592
Yes Krish , it's already fixed 👍
I'm closing it now .

[2021-09-30 12:07] #592 closed

[2021-10-02 03:15] SiddhantKhisty commented on #588
I would like to work on this. Can someone guide me through the process to add a error logging system?

[2021-10-02 09:27] Cahllagerfeld commented on #588
Hi @SiddhantKhisty

you can use a [Exception Filter](https://docs.nestjs.com/exception-filters) nest provides to call the Nest-Native [Logger](https://docs.nestjs.com/techniques/logger#logger).

I think the Exception Filter loggs all thrown exceptions inside the application in this filter-class.

Afaik we dont want centralized logging with sentry for example for now @eddiejaoude, do we?

[2021-10-02 11:50] adil14788 commented on #631
Can I take this up and work on it??

[2021-10-02 11:52] adil14788 commented on #651
@qwe123coder  is this issue still open??

[2021-10-05 04:47] Vyvy-vi commented on #541
This is still needed

[2021-10-05 04:51] Vyvy-vi commented on #608
Sure, go kn ahead

[2021-10-08 05:44] Cahllagerfeld opened #662 "[FEATURE] create profiles for linkfree via discord"
### Description

The Bot should create the profiles, which are stored in the db then

### Screenshots

_No response_

### Additional information

_No response_

[2021-10-09 13:52] #647 closed

[2021-10-09 14:27] rushikeshadhav opened #664 "Installation guide improve"
### Description

The steps should be
- fork repo
- clone your forked repo
- set upstram
- navigate to project directory
- create a branch
- sync your forked repo

The SSH and HTTPs creates confusion

### Screenshots

_No response_

### Additional information

If you could assign me I would like to do this

[2021-10-10 03:33] #608 closed

[2021-10-13 11:33] eddiejaoude opened #665 "[FEATURE] Remove duplicate messages"
### Description

Some times people post the same message in multiple channels. The bot could remove any duplicate messages.

### Screenshots

_No response_

### Additional information

_No response_

[2021-10-17 07:01] rushikeshadhav commented on #664
Should I make the changes and raise a PR ?

[2021-10-20 14:24] schmelto opened #667 "Change License copyright to `Eddie Jaoude`"
Thanks everyone 👍 Makes sense. There is a mix across our Org repos, they should then be all updated to be `Eddie Jaoude`

_Originally posted by @eddiejaoude in https://github.com/EddieHubCommunity/awesome-github-profiles/issues/712#issuecomment-947703086_

[2021-10-25 09:27] Cahllagerfeld opened #670 "Dependency Update"
When implementing this feature we can also bump the dependencies in the project

_Originally posted by @Cahllagerfeld in https://github.com/EddieHubCommunity/EddieBot/issues/599#issuecomment-950717027_

[2021-10-25 13:33] mercyharbo opened #671 "Want to join your community"
### Description

I would like to join the community please

### Screenshots

_No response_

### Additional information

_No response_

[2021-10-30 11:59] Vyvy-vi commented on #671
Hey there @mercyharbo, you would have to open an issue on the `support` repo to get invited:

https://github.com/EddieHubCommunity/support/issues/new?assignees=&labels=invite+me+to+the+organisation&template=invitation.yml&title=Please+invite+me+to+the+GitHub+Community+Organization

[2021-10-30 11:59] #671 closed

[2021-11-02 02:15] #343 closed

[2021-11-02 02:15] #452 closed

[2021-11-02 09:18] #622 closed

[2021-11-03 14:29] SPARKY892 opened #675 "Duplicate terms in Bot filter list in config."
### Description

There are duplicate terms present in the list of words to be filtered in the config file.

### Screenshots

![image](https://user-images.githubusercontent.com/17313933/140079692-b6db9f2e-2872-42b6-b405-e9aa29e8f36c.png)

### Additional information

_No response_

[2021-11-03 14:43] SPARKY892 commented on #675
Pull request #676 opened to resolve this issue.

[2021-11-04 22:04] eddiejaoude commented on #675
Thank you 👍 merged

[2021-11-04 22:04] #675 closed

[2021-11-13 02:10] #32 closed

[2021-11-15 02:10] #646 closed

[2021-11-18 02:10] #649 closed

[2021-11-19 02:17] Panquesito7 commented on #517
Ping. This can be closed now.

[2021-11-19 06:44] Cahllagerfeld commented on #517
awesome thanks @Panquesito7 👍

[2021-11-19 06:44] #517 closed

[2021-11-27 07:07] krishguptadev opened #678 "[OTHER] fix the coc!"
### What would you like to share?

1. Update the version to: https://www.contributor-covenant.org/version/2/1/code_of_conduct/
2. Contact method:
![image](https://user-images.githubusercontent.com/91655303/143671799-167734e7-73c0-45ff-882f-bbef8a3ec148.png)

### Additional information

_No response_

[2021-11-28 00:57] eddiejaoude commented on #650
oh I closed this, I can't remember why? I didn't write a message either 🤦‍♂️

I could not see it in the config https://github.com/EddieHubCommunity/EddieBot/blob/main/src/config.ts

Not a word we really use much in open source conversation so don't really see a need to allow it anyway

[2021-12-01 12:51] krishguptadev opened #680 "[ALEXJS] Allow `easy`"
### What would you like to share?

Easy is a word that is most probably never used in a non-inclusive way. I think Easy should be allowed. Thanks 🙂

![image](https://user-images.githubusercontent.com/91655303/144237254-eeac5b09-c1a3-4d22-be1d-e044e5d49c7a.png)

### Additional information

### How to fix

Add a value, `'easy'` to the array [here](https://github.com/EddieHubCommunity/EddieBot/blob/9

[2021-12-01 13:01] eddiejaoude commented on #680
I think that is quite a statement. I have seen it used before where someone replied, that is `easy` - like with most things, it is easy when we know how

I think this should remain as a word that is not allowed and we can encourage people to use other words

[2021-12-01 13:01] #680 closed

[2021-12-02 03:07] qwe123coder commented on #651
i think its closed let me check

[2021-12-02 03:07] qwe123coder commented on #651
ya there is a pr for this but not merged yet

[2021-12-02 03:14] krishguptadev commented on #588
Hey there @SiddhantKhisty 👋 Do you need any help?

[2021-12-02 12:31] AnishDe12020 commented on #678
Can I work on this?

[2021-12-02 13:12] krishguptadev commented on #678
Yeah sure!

[2021-12-02 13:20] SiddhantKhisty commented on #588
Hey @krishguptadev  I wasn't able to figure out the feature. Feel free to take over if you can.

[2021-12-04 18:47] Vyvy-vi commented on #476
Perhaps Becca's star command can be utilised for the same?

[2021-12-04 18:47] Vyvy-vi commented on #295
Still needed

[2021-12-04 18:48] Vyvy-vi commented on #573
Still needed, stalebot...

[2021-12-07 02:21] #634 closed

[2021-12-07 02:21] #594 closed

[2021-12-08 06:45] Cahllagerfeld commented on #581
no token handling needed anymore

[2021-12-08 06:45] #581 closed

[2021-12-10 02:10] #651 closed

[2021-12-16 02:15] #662 closed

[2021-12-16 02:15] #404 closed

[2021-12-16 02:15] #541 closed

[2021-12-16 18:11] emmalearnscode opened #682 "[OTHER] allow word hang"
### What would you like to share?

I tried to write, ‘hang on I’ll go and find it’ and got a warning about the word hang. I’m not sure in the context of eddiehub server that hang needs to be on the banned list.

### Additional information

_No response_

[2021-12-16 22:59] BOLT04 commented on #397
this would be really cool to have still, but perhaps it's lower on the priority list

[2021-12-17 02:21] #498 closed

[2021-12-17 02:21] #229 closed

[2021-12-19 23:28] igibek opened #685 "[Security] Workflow stale.yml is using vulnerable action actions/stale"
The workflow stale.yml is referencing action actions/stale using references v1. However this reference is missing the commit [af4072615903a8b031f986d25b1ae3bf45ec44d4](https://github.com/actions/stale/commits/af4072615903a8b031f986d25b1ae3bf45ec44d4) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) upgrad

[2021-12-19 23:28] igibek opened #686 "[Security] Workflow stale.yml is using vulnerable action actions/stale"
The workflow stale.yml is referencing action actions/stale using references v1. However this reference is missing the commit [af4072615903a8b031f986d25b1ae3bf45ec44d4](https://github.com/actions/stale/commits/af4072615903a8b031f986d25b1ae3bf45ec44d4) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) upgrad

[2021-12-20 02:21] #665 closed

[2021-12-23 02:32] #595 closed

[2021-12-24 02:19] #397 closed

[2021-12-25 02:21] #664 closed

[2021-12-25 19:50] #678 closed

[2021-12-26 04:12] thepranays commented on #598
What about using a realtime database like firebase maybe to store the subscribers? and then maybe we can try to implement this feature

[2021-12-28 14:17] J-P-S-O commented on #588
@SiddhantKhisty  I would be happy to work on this.

[2021-12-28 17:39] J-P-S-O commented on #588
I just created a logging mechanism (#687 ). However, it only works for fatal errors. It is meant to work in a way so that the bot won't crash and leave the server without moderations. It just logs the error and proceeds with the execution of the programm.

[2021-12-28 20:29] Cahllagerfeld commented on #588
You can take a look at this comment [here](https://github.com/EddieHubCommunity/EddieBot/issues/588#issuecomment-932721719). There's a build-in logger which comes out-of-the-box with nest-projects. This Logger can be used

[2022-01-02 02:24] #521 closed

[2022-01-02 02:24] #490 closed

[2022-01-03 17:35] emmalearnscode opened #688 "[OTHER] add ma’am to list"
### What would you like to share?

I saw that this one got through the bot check today as someone used it to address me

### Additional information

_No response_

[2022-01-03 20:01] Cahllagerfeld commented on #685
closed as duplicate of #686

[2022-01-03 20:01] #685 closed

[2022-01-12 07:07] unnikrishnan2002 commented on #688
Hey , I would like to work on this. we have to add it to the allow list in config.ts right?

[2022-01-12 07:22] starlightknown commented on #688
Yep in the allowlist of config.ts, following the alphabetical order

[2022-01-12 07:24] unnikrishnan2002 commented on #688
Also I need to remove it from prevent words also right?

[2022-01-12 07:26] unnikrishnan2002 commented on #688
But it's already there 🤔. So is the issue already solved

[2022-01-12 07:32] starlightknown commented on #688
Yep it's there so I guess we can close it. Not sure how that person got through the bot check tho

[2022-01-24 20:38] nhcarrigan commented on #439
Going to bump this and say that Discord is also now expecting a Terms of Service document for bots.

[2022-02-10 02:09] #476 closed

[2022-02-10 02:09] #583 closed

[2022-02-10 02:09] #389 closed

[2022-02-10 02:09] #295 closed

[2022-02-10 02:09] #300 closed

[2022-02-10 02:27] eddiejaoude commented on #573
The spam has reduced, so we could park this for now

[2022-02-23 02:22] #682 closed

[2022-02-25 02:21] #686 closed

[2022-02-28 14:37] KendallDoesCoding opened #690 "Add PR template."
### Description

Add PR template.

### Screenshots

_No response_

### Additional information

_No response_

[2022-02-28 16:43] KendallDoesCoding opened #691 "SECURITY POLICY"
### Description

Add a security policy to report security vulnerabilities. This can be added by creating SECURITY.MD preferably in the .github directory.

Inculde url http://eddiejaoude.io/contact to report security issues

### Screenshots

_No response_

### Additional information

_No response_

[2022-03-03 02:32] #667 closed

[2022-03-03 02:32] #499 closed

[2022-03-03 02:32] #599 closed

[2022-03-04 02:34] #598 closed

[2022-03-04 16:40] anthonychinwe commented on #691
I'll work on this if you don't mind

[2022-03-05 14:02] OkeyChukwude opened #693 "[OTHER] Update COC email to link"
### What would you like to share?

Change Code of Conduct's email address to link.

The new link is: http://eddiejaoude.io/contact

### Additional information

_No response_

[2022-03-12 14:21] OkeyChukwude opened #694 "[OTHER] remove stale.yaml"
### What would you like to share?

Delete the file '.github/workflows/stale.yml'

### Additional information

_No response_

[2022-03-13 02:20] #670 closed

[2022-03-13 02:20] #206 closed

[2022-03-13 02:20] #543 closed

[2022-03-13 02:20] #165 closed

[2022-03-21 02:42] #688 closed

[2022-03-23 03:23] mikeysan commented on #439
I will also leave a comment to prevent stale bot trying to close this again. This is very important information that needs to be displayed somewhere.

In addition, I am not sure if or how this may relate to GDPR (the European side of data protection), which I think is more strict than most. Whatever we come up with should cover that as well. Again, if required.

[2022-03-23 03:36] mikeysan commented on #693
I agree with this suggestion.

[2022-03-23 03:44] mikeysan commented on #588
@Cahllagerfeld You removed the no-issue-activity but didn't reopen. Was that on purpose?

[2022-03-23 03:49] mikeysan commented on #165
github-actions is having way too much fun with this issue.

@eddiejaoude Is this still needed?

[2022-03-23 04:49] #691 closed

[2022-03-23 07:12] Cahllagerfeld commented on #588
Nice catch!

[2022-03-27 08:17] schmelto opened #695 "Check if a user creates similar messages in different channels"
### Description

Check if a user creates the same or similar messages in different channels and make a hint that the same question / message should only posted in one channel

### Screenshots

_No response_

### Additional information

_No response_

[2022-03-27 08:20] schmelto opened #696 "Suggest an Video of Eddie for different key words"
### Description

Use something like `/video pullrequest` Which will post a link to one of eddies videos explaining the topic a little bit more.

### Screenshots

_No response_

### Additional information

_No response_

[2022-04-01 03:06] mikeysan commented on #695
I like the idea. Very useful.

I am struggling to figure out how it could be implemented however. With our inclusive word we have a list which then suggests changes.

Any thoughts on how this would work? As, from what I can think of, we would need to analyse discord conversations to determine when something is s duplicate.

What sort of criteria would be used?

Even working with something like Jir

[2022-04-06 21:00] SuperAayush opened #704 "Duplicate discord tokens on kubernetes secrets."
### Description

Duplicate discord tokens on kubernetes secrets.

### Screenshots

_No response_

### Additional information

_No response_

[2022-04-18 06:15] eddiejaoude commented on #651
Here is the PR link https://github.com/AbhijithGanesh/EddieBot/pull/1/files

[2022-04-26 14:16] abh139 opened #705 "[OTHER] Some non-inclusive words"
### What would you like to share?

Please add Non-inclusive words like 'bruh', 'bruhh' in the bot because its not there

### Additional information

_No response_

[2022-04-26 14:34] #705 closed

[2022-04-26 16:56] jaynarayan-vaishnav opened #707 "[OTHER] Non-inclusive word "bruh" repeated twice."
### What would you like to share?

![Inkedissue eddie bot_LI](https://user-images.githubusercontent.com/54346106/165353113-dc2a0792-6f3d-4608-9894-fec12d4e5859.jpg)

### Additional information

_No response_

[2022-04-26 16:57] jaynarayan-vaishnav commented on #707
if it is a valid issue i would like to fix this

[2022-04-27 17:31] LucasMelvin15 opened #709 "[I want to join the open source community]"
### What would you like to share?

I'd like to share my skills on code and documentation

### Additional information

_No response_

[2022-04-28 04:36] eddiejaoude commented on #709
Welcome @LucasMelvin15 !

Here are some links to join...
- Discord http://discord.eddiehub.org
- GitHub Org and/or share your project/profile https://github.com/EddieHubCommunity/support/issues/new/choose

Any questions come and chat to us in realtime in Discord 🤓

[2022-04-28 04:36] #709 closed

[2022-04-29 06:38] #694 closed

[2022-04-29 20:26] jaynarayan-vaishnav commented on #707
@eddiejaoude can you check if this issue is valid i would like to work on it

[2022-04-29 20:35] eddiejaoude commented on #707
yes it looks like a duplicate, thank you for spotting and raising 👍

Sure, I have assigned it to you

[2022-04-30 06:47] jaynarayan-vaishnav commented on #707
Thanks will start working on it today☺️

[2022-05-04 18:31] jaynarayan-vaishnav commented on #707
@eddiejaoude can you review the PR that I have made.

[2022-05-04 18:47] #707 closed

[2022-05-04 18:48] eddiejaoude commented on #707
Sure, merged 👍 thanks

[2022-05-23 11:17] jsfix-updater opened #712 "Assisted upgrade of rxjs available"
Version 7 of rxjs is available.
  The JSFIX tool can help you through the update process (**Ensuring that all the necessary changes are made to your project in the process**).
  Use this [link](https://jsfix.live/jsfix/https%3A%2F%2Fgithub.com%2FEddieHubCommunity%2FEddieBot) to start the upgrade process (_It's completely free_).

  Leave a comment on this issue if you have any questions or concern

[2022-05-27 06:40] eddiejaoude commented on #439
Thanks all 👍

[2022-05-28 19:01] eddiejaoude commented on #696
I love this idea 😍

[2022-06-03 07:07] ezinneanne opened #713 "[DOCS] <Add community.yml>"
### Description

### Adding community.yml
**Adding community.yml for the Github action that sends the stats to the Eddiehub API**

### Screenshots

_No response_

### Additional information

_No response_

[2022-06-04 18:33] #713 closed

[2022-06-06 17:25] Eshan-Sharma commented on #690
Can I start working on this issue? My solution.

## Pull request classification

Please remove options that are not relevant.

- [ ] Bug fix (changes that fix an issue)
- [ ] New feature (changes which add functionality)
- [ ] Breaking change (fix or feature that would cause existing functionality to not work as expected)
- [ ] Documentation update
- [ ] Adding flowcharts for better understanding

[2022-06-10 17:33] iason9 opened #718 "[FEATURE] allo the bot to be used elswere"
### Description

having the possibility to use the bot in other servers

### Screenshots

_No response_

### Additional information

_No response_

[2022-06-10 18:30] emmalearnscode opened #720 "[OTHER] Remove warning when message is updated"
### What would you like to share?

When someone updates their message to remove problematic words the bot warning should disappear.

### Additional information

_No response_

[2022-06-10 18:41] Shub4am opened #721 "[FEATURE] Kubernetes"
### Description

### Add kubernetes MongoDB secrets for EddieBot

### Screenshots

_No response_

### Additional information

_No response_

[2022-06-10 18:44] jaynarayan-vaishnav opened #722 "[OTHER] update documentation"
### What would you like to share?

update documentation

### Additional information

_No response_

[2022-06-10 18:58] nhcarrigan commented on #712
Thank you for your issue!

We are no longer using rxjs in this project and as such are closing the issue.

[2022-06-10 18:58] #712 closed

[2022-06-10 18:59] nhcarrigan commented on #588
Going to close this as the current MVP includes winston for logging and will pipe error messages into Discord for on-platform permanent logs.

[2022-06-10 18:59] #588 closed

[2022-06-10 19:00] eddiejaoude opened #723 "[FEATURE] Commands should not be registered on start"
### Description

_No response_

### Screenshots

_No response_

### Additional information

_No response_

[2022-06-10 19:01] Shub4am opened #724 "[FEATURE] Block Additional Words"
### Description

Ability to block additional words

### Screenshots

_No response_

### Additional information

_No response_

[2022-06-10 19:01] jaynarayan-vaishnav opened #725 "[FEATURE] <discord server >"
### Description

## Allow discord server to set config.

### Screenshots

_No response_

### Additional information

_No response_

[2022-06-10 19:31] nhcarrigan commented on #723
The best approach for this would be to set an `OWNER_ID` environment variable.

Then, a check in the message event if the `message.author.id` matches that variable, and if the content is `register commands`, and if so call the `registerCommands` utility.

Note that we want to leave the `loadCommands` module called in the `main.ts` file there.

[2022-06-10 19:33] nhcarrigan commented on #725
We will need to:

- Create a command that allows a server to modify their settings
- The command should require the `MANAGE_SERVER` permissions
- Allow the server to add allowed words, blocked words, and toggle `profanitySureness` and `noBinary`.

[2022-06-10 19:34] nhcarrigan commented on #724
This should be added as an additional property to the database record and the bot's cache.

[2022-06-10 19:34] nhcarrigan commented on #720
We'll need to create another cache system on the bot to track this. We'll need to track the guildId, channelId, and messageId so it will work across multiple servers.

[2022-06-10 21:38] jaynarayan-vaishnav commented on #725
Thanks for adding the detailed description 🙂.

[2022-06-19 04:01] MatteuSan commented on #612
Bump

[2022-06-19 07:14] eddiejaoude commented on #612
Thanks @MatteuSan for the suggestion. Have content for the bot is quite tricky. I wonder if sentiment analysis could be done, then if lower than a certain number the bot responds otherwise it does not
https://www.npmjs.com/package/sentiment#usage-example

[2022-06-25 11:28] Chrischege opened #727 "[request to join the open source community]"
### What would you like to share?

Hello, my name is Chris and I would love to be part of the open-source community. I am a full-stack web developer winding up on the **Django** framework currently. I have seen your videos and I have interest in taking part in open-source contribution. please consider reaching back to me soon and thank you.

### Additional information

_No response_

[2022-06-25 11:30] Chrischege commented on #727
I love your videos and they have inspired me to try out open source development.

[2022-06-25 11:46] eddiejaoude commented on #727
Great! 👍

From our GitHub Org here are the recommended steps to get started
<img width="1396" alt="Screenshot 2022-06-25 at 12 45 45" src="https://user-images.githubusercontent.com/624760/175772164-1c4a63ba-f5b7-4c92-941f-62d785b08f15.png">

[2022-06-25 11:46] #727 closed

[2022-07-01 12:29] eddiejaoude opened #729 "[OTHER] migrate custom word checker"
### What would you like to share?

Exists in current version, moved functionality to new version

### Additional information

_No response_

[2022-07-01 21:15] eddiejaoude opened #731 "[OTHER] save warnings to database"
### What would you like to share?

- save notifications to database
- update database notifications on message edit

### Additional information

_No response_

[2022-07-02 09:00] eddiejaoude opened #733 "[FEAT] Save stats to the DB"
### What would you like to share?

Per Discord server...
- total triggers
- total triggers fixed
- total word triggers (for example `guys`)

### Additional information

_No response_

[2022-07-16 09:13] #729 closed

[2022-07-16 09:33] #731 closed

[2022-07-16 09:50] #733 closed

[2022-07-18 14:19] 44jax44 opened #739 "Remove The Word "Just" from moderation"
### What would you like to share?

The word just can be inclusive but in some cases like:
- Just in case
- I just figured this out
- Just in time
The bot can misinterpret the meaning.

I don't think there is a way to be able to filter the sentences to just block the ones that are truly inclusive, so I think it's better to remove just from moderation for now and maybe try to learn from the messages

[2022-07-18 16:23] naomi-lgbt commented on #739
This is already set in our config, but we weren't passing that config into Alex correctly.

Linked PR will fix that.

[2022-07-18 16:27] 44jax44 commented on #739
Thank you

[2022-07-18 20:46] 44jax44 commented on #739
Thank you, I think the bot still doesn't like me, but we'll work on that relationship

[2022-08-17 11:59] mikeysan commented on #439
Just a comment to draw attention to see and make sure it has not been forgotten :)

[2022-08-19 15:29] RakeshSangem opened #745 "[DOCS] fix typo in README.md"
### Description

I want to change the `npm install` to `npm ci`

[2022-08-22 19:11] ChinmayMhatre commented on #722
Could you specify what changes to the documentation?

[2022-08-23 12:02] ChinmayMhatre commented on #745
I think this has already been implemented in the readme

[2022-08-25 13:36] #745 closed

[2022-08-26 06:20] loftwah opened #748 "[FEATURE] Allow the word invalid"
### Description

The word invalid is flagged by EddieBot, but it is an actual word used in JavaScript errors. I would change the wording but it would make describing the issue ambiguous.

### Screenshots

_No response_

### Additional information

_No response_

[2022-08-31 19:27] LinuxGamer opened #750 "[FEATURE] Unblock tinker"
### Description

This word means to play around with something to achieve something and IMHO I don’t see this as against being open source and a community.

### Screenshots

_No response_

### Additional information

_No response_

[2022-08-31 20:34] eddiejaoude commented on #750
Thank you for raising. Unfortunately, this can be also used as an offensive term, so it is best we do not allow it.

[2022-08-31 20:34] #750 closed

[2022-09-01 16:53] christophermorin commented on #748
I had a go at this. Please ignore if changing the banned words list is frowned upon. Getting my feet wet with the whole open source contribution world. Thanks!

[2022-09-02 00:27] loftwah commented on #748
There is only one way to find out.

[2022-09-09 08:31] Flolight opened #752 "[FEATURE] Add Kubescape file"
### Description

_No response_

### Screenshots

_No response_

### Additional information

Example: https://github.com/EddieHubCommunity/LinkFree/blob/main/.github/workflows/kubescape.yml
Kubescape GitHub Repository: https://github.com/kubescape/kubescape

[2022-09-10 08:46] #752 closed

[2022-10-23 18:40] CBID2 opened #758 "[FEATURE] <adding master to the list of trigger words>"
### Description

Hi there. Would it be a good idea to add the word "master" to the bot's list of banned terms?  Even though "master" is the name of a repo default's branch, I'm concerned that it might be triggering to the Black members of our community since the term is often associated with the enslavement Africans.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-23 18:53] CBID2 opened #759 "[FEATURE] <allow the word Black>"
### Description

Hi there! :) I noticed that the bot flagged the term, Black. I think this term should be removed because it is used to describe the color of objects. The decision is also goes against the organization's mission to create an inclusive environment because  it communicates the following message to me and the other Black members of this community, "Black is a bad thing".

### Screensh

[2022-10-23 19:58] eddiejaoude commented on #758
Good idea 👍 , by default it is a banned word, but looks like it got added to the ignore list, by deleting this line, it will come back on https://github.com/EddieHubCommunity/EddieBot/blob/main/src/config/AlexJsOptions.ts#L31

[2022-10-23 20:01] eddiejaoude commented on #759
To have the bot ignore it, the rule needs to be added to this config file https://github.com/EddieHubCommunity/EddieBot/blob/main/src/config/AlexJsOptions.ts (AlexJS library rules  https://github.com/retextjs/retext-equality/blob/main/rules.md )

[2022-10-24 15:40] IAmTamal commented on #759
Hello @CBID2 ,

`communicates the following message to me and the other Black members of this community, "Black is a bad thing".` - if you take a look , `white` is also banned. So in no way we want to convey the message of  **"Black is a bad thing"** to other community members.

We just don't want someone or a potential spammer to join in and speak bad words hurting the mentality of people based o

[2022-10-24 15:55] CBID2 commented on #759
Hey @IAmTamal. Looking back at your comment, I do understand why that decision was made. Thanks for hearing me out.

[2022-10-25 22:19] CBID2 opened #760 "{FEATURE REQUEST} Allow the names “The Lion King”& “Women Who Code”"
### Description

Hi there. Is it possible that we can add “Women Who Code” and “The Lion King” to the ignore list? I got flagged for mentioning them, but they are names of an organization and a movie.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-27 22:48] eddiejaoude opened #761 "[FEATURE] Improve notifications by context checking"
### Description

https://github.com/tensorflow/tfjs-models/blob/master/toxicity/README.md

### Screenshots

![Uploading Screenshot 2022-10-27 at 23.45.35.png…]()

### Additional information

_No response_