[2020-04-15 21:03] rodrigo398 opened #1 "Add support for YouTube"
EddieBot could send a notification minutes before a streaming begins, and could send a notification when streaming is in progress.

[2020-04-15 21:11] rodrigo398 opened #2 "Tighter GitHub and User integration"
EddieBot may send a notification when Eddie's repository receives a new PR or a new commit. Maybe we could create a new channel on the discord server just to receive these notifications from github.

[2020-04-16 03:49] eddiejaoude opened #3 "Hello world bot working"

[2020-04-16 03:49] #3 closed

[2020-04-16 03:50] eddiejaoude opened #4 "Create typescript hello world bot"

[2020-04-16 03:50] eddiejaoude opened #5 "Add bot to channel"

[2020-04-16 03:50] eddiejaoude opened #6 "Create bot on Discord"

[2020-04-16 03:50] #6 closed

[2020-04-16 03:50] #5 closed

[2020-04-16 03:50] #4 closed

[2020-04-16 03:51] eddiejaoude opened #7 "Allow user to add bio via bot"
May be

[2020-04-16 03:51] eddiejaoude opened #8 "Create roles via bot (check if exists first)"

[2020-04-16 04:20] eddiejaoude commented on #1
I like this idea 👍

Do you know of any links to YouTube API docs that could be useful?

[2020-04-16 04:21] eddiejaoude commented on #2
I like this 👍

GitHub web hooks should make this possible 🤓

[2020-04-16 04:23] eddiejaoude opened #9 "Create CoC in this repo"
Use the open source code of conduct

https://www.contributor-covenant.org

[2020-04-16 15:01] mikeysan opened #10 "Where is the source"
Unless I am looking in the wrong place, we seem to be missing the code for the bot entirely.

[2020-04-16 15:25] #9 closed

[2020-04-16 17:21] eddiejaoude opened #11 "Cmd: help show available commands"

[2020-04-16 17:21] #11 closed

[2020-04-16 18:32] #8 closed

[2020-04-17 07:08] eddiejaoude commented on #10
You are right @mikeysan . I have pushed up the code so far just now 🤓

[2020-04-17 07:08] #10 closed

[2020-04-17 07:08] eddiejaoude opened #12 "Integrate Firebase database (firestore)"
Firestore

**server** collection
[code]

**users** collection (document per user)
[code]

**messages** collection
[code]

[2020-04-17 07:09] eddiejaoude opened #13 "Continuous Integration (CI) + Continuous Delivery (CD) with GitHub Actions"

[2020-04-17 07:09] eddiejaoude opened #14 "Set up hosting, where to host the bot, GCP? Azure"

[2020-04-18 08:04] eddiejaoude opened #16 "announcement channel only for bot"

[2020-04-19 19:32] metaverde opened #17 "Thinking this could use some comments?"
The code could use some comments for people who are maybe not as clear on what you're doing?

[2020-04-19 19:49] mikeysan opened #18 "Comments missing for help.ts"
I was just reviewing the code here https://github.com/eddiejaoude/EddieBot/blob/master/src/help.ts but found it difficult to follow as there are no comments.

I know it's early days, so no pressure :)

[2020-04-19 20:16] eddiejaoude opened #20 "Restrict bot commands to 1 command to every 2 seconds"
- Per user
- This could be stored in memory on NodeJS, I do not think there is a need for DB

[2020-04-19 21:54] eddiejaoude opened #22 "Renamed help file to commands file to match function name"

[2020-04-19 22:09] eddiejaoude opened #23 "Move envars to ignored tmp file so on live stream I don't show the discord key"

[2020-04-19 22:10] #22 closed

[2020-04-19 22:10] #23 closed

[2020-04-19 22:11] eddiejaoude opened #24 "Count users messages as part of user stats"
Dependent on new DB https://github.com/EddieJaoudeCommunity/EddieBot/issues/263

[2020-04-20 12:16] eddiejaoude opened #25 "Create contributing file"

[2020-04-20 12:17] #25 closed

[2020-04-20 18:58] webkhushboo opened #26 "On Windows 'DISCORD_TOKEN' command is not working"

[2020-04-20 19:16] #26 closed

[2020-04-21 11:47] mikeysan opened #28 "how to get a discord-token"
I was reading the readme file and I got stuck right at the start thinking "how do I get a discord token?"
I know I could probably google it, but since you have been through the process already, do you think it would be helpful to include the steps required? It could be as simple as a link to the discord site only.

What do you think?

[2020-04-22 19:12] BOLT04 commented on #2
I found [this tutorial](https://support.discordapp.com/hc/en-us/articles/228383668) for webhooks on discord and it seems quite easy to setup Github 🙂. Here is their reference list:
![imagem](https://user-images.githubusercontent.com/18630253/80023244-244abe00-84d5-11ea-805a-0cbd9f21b7be.png)

[2020-04-27 12:37] #28 closed

[2020-05-01 15:14] BOLT04 opened #31 "Notify `general` when new channel is created"
## Proposed solution
For this, I'd suggest adding a new event handler function and listen to the [channelCreate](https://discord.js.org/#/docs/main/12.1.1/class/Client?scrollTo=e-channelCreate):
[code]

The `notifyGeneralChannel()` function would be the event handler that sends a message to the general channel. The message thas is sent could be the following:
![test general notification for new ch

[2020-05-02 15:08] eddiejaoude commented on #31
Great idea 👍 , thank you for the suggestion 🤓

[2020-05-03 12:51] BOLT04 opened #32 "Feature: Experience System & Level Up 🏆"
## Idea
Since Eddie's channel is all about Open Source and making contributions, I think making an **XP System** on the bot would be a cool idea. This system could help motivate more people in contributing to Open Source, in any way possible! It doesn't have to be code, fixing spelling errors, or translating docs also adds value!

## Goal
The goal is to **incentivize people to contribute** to open

[2020-05-04 11:55] BOLT04 commented on #31
I can open a PR with this change if this issue isn't taken. What do you think @eddiejaoude?

[2020-05-07 10:47] eddiejaoude commented on #31
@BOLT04 Sure 👍 , that would be great. Thank you! 🤓

[2020-05-10 11:28] stemount commented on #2
@BOLT04 @eddiejaoude Can this be closed? GitHub/Slack/etc allow simple webhooks integration and I don't believe there's actually coding required for this in EddieBot as that would simply be duplicating effort right?

[2020-05-10 12:22] stemount commented on #1
Wow, yeah @rodrigo398 @eddiejaoude this is actually a great idea. As I have no YouTube videos or live streams, it's hard to debug this without starting a new channel or whatver.

Implementation ideas:
1. https://developers.google.com/youtube/v3/guides/push_notifications - Could you use the Push Notifications(?) as @eddiejaoude's YouTube account? Do push notifications include "going live" or do we

[2020-05-10 13:13] eddiejaoude commented on #2
I think existing integrations are per repo, rather than per user. It depends what we want to achieve. User stats and achievements would be good.

[2020-05-10 13:15] #31 closed

[2020-05-10 15:15] eddiejaoude commented on #32
I really like this @BOLT04 👍  !! I am planning on the bot integrated with Firebase (Firestore db), so that there can be a web and mobile app with some stats.

[2020-05-10 15:55] stemount commented on #7
This is an idea that is bigger than just a bot, I would hope this would be more universal with the bots like MEE6 bot or Nightbot...

When you join a discord server, it will find out your interests either through prompts, collect your bio from LinkedIn/Twitter/your website meta description/your og tags on a site (listed in order of what somebody is most likely to have filled in)

So when a user jo

[2020-05-12 17:53] BOLT04 commented on #7
@stemount yeah, I think this can be a bigger feature and support more interesting ideas like you mentioned, prompting for their interests, for example. I have checked if Discord has [support for user bios](https://support.discord.com/hc/es/community/posts/360055294011-Customizable-profile-bios), but it doesn't seem like they do atm.

We could also do something simple like @eddiejaoude said "!bio M

[2020-05-18 15:29] BOLT04 opened #34 "Suggestion: Add topics like 'discord-bot' to categorize this repo"
We could add the tech stack (languages and libs) we use, like:
- [typescript](https://github.com/topics/typescript)
- [nodejs](https://github.com/topics/nodejs)
- [discord-bot](https://github.com/topics/discord-bot)
- [discordjs](https://github.com/topics/discordjs)

[2020-05-19 09:04] eddiejaoude commented on #34
When you say `topics` do you mean labels?

[2020-05-19 10:57] BOLT04 commented on #34
@eddiejaoude yes, I said topics because it's what I see on my repos 😅 :
![image](https://user-images.githubusercontent.com/18630253/82318466-cfad3c80-99c7-11ea-9e3f-13d53441c5de.png)

[2020-05-20 15:35] eddiejaoude commented on #34
Oh yes that make sense now 👍

[2020-05-20 15:36] eddiejaoude commented on #34
Updated, thank you 👍

<img width="871" alt="Screenshot 2020-05-20 16 35 58" src="https://user-images.githubusercontent.com/624760/82466216-0793ad00-9ab8-11ea-8966-a174d8e01beb.png">

[2020-05-20 15:36] #34 closed

[2020-05-23 15:05] BOLT04 opened #35 "Feature: Add a command to get server stats"
When a user types `!stats`, a message should appear with the following data:
- [x] total users
- [x] total messages
- [ ] total reactions

**Proposed solution for total users**
[code]
### Error handling
In case of an error getting the member count for the guild, we can return 0 or null and then don't show that field on the final message. This is something I'd like your opinions on.

I'd also like

[2020-05-23 15:46] eddiejaoude commented on #35
Oh interesting, does discord have all that data? When I started reading it, I thought we would have to manage it in a DB

[2020-05-23 16:00] eddiejaoude commented on #7
Great ideas 👍 . I think had many parts. I am thinking of part 1 at the moment, keeping it small. If it works well, then can be expanded further.

This will probably be split into multiple issues as we go along.

[2020-05-23 16:24] BOLT04 commented on #35
Yeah, I found the [memberCount](https://discord.js.org/#/docs/main/stable/class/Guild?scrollTo=memberCount) so we can use it for total users. But I'm not sure they have all the data we want, maybe we need a DB.

For example, I've only found a way of getting the messages using [their API](https://discord.js.org/#/docs/main/stable/class/MessageManager) of a channel like this:
[code]

So we could loo

[2020-05-23 16:28] eddiejaoude commented on #35
I think we should save the data, there will be functions running for each of those triggers anyway, so we can just increment the counter at the same time

[2020-05-25 17:56] BOLT04 opened #36 "Use Discord Gateway Intents for V2 of the bot"
Hi everyone 👋,

We might need to refactor the codebase to use [gateway intents](https://discordjs.guide/popular-topics/intents.html), until **October 7th of this year**. I saw a video announcing this, and luckily we already have the latest version of discord.js (version 12 supports intents).

I'm creating this issue just to get your opinions and as a warning, since the bot may stop working after t

[2020-05-25 18:00] eddiejaoude commented on #36
Oh good spot @BOLT04 👍 . Yep, we definitely want to be ready for any future changes 🤓 . Thank you for creating the issue and for the link to the docs as well as the example.

[2020-05-31 05:23] garretcharp opened #38 "Split out commands into their own files"
I believe having commands separated out to their own files will make it a lot easier to add new commands when needed. With this I also think having a config file for setting things like a command prefix or the default embed with the footer would be nice.

Currently working on doing this and noticed most commits reference an issue so I am creating this so we have it.

[2020-06-02 10:46] eddiejaoude commented on #38
You are right, separating them out would be much better 👍

[2020-06-02 20:20] #14 closed

[2020-06-02 20:20] #13 closed

[2020-06-02 20:34] eddiejaoude opened #41 "Change command trigger so it doesn't conflict with NightBot"
Currently using `!` which is the same as **NightBot**

May be should use `$`?

[2020-06-03 12:25] BOLT04 commented on #41
We could take this opportunity to change the code that "hardcodes" that `!` prefix, like:
[code]
to

[code]

It's not as pretty 😅, but we can easily change the prefix in only one spot, instead of searching for all occurrences of  `!`. In order to have it in only one place, we could also export this constant on the `commands` file, instead of being a local variable. That way it can be used all acro

[2020-06-03 12:31] eddiejaoude commented on #41
Good idea 👍 . Especially now we want to change it so it doesn't conflict with **NightBot**

@GarretCharp did this in his PR https://github.com/eddiejaoude/EddieBot/pull/39/files#diff-7e82dc7533620e594f349d3ea425b5b4R4 which is now merged into `develop`

[2020-06-03 14:33] eddiejaoude opened #42 "Use a logger like Winston"

[2020-06-03 17:50] eddiejaoude opened #43 "Upgrade linter and fix issues"

[2020-06-03 17:50] #43 closed

[2020-06-03 19:19] BOLT04 opened #46 "Suggestion: Add All Contributors Table in README"
Hi everyone 👋,

I've recently come across the [all-contributors spec](https://allcontributors.org/docs/en/overview) and thought we could add it on EddieBot as well. I wasn't aware of this, even though I remember seeing these tables on some popular repos on GitHub 😅.

The idea of recognizing the contributions of everyone in the community, even if the PR was small, is important in my opinion. So I w

[2020-06-03 20:10] garretcharp opened #47 "High value reaction role not being applied correctly"
Currently if a user gets reactions in the form of multiple different emotes they do not get the high value role once they reach a total of 5 reactions. They will only receive the role if they receive a total of 5 from the same exact reaction emote.

Related doc to this: https://discordjs.guide/popular-topics/reactions.html#listening-for-reactions-on-old-messages
[code]

Note how it says "given the

[2020-06-03 20:57] eddiejaoude commented on #47
Good spot 👍 . Great issue with the link to the docs and pulling out the relevant parts 🤓

[2020-06-03 20:57] eddiejaoude commented on #47
PR merged 👍

[2020-06-03 20:57] #47 closed

[2020-06-04 12:01] eddiejaoude opened #50 "Standup notes via the bot"

[2020-06-04 17:03] #38 closed

[2020-06-05 03:21] garretcharp opened #54 "Suggestion: Add dotenv easier env vars"
Currently in order to run the bot locally you have to either edit your environment, or run the command:
[code]

I believe in order to make this a little easier and not having to modify your environment it would be nice to add dotenv which allows you to create a `.env` file in your project with the variables.

It would look like so for the developer:
[code]

Would also need to change the package.js

[2020-06-05 03:40] garretcharp commented on #42
I have not used winston before, but I was looking at their readme on npm, it seems like it only really logs string messages?

I normally use pino currently and I can throw just about any object or error response into it and it will format it into a json log. Does winston do this as well?

From winston readme:
[code]

From the looks of that directly it seems it only really looks for string message,

[2020-06-05 09:08] eddiejaoude commented on #42
[Pino](https://github.com/pinojs/pino) looks good, I am happy to use it 👍

[2020-06-05 09:11] eddiejaoude commented on #54
Good thinking, I like to lower the barrier to entry. I usually do something like this before the commands in npm `source envars.tmp {COMMAND}`

**envars.secret** file

[code]

with `*.secret` in the `.gitignore` file

[2020-06-05 09:38] #41 closed

[2020-06-05 09:38] eddiejaoude opened #55 "When using the standup command, can it remove the original message?"
<img width="947" alt="Screenshot 2020-06-05 10 39 10" src="https://user-images.githubusercontent.com/624760/83861686-cdade200-a718-11ea-8f48-0103827e05aa.png">

[2020-06-05 09:49] eddiejaoude opened #56 "Standup command to add the author"

[2020-06-05 12:19] BOLT04 commented on #55
I believe this can be done by deleting the message that started the command, like
[code]

But to only do this on a particular command, we would need the command handler to receive the `message` parameter.

[2020-06-05 14:03] eddiejaoude commented on #55
Oh awesome 👍 . Thanks for the example 🤓

[2020-06-05 14:58] eddiejaoude opened #57 "Transfer repo to Community org"

[2020-06-05 14:58] #50 closed

[2020-06-05 14:58] #57 closed

[2020-06-05 15:13] garretcharp opened #58 "Bug: Crash if command is not entered correctly"
https://github.com/EddieJaoudeCommunity/EddieBot/blob/7e9254c4c5c0918488c30bfb40ad78e8e9c6cfc7/src/commandHandlers/standup.ts#L10-L15

This command will cause the bot to crash if someone does not run it correctly. We should check if the arg length is 2. If it is not we should send back a message telling them how to use the command correctly.

[2020-06-05 15:14] eddiejaoude commented on #58
OMG 🤦  ! Good spot. I will do that next on my list. Thank you 👍

[2020-06-05 15:24] garretcharp opened #59 "Feature: Add in command usage for the help commands"
Since we are getting to where we are doing commands that require input as to how they run I think it would be a good idea to add in a usage of how the command is supposed to be run.

Example for the standup command:

[code]

This would go inside the `standup.ts` file.

Then inside the help command we could add another line below the description and print this out, as well as use it to send back th

[2020-06-05 15:26] eddiejaoude commented on #59
Great idea 👍

[2020-06-05 18:13] eddiejaoude opened #60 "User save bio and social handles, other users can get user's info"
Save key/value pairs

available keys:
- Twitter
- GitHub
- Youtube
- Bio

[code]

To get user info

[code]
 returns something like

[code]

[2020-06-05 19:17] BOLT04 commented on #42
I wasn't aware of Winston or Pino, but being able to format an object and log it is quite cool 😃 , imo. I've only used [debug](https://www.npmjs.com/package/debug) to create functions like `trace` or `info`, each with their own color. They also have [formatters](https://www.npmjs.com/package/debug#formatters) to print an array/object in multiple lines, for example.

[2020-06-06 13:26] eddiejaoude commented on #42
Oh wow `debug` seems popular too. I don't mind which we use, I am just happy to get rid of the `console`s 😂

[2020-06-06 13:27] eddiejaoude commented on #18
Help got moved to here https://github.com/EddieJaoudeCommunity/EddieBot/blob/develop/src/commandHandlers/help.ts

It is probably still relevant for all commands. I think you mentioned it too @BOLT04 that we need some docs on how to add a command to the project

[2020-06-06 18:41] BOLT04 commented on #55
I've tested the `delete` method, and in order for the bot to execute it it needs the "Manage Messages" permission:
![imagem](https://user-images.githubusercontent.com/18630253/83951804-186c4e80-a82c-11ea-90bc-11c9fde7b7c6.png)

or this error occurs:
![imagem](https://user-images.githubusercontent.com/18630253/83951909-e8717b00-a82c-11ea-97fc-0ace8ff25c8d.png)

I think our server has the `bots` rol

[2020-06-07 02:48] garretcharp commented on #58
I created a PR for adding in command usage to each command: https://github.com/EddieJaoudeCommunity/EddieBot/pull/63

I would say if they do not have the correct amount of arguments specified send them back the usage message.

[2020-06-07 03:22] garretcharp commented on #54
Cool, I transferred over my envars into a env.secret.tmp, and it works just fine. Since that is already in the gitignore as well I will close this issue.

[2020-06-07 03:22] #54 closed

[2020-06-07 09:48] eddiejaoude commented on #55
Sounds good. Having access to the `username` would be good to include in the bot's response. Could pass it as a 3rd parameter?

[2020-06-07 10:24] eddiejaoude commented on #54
Thanks @garretcharp 👍 - lets see how this goes, we can always revisit this in the future if we need to 🤓

[2020-06-07 10:29] eddiejaoude commented on #58
Good idea, I will do that now and raise a PR

[2020-06-07 10:33] eddiejaoude commented on #58
PR is here https://github.com/EddieJaoudeCommunity/EddieBot/pull/65

[2020-06-07 12:40] BOLT04 commented on #18
Would that documentation go to the README @eddiejaoude ? Or a folder called `docs` at the root of the project?
Also @mikeysan, could you elaborate on what your difficulty was when reading the code? Even though the file changed quite a bit, your feedback would help creating the documentation and the comments that are necessary 😃

[2020-06-07 12:43] eddiejaoude commented on #18
I think for now, we keep adding to the `README` and when it gets too big we will start splitting things out and keep the high level / important stuff in the `README` and more details in `docs`

[2020-06-08 11:51] mikeysan commented on #18
@BOLT04 It was my initial look-in. I was trying to read the code to understand the flow of what was going on. I don't know Typescript, but I am pretty good at reading through code to get a gist of what its doing; especially when it has comments. That's what I was looking for. I like that the scope has been expanded to include a more general documentation of what the bot does. I think that's useful

[2020-06-08 15:09] eddiejaoude opened #67 "Upgrade to eslint in `all` (strict) mode"

[2020-06-08 15:10] #55 closed

[2020-06-08 16:17] BOLT04 commented on #35
The total reactions stat is still in progress? @garretcharp I think I remember you mentioned you were working on a piece of code to get the total reactions or did you make a PR already?

[2020-06-09 00:53] eddiejaoude commented on #35
I think it is waiting on me to store data in the DB - I will finish the logger tomorrow that also outputs to the `bot` channel, then I will get back to the saving of data in the DB, which will open lots of doors

[2020-06-09 04:42] garretcharp commented on #35
Yeah I do not think it is possible to get the total amount of reactions without a database. Other than looping through every message on the server which really should not be done.

[2020-06-09 10:35] #18 closed

[2020-06-09 12:34] BOLT04 commented on #56
Hi @eddiejaoude, isn't the author already added on the footer of the message? I think we made this change [here](https://github.com/EddieJaoudeCommunity/EddieBot/pull/66). Or is there more info we could add?

[2020-06-11 09:06] eddiejaoude commented on #12
@BOLT04 good question. For the moment I was thinking it to be a single document on the `server` collection. I wasn't thinking about multi tenancy and other servers just yet - I was keen to keep it simple for now. Any suggestions welcome 🤓

[2020-06-11 09:18] eddiejaoude commented on #56
Oh you are right, well noticed 👍

[2020-06-11 09:18] #56 closed

[2020-06-11 17:49] #42 closed

[2020-06-15 13:45] #36 closed

[2020-06-16 13:40] eddiejaoude opened #71 "Shout out users who have contributed to GitHub today (4pm check?) - user must set their GitHub username"
dependent on #60

https://github.com/EddieJaoudeCommunity/EddieBot/issues/71#issuecomment-649040870

[2020-06-19 19:36] BOLT04 opened #72 "Add optional reason for role assignment"
If a user is a certain role on the discord server, but they did not assign that role to themselves, that might confuse them. In cases where the bot assigns a role if a condition passes, we could also save that reason for the new user's role (on the DB perhaps).

This feature's goal is to let the user execute a command or mention the bot, that gives them that reason, for a given role.
E.g:
    `<co

[2020-06-21 10:10] eddiejaoude opened #73 "Tips command, like `$opensource` displays tips and resource links"

[2020-06-21 10:10] eddiejaoude opened #74 "Give roles based on skills / experience (e.g. `express`)"

[2020-06-21 11:49] BOLT04 commented on #74
I was thinking we could add a command to **list the roles** too, like:
![imagem](https://user-images.githubusercontent.com/18630253/85223677-88e2a600-b3bc-11ea-9b6e-07bee449438c.png)

I don't think this is private info for the members, and we could add a description saying how each role can be obtained. Not sure if this command would be a new issue... because it's related to this one 🤔.
Also what

[2020-06-21 23:04] eddiejaoude commented on #74
Oh these are great ideas 👍

- I love it that people could give themselves some roles (for example `student`)
- descriptions of the roles and how they can be obtained are really a great idea too - as some they can give themselves, some they must do "something" to achieve it

[2020-06-21 23:58] eddiejaoude commented on #72
This sounds like a good idea. Is there overlap with #74 or just related?

[2020-06-22 21:02] BOLT04 commented on #72
yes there might be since both are about role assignment. But maybe this issue could just be to change [messageReactionAdd](https://github.com/EddieJaoudeCommunity/EddieBot/blob/develop/src/messageReactionAdd.ts) to store a reason on the DB. In this case, what is important is to store the message's id (or some identifier) that got the 5+ reactions, so the bot can link back to it when the user asks.

[2020-06-22 21:16] eddiejaoude commented on #72
Yes 👍 . I think smaller items are better and easier for all.

[2020-06-23 22:09] eddiejaoude opened #77 "Firestore security rules"

[2020-06-24 11:01] #60 closed

[2020-06-24 11:34] #16 closed

[2020-06-24 11:48] eddiejaoude opened #79 "GitHub notifications to Discord"

[2020-06-24 11:48] #79 closed

[2020-06-24 15:32] mikeysan commented on #71
[delete after reading] Did you mean "shout" instead of "should" in the title?

[2020-06-24 16:18] eddiejaoude commented on #71
Thanks @mikeysan, you are right! 👍

[2020-06-24 20:03] BOLT04 commented on #71
This feature seems really cool! I was thinking that maybe the bot runs a job (just a function) at a certain time, or after X time has passed (this could be configured). That job is responsible for handling that logic, some steps would be:
- Read `users` collection and filter out users without a github username (this should be a field but we need to confirm on the DB schema)
- Use GitHub API to mak

[2020-06-24 20:07] BOLT04 commented on #2
Just leaving a note here for those that might not be aware. Part of this issue has been handled on #79, which is closed. There is still room to improve and make more features on this GitHub integration, so we can keep working and discussing solutions on this issue 😃

[2020-06-24 21:22] eddiejaoude commented on #71
Oh nice idea 👍 . I will add it to the issue description

[2020-06-24 21:24] eddiejaoude commented on #2
Well spited @BOLT04 . I will update this title, I used your link from above to solve it but I had it open in my browser from a long time ago and I forgot about this issue. Thank you 👍

[2020-06-28 11:48] eddiejaoude opened #80 "Timezone, read messages for `Xpm` `X pm` and `X:XX` combinations and reply with popular timezones"
## Match these and reply with alternative timezones

- 3pm BST
- 3 pm GMT
- 4 am EST
- 1:30 am BST
- 1:45pm BST
- 21:15 GMT

## Suggest using timezone

- 3pm
- 3 pm
- 4 am
- 1:30 am
- 1:45pm
- 21:15

[2020-06-28 11:51] stemount commented on #80
@eddiejaoude I'm onto this issue already 🗡️

Would it be better if the bot had a !reminder or some action e.g. `!reminder Harsh Kapadia's live stream on https://youtube.com/whatevers/?fakelink=123123 @ 15:00 EST` then it prods you nearer the time to your LOCAL timezone? 😱

[2020-06-28 11:53] eddiejaoude commented on #80
I like that idea too, but I think that is a separate feature. Because not everyone will want the reminder, so each user can set a remind if they wish. The idea I was thinking was just to be part of the conversation, easier to read for everyone.

I really like your idea, but I think a `reminder` feature would be great 👍

[2020-06-28 11:57] stemount commented on #80
Silly idea, not that constructive ;) but I guess you could have a "DIE HARD LIVESTREAM FAN" role as suggested in #74 `@DieHardLiveStreamFans Get yourself a brew because in 10 mins the show is about to begin!"

[2020-06-28 11:57] eddiejaoude opened #81 "Reminder - command so people can set themselves reminders"
These must come in their DMs not publicly

[2020-06-28 11:58] eddiejaoude commented on #80
I created #81 for the reminder command.

I like that idea `@DieHardLiveStreamFans` 👍

[2020-06-30 16:20] eddiejaoude opened #82 "Update GitHub url in project"
Project got moved and needs the GitHub url updated to `https://github.com/EddieJaoudeCommunity/EddieBot`

- `src/config.ts`
- `src/commandHandlers/codeOfConduct.ts`

<img width="633" alt="Screenshot 2020-06-30 17 21 14" src="https://user-images.githubusercontent.com/624760/86151035-1bd6bb00-baf6-11ea-80b6-6f41b5857ee1.png">

[2020-06-30 16:47] #12 closed

[2020-07-01 08:48] eddiejaoude opened #84 "User stats on how many reactions they send and receive (daily, weekly, monthly, yearly)"
Useful stats:

- daily reactions sent
- daily reactions received

- monthly reactions sent
- monthly reactions received

- yearly reactions sent
- yearly reactions received

[2020-07-01 09:41] eddiejaoude opened #85 "Feature list README"
Add `Features` section to `README.md`:

- Timezone, listens for messages that contain `1:30pm UTC` and replies with common timezones translation
- Set/Get user bio with description and social links
- Code of Conduct
- Daily standup message consistently formatted
- Help
- Members role rewards
- Platform stats

- Firebase (Firestore) integration, allowing people to easily add commands and persist da

[2020-07-01 09:58] eddiejaoude opened #86 "Set `bio` role when user sets any bio info"

[2020-07-01 11:51] mikeysan opened #88 "Link in footer contains old Bot location"
Here's the file that needs changing. https://github.com/EddieJaoudeCommunity/EddieBot/blob/develop/src/config.ts
It is pointing to the old location of the EddieBot.

[2020-07-01 13:46] eddiejaoude commented on #88
Sorry @mikeysan , I thought you forgot, so I raised one too #82

Closing due to duplicate

[2020-07-01 13:46] #88 closed

[2020-07-01 15:33] eddiejaoude opened #89 "Add IST to timezone feature (branch #83)"
- Config file `src/config.ts`
- Add abbreviation that people will type and the `momentjs` full timezone

[2020-07-01 18:38] #80 closed

[2020-07-01 21:03] BOLT04 commented on #7
Just documenting here some updates on this issue (it seems almost forgotten 😅).
A version of this feature has been implemented on the PR #76, and the PR #86 is also related.

@eddiejaoude what do you think of adding a label named "Epic" (e.g like [this repo](https://github.com/fecgov/fec-epics/labels/Epic)). That way devs know this issue is split into many issues, each regarding a small part of th

[2020-07-01 21:04] #86 closed

[2020-07-01 21:09] #77 closed

[2020-07-01 21:11] eddiejaoude commented on #7
Good idea @BOLT04 , however, if possible, I would prefer, to create the new issues immediately from the discussion, so they can all be independent (prioritise / worked on etc).

Do you think that is possible? I can create new issues from the comments above, or other people are welcome to create them

[2020-07-01 21:12] BOLT04 commented on #59
Hi @garretcharp, can we close this issue? I think you solved it with the PR #63 😃

[2020-07-01 21:19] eddiejaoude commented on #59
Good spot @BOLT04 👍 . I think it was solved, the branch name matches the issue number too `garretcharp:garret-59-Command-Usage`. I am going to close. We can always reopen or create another one if @garretcharp things there is more to do 🤓

[2020-07-01 21:19] #59 closed

[2020-07-01 21:23] BOLT04 commented on #7
Yes, I think it's great to create new issues immediately from the discussion 👍 . My comment was more of a way to add a reference to the PRs that are related to this issue. I felt that if a new person saw this issue they might see it hasn't been updated in a while and it wasn't been worked on. I just wanted to inform readers with some updates 😃

On second thought, I'm not sure adding that label wou

[2020-07-01 21:32] eddiejaoude commented on #7
I think the original part of this ticket is done, but we should create new tickets from the discussions, then closer this ticket to avoid confusion. In the newly created tickets they could reference this tickets so the history and journey of thinking is easily found if required.

[2020-07-03 10:21] prajwal0024 commented on #89
I'll work on this

[2020-07-03 10:35] eddiejaoude commented on #89
Cool 👍 . Any questions let me know

[2020-07-03 12:18] #89 closed

[2020-07-07 08:47] #73 closed

[2020-07-07 08:49] eddiejaoude opened #94 "Move `tips` to markdown files"
See PR #75

[2020-07-07 08:56] eddiejaoude opened #95 "User bio "keys" like "interests" etc"
See #7

[2020-07-07 08:57] eddiejaoude commented on #7
Closing this as `bio` is done, but I created #95 for more features

[2020-07-07 08:57] #7 closed

[2020-07-07 11:03] eddiejaoude opened #96 "Bio commands/flags should be all lower case"
In this [command](https://github.com/EddieJaoudeCommunity/EddieBot/blob/develop/src/commandHandlers/bio.ts) the flags should be converted to lower case, so whatever case the user types will still work

[2020-07-11 13:00] BOLT04 opened #98 "Remind members to contribute to open source"
## Objective
Remind members of the community to contribute to open source. The main idea is for the reminder to go off daily so that members get in the habit of contributing small and often 😃. But, the time it goes off **should be configured**.

_Note: this could be turned off by a policy. If the user doesn't want to be pinged, there must be a command or something else to turn it off._

## Propose

[2020-07-13 00:26] #74 closed

[2020-07-13 00:51] eddiejaoude commented on #98
Great idea, you are right this has been discussed quite a bit - not sure there is a clear goal. Probably best a simple solution is implemented and see what people think. Definitely needs to be op in though as some people will not want to be disturbed daily.

It would be good if someone sets their GitHub username in their bio, that it can not notify them if they already contributed on that day

[2020-07-13 19:40] BOLT04 commented on #98
Yes I agree we should start with something simple at first. But do you agree this issue depends on #81 @eddiejaoude? It would use some function or module to set a function to run at a given time, like:
[code]

[2020-07-14 09:34] eddiejaoude commented on #98
I think keep it separate to #81 for now. They might share some common parts, but I think we can abstract any commonality when the 2nd feature is built.

How were you thinking about the scheduler? Maybe using something like this? https://www.npmjs.com/package/node-schedule

[2020-07-14 10:00] eddiejaoude opened #99 "Bio command should have location property"
Save location as Lat/Lng in DB to use on the UI on a map

[2020-07-14 19:12] BOLT04 commented on #98
Yes, I was thinking of using a 3rd party package, I actually didn't know that one you mentioned. I was experimenting with [node-cron](https://www.npmjs.com/package/node-cron), but I might change for that one 😅.

[2020-07-14 22:26] eddiejaoude commented on #98
I did a quick search, I haven't reviewed it or compared it to that one. We can see which one looks better

[2020-07-18 16:28] BOLT04 opened #101 "Re-schedule jobs created by the reminder command if node process goes down"
## Problem
The user can create a reminder for the next day, but if the node process goes down (this happens frequently), the reminder message won't be sent.

## Proposed Solution

## Tasks
- [ ] New collection called `jobs` that have a id, reminderMessage, status with the possible values: "scheduled", "running", "finished", "error", and an optional name.
- [ ] At startup time (`index.ts`), read fr

[2020-07-19 16:53] stemount commented on #72
As a suggestion @BOLT04 @eddiejaoude how about extending the `^bio` thing for this? So you can check out your bio but also on the end it says

Roles:

Steve is a .................blah blah blah...........

Steve has these roles:
"Questionable Value": "Started to miss the live streams especially the devops ones" - added Jun 19 2020

[2020-07-19 18:41] #81 closed

[2020-07-19 18:43] eddiejaoude commented on #101
I don't see it as a bug, I see it as an improvement 🤓

[2020-07-19 18:59] eddiejaoude commented on #72
Yep I like it 👍

[2020-07-19 23:23] eddiejaoude opened #102 "Add user's roles to end of bio response"

[2020-07-20 00:24] eddiejaoude opened #104 "Create `iam` tech roles and add to config"
for example

- javascript
- node
- php
- java
- typescript
- ruby
- python
- go
- DevOps

[2020-07-20 00:37] eddiejaoude opened #105 "Save `iam` roles in the DB, so can be used on the web and mobile app"

[2020-07-20 00:48] eddiejaoude opened #106 "timezone regex to also allow for `UK` as well as `UTC`"

[2020-07-20 18:45] anuraghazra opened #108 "[Nightbot]: Prevent emojis from being marked as spam"

[2020-07-20 18:45] dheerajdlalwani opened #109 "Disable Emoji blocking"
We need emojis to express our selves...
Disable the blocking

[2020-07-20 18:46] syedareehaquasar opened #110 "Please disable emoji blocking its causing troubles... :-)"

[2020-07-20 18:47] #110 closed

[2020-07-20 23:18] eddiejaoude opened #111 "Reaction counts should ignore the message authors"
- ignore authors reactions
- permissions on EddieBot and EddieBotDev

[2020-07-21 00:18] eddiejaoude commented on #108
Thanks @anuraghazra . I think I have fixed this now 👍 - we will find out on the next live stream 🤞 😂

[2020-07-21 00:18] #108 closed

[2020-07-21 00:18] eddiejaoude commented on #109
Thanks @dheerajdlalwani . I think I have disabled this on Nightbot 🤞

[2020-07-21 00:18] #109 closed

[2020-07-21 00:24] eddiejaoude commented on #110
Thanks for raising 👍 . I have disabled this on Nightbot, lets hope it works 🤞 - we will find out on the next live stream 😂

[2020-07-21 13:21] stemount opened #112 "Use the Discord Audit Log to see why Nightbot is so twitchy with new users, emojis etc"
We constantly have Nightbot coming along and just basically deleting messages from new people in the Discord channel for an innocent link.

![image](https://user-images.githubusercontent.com/150512/88059694-1ef52200-cb5d-11ea-81cd-14091d7a5e2d.png)

It is possible that @MEE6 could actually prompt the user to start off with using the ^bio functionality and then parsing the URLs, and then maybe tell

[2020-07-22 19:30] BOLT04 commented on #72
@stemount do you think that extension to the `bio` command can be implemented in this issue, or should we create a new issue for it? I feel it would be benefitial to divide this issue related to roles and the bio one.

[2020-07-22 19:55] stemount opened #113 "As a Discord lurker, I can check out the bio of users and see their role assignment and why they have that role"
There's some pretty good ideas in this bot where we can consolidate a lot of functionality into the `^bio` functionality.

## Proposal
To extend the bio feature,
When I type `^bio` at the end of the users bio, it will show their role and how they were awarded it.

[code]

[2020-07-22 19:56] stemount commented on #72
@BOLT04 oh yeah this would be a new issue...... gonna get that green blob ;) #113

[2020-07-22 20:07] stemount opened #114 "I think this bot should have a test framework"
... but *which* test framework? Answers in a pull request, or as comments below. ;-)

e.g. PR for #107 looks fine but it would be good to test all of the possible timezones and ensure that the regex does not match  the wrong timezone etc...

[2020-07-22 20:34] eddiejaoude commented on #113
Is this solved here? https://github.com/EddieJaoudeCommunity/EddieBot/pull/103

I know it doesn't have the descriptions yet, so I guess this is the description part?

[2020-07-22 20:35] eddiejaoude commented on #72
Green square 🎉

[2020-07-22 20:36] eddiejaoude commented on #114
yeah it needs tests, doing more prototyping style at the moment, but this is important before we add more features - good call 👍

[2020-07-22 22:25] #106 closed

[2020-07-22 22:53] stemount commented on #113
💯 yis

[2020-07-23 09:38] eddiejaoude commented on #112
I like this idea 👍 .

I think the links issue has been reduced as of yesterday, because I left linkedin.com off the allowed list 🤦‍♂️  - let me know if any other domains should be added. Here is the list at the moment:

[code]

The idea of prompting the user for `^bio` when they join is a great idea, I need to get the bot deployed somewhere more stable, the Azure hosting goes to sleep too much

[2020-07-23 12:51] stemount commented on #114
Totally agreed @eddiejaoude I know this is in the prototype stage, but what I wanted to do was actually PR in *this* bot having a debug channel.

This issue is an opening conversation on what framework is best. I have used a handful of JS testing frameworks and I wanted to open the conversation at this time to one day go through the options, e.g. Jest/Nightwatch/Mocha/Chai/whatever the new flavour

[2020-07-23 12:53] stemount commented on #112
@eddiejaoude Yes, I opened this PR as I know this is actually quite a complicated subject that needs technical grooming.

The Audit Log API is not super simple but I **REALLY** like Discords event-driven design and I think that the community (and I) could learn a LOT about Discord and "event driven design".

[2020-07-24 12:21] #102 closed

[2020-07-24 16:09] #105 closed

[2020-07-24 16:13] eddiejaoude opened #117 "Self assign IAM roles needs an await on roles"

[2020-07-24 16:27] stemount opened #119 "^iam <role> should lowercase its argument"
`^iam <role>` needs to be lowercase so it makes a match against the "allowed roles" list.

[2020-07-24 16:51] #117 closed

[2020-07-24 16:51] #119 closed

[2020-07-24 22:52] #111 closed

[2020-07-25 11:22] BOLT04 commented on #114
@stemount i'd vote for Jest or mocha 😃

[2020-07-25 11:27] BOLT04 commented on #104
@eddiejaoude could you give a little description of the bug? Is there an error occurring perhaps?

[2020-07-25 11:28] eddiejaoude commented on #104
oh it is not a bug with the code, it is a bug with me 😂 . I didnt create the roles in Discord and then add them to the config, so this was a reminder for me.

I have added some now, I need to add more.

We can close this now 🤓 . Thank you for pointing this out 👍

[2020-07-25 11:28] #104 closed

[2020-07-25 11:30] eddiejaoude commented on #46
Oh nice 👍 . I must have missed this issue, sorry. Its a great idea 💪 . I love to give credit back to the community 🤓

[2020-07-25 11:47] BOLT04 opened #120 "Feature: Allow the user to set multiple roles in the same 'iam' command"
## Example
![imagem](https://user-images.githubusercontent.com/18630253/88456261-317c9d80-ce74-11ea-9fe8-ad7520a987fb.png)

## Questions
- If one of the provided roles isn't self-assignable, then we can ignore it or fail the whole operation. Should we assign all the valid roles, and then display on the embed message the ones that got assigned, or fail the operation?

[2020-07-25 11:50] eddiejaoude commented on #120
Good idea and question.

Maybe add the ones that work, and report back the ones that failed?

[2020-07-25 12:01] eddiejaoude opened #122 "Contributors bot add more people"
@all-contributors please add @BOLT04 for coding
@all-contributors please add @stemount for testing and ideas
@all-contributors please add@mikeysan for coding

[2020-07-25 12:03] eddiejaoude commented on #122
@all-contributors please add @BOLT04 for coding
@all-contributors please add @stemount for testing and ideas
@all-contributors please add@mikeysan for coding

[2020-07-25 12:03] eddiejaoude commented on #122
@all-contributors please add @BOLT04 for coding

[2020-07-25 12:03] eddiejaoude commented on #122
@all-contributors please add @stemount for testing and ideas

[2020-07-25 12:04] eddiejaoude commented on #122
@all-contributors please add@mikeysan for coding

[2020-07-25 12:04] eddiejaoude commented on #122
@all-contributors please add @mikeysan for coding

[2020-07-25 12:04] eddiejaoude commented on #122
@all-contributors please add @eddiejaoude for coding

[2020-07-25 12:04] #122 closed

[2020-07-25 12:06] eddiejaoude commented on #122
@all-contributors please add @stemount for testing and ideas

[2020-07-25 12:07] eddiejaoude commented on #122
@all-contributors please add @mikeysan for coding

[2020-07-25 12:08] eddiejaoude commented on #122
@all-contributors please add @eddiejaoude for coding

[2020-07-25 20:20] srinath1412001 opened #130 "Add flutter in roles please."

[2020-07-25 20:33] alrifay opened #131 "My ^bio is not working"
My bio no longer works after updating the description to this value `|||||||||||||||||||||||||||||||||||||||||||||||||`. 😂

`^bio description || |||||||||||||||||||||||||||||||||||||||||||||||||`

[2020-07-25 20:37] alrifay commented on #131
`^bio` is working again after i changed the value. 😁

`^bio description || :ghost:`

[2020-07-26 08:32] eddiejaoude commented on #131
Ah ok, thank you for letting us know 👍 . I think you found another bug 🤓

[2020-07-26 08:32] eddiejaoude commented on #130
Sure 👍

[2020-07-26 08:36] eddiejaoude commented on #130
Added, if someone can review and approve https://github.com/EddieJaoudeCommunity/EddieBot/pull/132

[2020-07-26 09:10] #130 closed

[2020-07-27 10:54] stemount opened #133 "As a user, when I type "^bio", the location is printed out as `[object Object]`"
example

<img width="410" alt="image" src="https://user-images.githubusercontent.com/150512/88534398-ec857200-cfff-11ea-80ba-0d810edb318a.png">

[2020-07-27 11:25] eddiejaoude commented on #133
Thanks 👍

[2020-07-27 14:22] stemount opened #134 "Use dotenv() to make it easy for those forking the project to set environment variables as `.env`"
This might help users... this is up to the users I think - would a `.env` file make it easier for developers of all skill levels to get it right without the envvars.sh or whatever?

TBC 💯

[2020-07-28 02:19] alrifay opened #135 "How to get reacted user"
In line 36 `messageReactionAdd` pass user as a second parameter

For example:
`client.on('messageReactionAdd', (reaction, user) => eventStream({ type: 'reaction', author: user }));`

https://discord.js.org/#/docs/main/stable/class/Client?scrollTo=e-messageReactionAdd

![image](https://user-images.githubusercontent.com/19517534/88611130-af18f700-d088-11ea-8da9-d4a52cd1c869.png)

[2020-07-28 10:23] eddiejaoude commented on #135
@alrifay great idea, thank you 👍

[2020-07-28 10:40] eddiejaoude commented on #135
Thank you! It worked well 👍

<img width="495" alt="Screenshot 2020-07-28 11 38 10" src="https://user-images.githubusercontent.com/624760/88655737-10f85180-d0c7-11ea-99ad-d4281c71115f.png">

[2020-07-28 10:40] #135 closed

[2020-07-28 11:21] stemount opened #136 "Assume bio variables from the Discord connected social accounts"
As Discord profiles already have a handful of information, we can have "more filled out bios" automatically by adding something to guildMemberAdd event lifecycle hook.

@eddiejaoude I am actually pretty sure that the GitHub connection is a new feature because I am sure I would have connected that social account if it existed... so this is now actually more relevant, otherwise I would have suggeste

[2020-07-28 11:42] stemount commented on #136
@jatin2003 we hear you :D This feature would be great, I actually found your github profile looking at your Discord profile as I had about 2 min to find it, we could just somehow get these from the Discord profile so everybody actually has something that would show if a user types `^bio jatin` instead of "Sorry, we've got no links/bio/location at all".

[2020-07-28 11:45] stemount opened #137 "Assume location from publicly available information e.g. query GitHub, Twitter or whatever for location."
This would need triage by poll or something in the community channel. I'm gonna ping this in Discord.

The question is: As Discord don't actually ask a location, if we look at your GitHub Profile, would you be in any way annoyed/miffed/irratated about the prospect of the bot "following" your social profiles as per #136 and getting your location, even though it is public on your Twitter/GitHub?

I'

[2020-07-28 16:41] stemount opened #138 "As a community member, I can help triage questions by typing `^support` or`^support @user` which would give a community member a helpful block of text on how to raise an issue."
TBH this could be done with MEE6 or similar but just some sort of way of directing community members to the support issue queue

[2020-07-28 16:57] eddiejaoude commented on #138
Would that command return a link to the support repo?

[2020-07-28 17:15] eddiejaoude opened #139 "Save all events"
https://github.com/onepiecehung/discordjs-logger/blob/master/index.js

[2020-07-28 22:24] eddiejaoude commented on #134
Yeah good point, this should be a high priority 👍 - I really want to lower the barrier to entry on our community projects

[2020-07-28 22:31] eddiejaoude commented on #137
I think people would find this weird. I got private messages from people already asking, if the location on the map was `op in`. So although your way is more convenient, I don't want hassles from people who don't understand it is public information.

[2020-07-28 22:35] eddiejaoude commented on #136
Good idea 👍 . I didnt know GitHub could be added. I just added mine 🤓

But I like the idea of saving this to our DB when the user or someone requests their profile if no record is found

[2020-07-29 17:01] stemount commented on #138
**Desired Outcome:**
Those in the Discord channel OR on YouTube will actually get their issue addressed if they use the support channel.

On Discord, we should write a bit more than write an issue, we should assume that the user actually hasn't opened an issue or even a GitHub account.

Maybe there's some guide we can link to that already exists in the eddie YT library or just a 1 min explainer vi

[2020-07-29 21:52] #82 closed

[2020-07-29 22:16] eddiejaoude commented on #138
Good points 👍 - we need to lower the barrier to entry and to reduce us repeating ourselves

[2020-07-29 22:21] eddiejaoude commented on #138
I think we have a few options, we could do some of them or all of them

- write something in the README
- add a command to give more information
- short video on creating an issue on GitHub

[2020-07-29 22:51] alrifay opened #142 "Update repository url in package.json"
`homepage` & `repository.url` & `bugs.url` points to the old repository.
https://github.com/EddieJaoudeCommunity/EddieBot/blob/6b0a4e83f4303cace5f7daf313b30cc16051d7f1/package.json#L13-L22

[2020-07-29 23:05] eddiejaoude commented on #142
Oh good spot, thank you 👍

[2020-07-30 03:28] morrme commented on #142
I would like to help. :)

[2020-07-30 07:30] #139 closed

[2020-07-30 07:45] stemount opened #143 "ts-node watch for changes to watch when running `npm run start:watch`"
use nodemon ts-node watcher to compile on file save.

choose one first!

[2020-07-30 10:10] stemount commented on #137
For real. @eddiejaoude then I'm gonna close this.

[2020-07-30 10:10] #137 closed

[2020-07-30 10:58] eddiejaoude opened #144 "new user no bio, send back bio examples"
In the `bio.ts` file, send back a response (examples existing the same file) with:

[code]

[2020-07-30 10:59] eddiejaoude opened #145 "Bio command should have timezone property"
Update `config.ts` to allow the `key` for `timezone` similar to `description`, `location` etc

[2020-07-30 17:05] mikeysan commented on #120
This may or may not be related to this issue, but here goes.

Given my current roles, if I assign myself a role would I delete all the others or would I append to them?

<img width="328" alt="Screenshot 2020-07-30 at 18 02 42" src="https://user-images.githubusercontent.com/13338176/88952269-1902ed80-d28f-11ea-9928-94bbeac69de0.png">

For example, I would like to add "Python" to the list, but I do

[2020-07-30 17:16] eddiejaoude commented on #120
I think it should keep appending, there is no way to remove roles at the moment via the bot

[2020-07-30 17:20] mikeysan commented on #120
You're right. I just tested it. Is there a way to rearrange them? (wishful thinking, I know) :)

[2020-07-30 17:21] eddiejaoude commented on #120
thanks for testing 👍 . hmm good question. What would the order be? alphabetical, by date?

[2020-07-30 18:52] alrifay opened #147 "^bio @mention should get mentioned user's roles."
I tried to get another user's bio `^bio @mohit deshwal`, but i got my roles instead.

![image](https://user-images.githubusercontent.com/19517534/88962386-a7cf3480-d2a6-11ea-89d8-fcf4c6cefe6d.png)

My roles:
![image](https://user-images.githubusercontent.com/19517534/88962063-2ecfdd00-d2a6-11ea-97e5-029a887072d5.png)

Mentioned user roles:
![image](https://user-images.githubusercontent.com/1951753

[2020-07-30 22:47] alrifay opened #148 "Bot timezone doesn't work with lowercase timezone"
For example: `5 UK` will get **Popular timezones** and `5 uk` will not work.

The issue is in `src/timezone.ts` line 25:
`zone` should be converted to uppercase to match timezones in the config file.
https://github.com/EddieJaoudeCommunity/EddieBot/blob/e41438aa7a17dd0eceeab985957e2aafce3532da/src/timezone.ts#L25

https://github.com/EddieJaoudeCommunity/EddieBot/blob/e41438aa7a17dd0eceeab985957e2a

[2020-07-30 23:26] eddiejaoude commented on #147
Oh 🤦‍♂️ , good spot. I will add a bug label. Thank you 👍

[2020-07-31 00:12] alrifay opened #149 "^bio doesn't work with new users"
Bot does not respond when a new user send `^bio`

![image](https://user-images.githubusercontent.com/19517534/88984525-21c6e400-d2ce-11ea-80da-9b79b7a8c0af.png)

The issue is in `src/commandHandlers/bio.ts` line **44**, it seems like **discord** doesn't like it when `embed.addField`'s second parameter (`value`) is an empty string.
I think `value` parameter is empty because new user doesn't have an

[2020-07-31 00:26] eddiejaoude commented on #149
Thank you for spotting this and coming up with a fix 👍

[2020-07-31 00:40] #144 closed

[2020-07-31 01:00] eddiejaoude commented on #143
Yeah good idea 👍

[2020-07-31 01:04] eddiejaoude commented on #142
@morrme yay 🎉

Please make changes and submit a Pull Request - any questions let us know 🤓

[2020-07-31 13:30] mikeysan opened #150 "^bio should have a way of removing a previously set value"
I wanted to change my Instagram link and ended up with two instead.

<img width="394" alt="Screenshot 2020-07-31 at 14 26 00" src="https://user-images.githubusercontent.com/13338176/89039472-0ee9f900-d33a-11ea-8a94-4a8b8394a4ab.png">

We need a way to overwrite an existing value.

I would further propose that this does not affect "Roles" which we can add to using "iam". As we could like to keep it

[2020-07-31 13:35] mikeysan opened #151 "^bio twitter handle should be converted to a link"
For all the others (eg. Linkedin and Instagram), we accept full URLs. But for twitter, we accept just the handle. I propose that this be converted to a link. So that, for example, when I type "@whoismikey" or "whoismikey", it is converted to a clickable "https://twitter.com/username".

[2020-07-31 14:45] eddiejaoude commented on #151
Good idea 👍

[2020-07-31 14:46] eddiejaoude commented on #150
Oh 😱 , it should be able to overwrite the existing one 🤔 . Good spot 👍

[2020-07-31 17:54] srinath1412001 opened #152 "Improvement in Welcome message"
<img src="https://user-images.githubusercontent.com/47494475/89061910-30230780-d383-11ea-9eac-308bf9e55fef.jpg?raw=true" width="520" height="710"/>
We could make changes to MEE6 bot in such a way that it asks new users to set their profile pictures in case they haven't set one yet.
By doing so we wont have default profile pictures on EddieBot map.

[2020-07-31 19:53] alrifay commented on #150
I'm not sure if this should be considered an issue or not.
I was curious to know the cause of the issue, so i looked up `^bio` messages @mikeysan sent.
and found these two messages:

First message  _(7/7/2020)_
![image](https://user-images.githubusercontent.com/19517534/89069229-11b51000-d373-11ea-8af8-9556aa5260f4.png)
Second message _(31/7/2020)_
![image](https://user-images.githubusercontent.co

[2020-08-01 07:47] eddiejaoude commented on #152
Good idea 👍

[2020-08-01 07:49] #149 closed

[2020-08-01 07:52] eddiejaoude commented on #150
@alrifay good spot too 👍  - I did make that change, but old data will not be able to be overwritten - I will need to go through and update the DB to fix old data

@mikeysan when you get a moment, if you could check - I can do the same on my profile too

[2020-08-01 23:46] #142 closed

[2020-08-02 01:28] AllanRegush opened #157 "Clarify firebase environmental variables"
Mention in documentation firebase_key is the firebase service key and expected key structure is json

[code]

Also consider an example env file in the repo.

[2020-08-02 09:34] eddiejaoude commented on #157
Thank you @AllanRegush for raising this issue 👍

[2020-08-02 18:22] #148 closed

[2020-08-02 20:54] eddiejaoude opened #160 "Words not recommended to use? for example like `guys`, make suggestions like `folks`"
Add a list of words to the config with recommended alternatives, like:

- `guys: [ 'folks', 'all' ]`

[2020-08-02 20:58] alrifay opened #161 "twitter username validation"
The `data` variable should be validated before appending it to [twitter.com](https://twitter.com).
For example:
[code]
References:
- [Twitter - Username rules](https://help.twitter.com/en/managing-your-account/twitter-username-rules)
- [stackoverflow - Regular expression for twitter username](https://stackoverflow.com/questions/8650007/regular-expression-for-twitter-username)

_Originally posted b

[2020-08-02 22:31] alrifay commented on #160
@eddiejaoude What's wrong with **guys** ? 😁

[2020-08-02 22:33] eddiejaoude commented on #160
It is not inclusive, because refers to **men**. We should avoid any gender terminology.

[2020-08-02 22:59] Ruth-ikegah opened #162 "Creating a bot that sends a congratulatory message on first PR"
**Current Status**:  When a first PR is made to the community, there is no message sent to the person creating the PR

**Expected behavior**:  A bot that sends a congratulatory message across all repositories on a person first PR

**Message**: Congratulations on your first PR to the EddieJaoude Community

This will help new or first-time contributors feel good on their first PR and also ease the t

[2020-08-02 23:33] Ruth-ikegah commented on #85
What content will be populated on these points and whereon the readme file will this feature section be
@eddiejaoude

[2020-08-02 23:34] Ruth-ikegah commented on #96
This has been sorted out right @eddiejaoude

[2020-08-02 23:48] Ruth-ikegah commented on #157
Which of the files is this to be added to? and please a little clarification on this issue @eddiejaoude as I am not familiar with firebase

[2020-08-03 00:16] alrifay commented on #96
@Ruth-ikegah I don't think it is.

`args[0]` should be converted to lower case on `src/commandHandlers/bio.ts` line 17

https://github.com/EddieJaoudeCommunity/EddieBot/blob/79965375af98d476c1d191348319b6e27ac8d70b/src/commandHandlers/bio.ts#L17

[2020-08-03 00:24] Ruth-ikegah commented on #96
okay thanks, @alrifay let me fix it

[2020-08-03 01:23] alrifay commented on #150
@eddiejaoude I think i was right 😁

@Mikeysan updated his anstagram account, but only one of the two accounts has changed.

![image](https://user-images.githubusercontent.com/19517534/89137299-fba47c80-d537-11ea-982f-a79e0c88f16d.png)

[2020-08-03 06:53] #151 closed

[2020-08-03 06:59] eddiejaoude commented on #162
Great idea, thank you @Ruth-ikegah 👍

[2020-08-03 07:08] eddiejaoude commented on #85
Great questions @Ruth-ikegah 👍

I think the feature list should be near the top of the readme, above `required` section.

We could use some information from the `help` command, this `features` section is to show the benefits of the project easily and quickly to people visiting the repo.

<img width="695" alt="Screenshot 2020-08-03 at 08 06 57" src="https://user-images.githubusercontent.com/624760/

[2020-08-03 07:15] eddiejaoude commented on #157
Thanks for the great question @Ruth-ikegah 👍

The example code above is to show people that it is not a file path but a `json` string that needs to be valid json with single quotes around the whole string and the field names/values need double quotes.

- This should go in the `README.md`
- At the of the `quickstart` section with a sub heading (maybe a subtitle of `notes`?) to stand out

<img width

[2020-08-03 07:23] eddiejaoude commented on #96
Thanks @Ruth-ikegah . I think I only half did it 🤦‍♂️ . @alrifay is right, it is needed there too. I only changed it further down here

https://github.com/EddieJaoudeCommunity/EddieBot/blob/develop/src/commandHandlers/bio.ts#L54

What I did, is actually not good looking at it now. Maybe it would be better to save `args[0]` to a `const` at the top of the function, then it is only done in one place.

[2020-08-03 07:25] eddiejaoude commented on #96
Oh I think you did that already here https://github.com/EddieJaoudeCommunity/EddieBot/pull/163

[2020-08-03 07:26] eddiejaoude commented on #150
Thanks for confirming @alrifay and @mikeysan

[2020-08-03 16:12] AllanRegush opened #165 "Bot Discord Permission Requirements"
I think we should add documentation on which permissions to turn on for setting up discord bot.

[2020-08-03 19:21] eddiejaoude commented on #165
Yep good idea 👍  - I am not sure I even know anymore 🤦‍♂️

[2020-08-03 19:39] #96 closed

[2020-08-03 19:39] #145 closed

[2020-08-04 14:34] #85 closed

[2020-08-04 18:05] AllanRegush commented on #157
I think PR #166 closes this issue.

[2020-08-04 18:06] eddiejaoude commented on #157
Ah yes, great spot @AllanRegush , thank you 👍

[2020-08-04 18:06] #157 closed

[2020-08-04 18:25] AllanRegush opened #167 "^bio command doesn't show information"
Testing the current develop branch. The Bio command doesn't show my information. Test setup is the same.

![Screenshot_20200804_122015](https://user-images.githubusercontent.com/17693494/89330457-7f9c5880-d64d-11ea-9397-67badcf0c9d0.png)

[2020-08-04 22:08] #167 closed

[2020-08-05 11:35] eddiejaoude opened #169 "Add GitHub Action badges to README"
- rename workflows
- use `https://github.com/EddieJaoudeCommunity/EddieBot/workflows/develop/badge.svg`

[2020-08-05 11:36] #169 closed

[2020-08-07 18:27] AllanRegush opened #170 "Firebase Diagram is out of date"
The Firebase diagram doesn't have documentation on the location object inside of bio.

Docs Currently
![screenshot1](https://user-images.githubusercontent.com/17693494/89676661-43fdca80-d8a9-11ea-878e-1c4e2e534048.png)

Snapshot of Firebase bio.location object structure
![screenshot](https://user-images.githubusercontent.com/17693494/89676514-04cf7980-d8a9-11ea-9782-55e16b7a81d1.png)

[2020-08-07 18:34] eddiejaoude commented on #170
You are right, it is very out of date, thank you 👍

[2020-08-09 12:45] BOLT04 opened #171 "What is the server status feature?"
On the [Features](https://github.com/EddieJaoudeCommunity/EddieBot#features-of-eddiebot) section of the README, we have a bullet point for **Server status**, but what does it mean?

I've seen Discord servers with bots that show the status of the bot, like the uptime (how long the bot has been up and running) or a ping command to know how long it takes to get a response... but we don't have those f

[2020-08-09 14:58] BOLT04 opened #172 "Should we adopt a naming convention for labels on the repo?"
Currently, on the `^tips opensource` command we tell the user they can use a label that doesn't exist on the repo yet ("command:opensource"):
![imagem](https://user-images.githubusercontent.com/18630253/89735173-92050080-da58-11ea-9374-dd22a3f03cb5.png)

IMO, creating this label would help **filter the list of issues**, so that someone that wants to make these sort of changes (tips and advice) can

[2020-08-09 15:02] BOLT04 opened #173 "Update the label name on ^tips opensource command"
Decide the label name for contributors to create issues related to the list of open source tips, after the issue #172.

## Current text
![imagem](https://user-images.githubusercontent.com/18630253/89735322-9847ac80-da59-11ea-941f-90b27c5b55c9.png)

[2020-08-09 15:22] stemount commented on #55
this rocks

[2020-08-09 15:30] BOLT04 opened #174 "Add new contributors to the README 💻"
I think @AllanRegush, @Ruth-ikegah  should be added to the list using the all contributors bot, since they created issues and contributed with code recently. I think @prajwal0024 and @garretcharp have made some commits as well so they can be added as well 😃.

What do you think @eddiejaoude and everyone else on the list?

[2020-08-09 17:02] Ruth-ikegah commented on #174
Sure I agree, thanks @BOLT04

[2020-08-09 17:15] eddiejaoude commented on #174
Yes I agree 👍

[2020-08-09 17:20] eddiejaoude commented on #174
I think people can add themselves - I am still learning `all contributors bot`.

@all-contributors please add @Ruth-ikegah for code and documentation
@all-contributors please add @AllanRegush for code and bug fixes
@all-contributors please add @prajwal0024 for
@all-contributors please add @garretcharp for code and refactoring
@all-contributors please add @webkhushboo for documentation
@all-contrib

[2020-08-09 17:21] eddiejaoude commented on #174
Oh 🤔 ... maybe only 1 person per comment

[2020-08-09 17:23] eddiejaoude commented on #174
@all-contributors please add @Ruth-ikegah for code and documentation
@all-contributors please add @AllanRegush for code and maintenance
@all-contributors please add @garretcharp for code and maintenance
@all-contributors please add @webkhushboo for doc
@all-contributors please add @HarshKapadia2 for maintenance
@all-contributors please add @morrme for maintenance
@all-contributors please add @alri

[2020-08-09 17:23] eddiejaoude commented on #174
@all-contributors please add @Ruth-ikegah for code and documentation

[2020-08-09 17:24] eddiejaoude commented on #174
@all-contributors please add @AllanRegush for code and maintenance

[2020-08-09 17:24] eddiejaoude commented on #174
@all-contributors please add @garretcharp for code and maintenance

[2020-08-09 17:24] eddiejaoude commented on #174
@all-contributors please add @webkhushboo for doc

[2020-08-09 17:24] eddiejaoude commented on #174
@all-contributors please add @HarshKapadia2 for refactoring

[2020-08-09 17:25] eddiejaoude commented on #174
@all-contributors please add @HarshKapadia2 for maintenance

[2020-08-09 17:25] eddiejaoude commented on #174
@all-contributors please add @alrifay for review

[2020-08-09 17:26] eddiejaoude commented on #174
Sorry for the spam 🤦‍♂️

[2020-08-09 17:28] eddiejaoude commented on #174
Oops I raised them to fast and now they conflict 🤦‍♂️ - ok I will fix tomorrow

[2020-08-10 00:01] eddiejaoude commented on #172
Great idea 👍

[2020-08-10 00:54] eddiejaoude commented on #171
Good point 👍 . Clarity is important. I think it means some basic server stats, at the moment we only have the total number of users.

[2020-08-12 19:06] morrme commented on #174
I think I got left out 😭  lol

[2020-08-12 19:28] eddiejaoude commented on #174
oh sorry @morrme . I will make sure you get added 🤓

[2020-08-12 20:22] morrme commented on #172
agreed.

[2020-08-13 14:14] TECHNOFAB11 opened #183 "Command to search through EddieJaoudeCommunity/support"
A command with which you could directly check if a question has been answered. More helpful would be to scan messages in a lets say help channel and check if its been asked yet. Would remove some duplicate questions but depends on how strong the bot is (some filter would be needed, like only long messages, only ones with question marks, only ones from users who havent written anything in some time

[2020-08-14 23:01] eddiejaoude commented on #183
Great idea, I have added it to the `v0.2` project board 👍

[2020-08-15 14:22] stemount commented on #183
oh yeah! great idea @TECHNOFAB11!!!!!!!!!!!! ⭐

It'd be awesome if you could get a list of suggestions if you type Q:

So pseudo-code time:

[code]

[2020-08-17 20:01] srinath1412001 opened #184 "Bot gets 'High value' role"
![bug](https://user-images.githubusercontent.com/47494475/90438914-4f939180-e0f2-11ea-8af0-9c99dadf68c1.png)
Bot gets high value role when it recieves 5 or more emoji reactions

[2020-08-17 20:12] BOLT04 opened #185 "Should we dockerize EddieBot?"
I think I remember hearing in some Eddie's livestream a suggestion about using Docker in this project. This issue is to start the conversation and discussion about this topic.

From my point of view, maybe we could simplify the development process of a new contributor, by enabling the use of a command like `docker run eddiebot-image` that has everything set up. The main challenge I see is settings

[2020-08-17 20:47] BOLT04 commented on #184
Hi @srinath1412001, thanks for raising this issue!

In fact, we could check if the user that is being assigned that role (or any role) is not a bot. I think we could even specify the change to be made in the issue description and add the "good first issue" label since it's a small change to do. What do you think @eddiejaoude ?

 Also, @eddiejaoude do we consider this a bug or is there any problem

[2020-08-17 22:04] stemount commented on #185
It’d be good if you could mock the firebase database. I find that the firebase element of this is a barrier to entry to the project but also a blessing for people to find PaaS.

A docker-compose solution was something I was cooking up the first thing is to get my dotenv PR in.

The bad thing about my dotenv solution is it breaks the flow it would break everyone’s solution if it didn’t support both

[2020-08-17 22:11] alrifay commented on #185
I found a [Firebase Local Emulator Suite](https://firebase.google.com/docs/emulator-suite), maybe it will help running the app in a local environment.

[2020-08-17 22:20] stemount commented on #185
@alrifay for sure, that's what I mean, if the container would mock Firebase firestore then it's a winner 🙌🏻

[2020-08-17 22:35] eddiejaoude commented on #184
Thanks for raising @srinath1412001 .

Good points @BOLT04 . I don't think there is an issue with a bot having these roles because the bot has a high role. But feels a bit dirty. In some other code we ignore it if it is a bot, we should do the same here too.

I think it is a bug, and you are right, it would make a good first issue 👍

[2020-08-17 22:36] eddiejaoude commented on #184
An example is here https://github.com/EddieJaoudeCommunity/EddieBot/blob/develop/src/timezone.ts#L16

[2020-08-17 22:40] eddiejaoude commented on #185
It looks like the emulator has come a long way since I looked at it a while ago 👍 . Before it was just functions, now it seems to have much more and the Firestore DB too - I was recently considering moving away from Firebase because the barrier to entry is quite high to get it set up for then first, second and maybe third time, then it becomes a bit easier.

[2020-08-17 23:03] BOLT04 opened #186 "Make a script to store popular messages on the database"
Make a script (typescript for example) to store popular messages (messages with 5+ reactions) in the Firebase Firestore database. The idea is to have this info on a collection that the code in EddieBotUI will use to get the data for the popular messages web page.

This script would override all the data in the collection maybe. This is to avoid data inconsistencies since we could have run the scri

[2020-08-19 07:45] eddiejaoude commented on #186
We have an event that happens when there are more than 5 messages (`high value` role added to user), we could trigger from that and save that message?

[2020-08-19 14:33] gaushikmr opened #187 "Resolve conflicts with all contributors"

[2020-08-19 14:33] jivthesh opened #188 "Resolve conflicts with all contributors"

[2020-08-19 14:33] numanjvd82 opened #189 "Resolve conflicts with all contributors"

[2020-08-19 14:35] saravananraghul opened #190 "Resolve conflicts with all contributors"

[2020-08-19 14:35] eddiejaoude commented on #188
Thank you for raising, but this is a duplicate of https://github.com/EddieJaoudeCommunity/EddieBot/issues/187

[2020-08-19 14:35] #188 closed

[2020-08-19 14:35] eddiejaoude commented on #190
Thank you for raising, but this is a duplicate of #187

[2020-08-19 14:35] #190 closed

[2020-08-19 14:35] eddiejaoude commented on #189
Thank you for raising, but this is a duplicate of #187

[2020-08-19 14:35] #189 closed

[2020-08-19 14:36] JoelAngels opened #191 "Getting open source in the frontend side"
Eddie, can you help me find a front-end open source project, and btw I joined your discord.

[2020-08-19 14:37] JoelAngels commented on #191
let me know your idea.

[2020-08-19 14:46] eddiejaoude commented on #174
@all-contributors please add @morrme for maintenance

[2020-08-19 14:55] eddiejaoude commented on #174
@all-contributors please add @eddiejaoude for maintenance

[2020-08-19 15:10] eddiejaoude commented on #187
Steps to follow

1. fork the project
2. clone the fork project locally
3. change to the branch with conflicts
4. fix conflicts
5. commit conflicts to branch
6. create pull request

[2020-08-19 15:18] eddiejaoude commented on #187
Real example on the CLI for `git`:

[code]

[2020-08-19 15:24] eddiejaoude commented on #184
From example above..

[code]

I think it should go here https://github.com/EddieJaoudeCommunity/EddieBot/blob/develop/src/messageReactionAdd.ts#L31

[2020-08-19 16:53] alrifay commented on #187
@eddiejaoude you can make text bold inside code block with `<b>` tag if you used `<pre><code></code></pre>` instead of
<pre><code>```shell

[code]

[2020-08-19 20:38] alrifay commented on #184
i think it should be like this because we don't have the message object.
[code]
And i think it should go in line _39_ not _31_ to make sure that we have the message if the `reaction` object is partial.
https://github.com/EddieJaoudeCommunity/EddieBot/blob/28a795894e64af81b2e33e7b1082e099a4ce053e/src/messageReactionAdd.ts#L31-L40

[2020-08-19 21:16] eddiejaoude commented on #184
Mine was a rough / quick *sudo* example, so I am sure @alrifay is correct 👍  (plus he is always correct but don't let him know I said that 😂 )

[2020-08-19 21:35] eddiejaoude commented on #187
Oh nice, thank you @alrifay 💪

[2020-08-19 22:13] #143 closed

[2020-08-19 23:26] alrifay opened #196 "Users gets `high value` role more than once."
We need to check if the user already has the `high value` role on line _64_ before adding it.
https://github.com/EddieJaoudeCommunity/EddieBot/blob/191dc7f1082bf27c59608a4986545561cda8b002/src/messageReactionAdd.ts#L62-L67

![image](https://user-images.githubusercontent.com/19517534/90687373-0c116280-e26d-11ea-8b63-8c7431b5909d.png)

[2020-08-20 07:54] TECHNOFAB11 commented on #185
+1 for Docker. Using Docker quite a lot and its extremely easy to build a container. Depending on how public it should be you may want to look into where to deploy (https://hub.docker.com, https://github.com/features/packages, etc.). Docker makes it a lot more reliable in my opinion, thanks to "auto restart on" etc.

[2020-08-20 08:17] eddiejaoude commented on #185
@TECHNOFAB11 oh I forgot it could be hosted on GitHub 🎉

[2020-08-20 14:26] TECHNOFAB11 commented on #185
@eddiejaoude I wasn't sure because Gitlab had this feature for some time, but Github seems to have it too. Im mainly using Gitlab so i often times dont realize which features Github has :D
But yeah, i guess Github is the best option here, especially as it probably is easier to deploy to using workflows (or however Githubs CI is called ^^) and people who are see the repo will directly be able to pu

[2020-08-20 20:37] alrifay commented on #183
@stemount There is npm package called [stopword](https://www.npmjs.com/package/stopword).

[2020-08-21 08:13] eddiejaoude commented on #185
I do everything public 💪

[2020-08-22 15:33] stemount opened #197 "README.md contains information that could be much better handled with Discord FAQ"
The eddiebot README.md is full of advice on how to get Discord setup when these could be very tidily presented as a list of links on how to get the Server ID, Channel ID, enable development mode etc.

I however found the documentation too confusing (as the first Discord bot I ever setup) and ended up having to Google it anyway which is not a good sign.

The README should really be streamlined for

[2020-08-23 11:02] eddiejaoude opened #198 "Linter not strict enough - for example indentation"
Initial discussion here https://github.com/EddieJaoudeCommunity/EddieBot/pull/181#discussion_r475092290

[2020-08-23 12:20] BOLT04 opened #199 "Feature: Let user remove subscription from open source reminder"
**Tasks**:
- [x] Check if the user has the role before sending the notification, if they don't have then ignore/skip them
- [x] Listen to an event that is fired when a user removes one of it's roles, then check if it's the "opensource" role and remove the subscription on the DB

[2020-08-23 19:10] #196 closed

[2020-08-23 19:18] AllanRegush commented on #198
Let's have one for if statements as well.

https://palantir.github.io/tslint/rules/curly/

docs for semicolon:
https://palantir.github.io/tslint/rules/semicolon/

[2020-08-24 02:32] alrifay commented on #198
TSLint is deprecated see https://github.com/palantir/tslint/issues/4534, They are migrating to ESLint and i think we should move to ESLint to 😁

[2020-08-24 04:47] AllanRegush commented on #133
@eddiejaoude are you still working on this bug?

[2020-08-24 09:05] eddiejaoude commented on #198
Yes good point @alrifay , we should be using `eslint` now, even for typescript

[2020-08-24 09:28] eddiejaoude commented on #133
@AllanRegush I didnt start, but I planned an idea in my head...

- when setting the location, save 2 locations fields in the DB
   - the full location we use for the map app in `location` field like it is now
   - the user's *set* string, which will be used to display in Discord when showing their bio

I should probably unassign this from me for now

[2020-08-24 09:53] NathanDennis opened #201 "Suggestion: Default to welcome channel or DM user on server join"
I don't know if there's a way for a bot to detect whether a user has the default discord profile image on join.

I also know bots DMing you when you join a server is annoying.

My suggestion is to either have EddieBot DM new users on join with a brief intro to the community, especially with a code of conduct etc

Or, probably better, have the default channel on join be something like `#welcome` wh

[2020-08-24 10:14] eddiejaoude commented on #201
I really dont like the default Discord profile images either. I dont expect people to put a photo of themselves, it can be a pet or cartoon character, but something unique ish to them in our community - you are right it helps identify who is who quickly and easily.

I just checked. We currently have the `MEE6` bot, sending a welcome message in the `#introduction` channel and a private DM to the us

[2020-08-24 14:09] alrifay opened #202 "Bot logs `undefined` sometimes"
![image](https://user-images.githubusercontent.com/19517534/91053331-f3190080-e622-11ea-958b-e3aaf7411a8f.png)
`details` parameter can be `undefined`, we should check if it has a value before logging it.
https://github.com/EddieJaoudeCommunity/EddieBot/blob/f82d0dee089d08b272cc27ecfcbb8dee1abbb544/src/logger.ts#L22

For example:
[code]

[2020-08-25 18:12] AllanRegush commented on #133
What about using the location display name field?

![screenshothighlight](https://user-images.githubusercontent.com/17693494/91211560-367b7980-e6cc-11ea-8067-6d55da34f0ad.png)

[2020-08-25 18:18] AllanRegush commented on #201
Some discord channels have react with x to agree to terms/rules etc. Then the bot assigns them a role to access the rest. I'm not a huge fan of this. For now I think we could add more to MEE6 DM as an experiment.

[2020-08-25 19:50] BOLT04 commented on #202
@alrifay thank you so much for raising this issue! Indeed we should make your suggestion... or you can do it and get green squares for contributing 😁 🟩

[2020-08-25 20:39] NathanDennis commented on #201
I'm inclined to agree with the notion of just adding more to MEE6 and seeing if it helps poke new users into adding an image for the sake of clarity in busier channels / conversations.

I'm happy to close this one shortly if everyone is in agreement but will see if anyone else has input over the next couple of days before doing so 👌

[2020-08-25 23:40] eddiejaoude commented on #201
Sounds like a good plan 👍

[2020-08-25 23:43] eddiejaoude commented on #133
Looks good, but maybe have it as a sibling to location? Because the `location` object is what we get back from the API call

- location: `{ ... }`
- locationInput: `London, Greater London ...`

What do you think?

[2020-08-26 03:33] AllanRegush commented on #133
I think there is a misunderstanding. The `display_name` field is generated by the API call.

[2020-08-26 08:57] eddiejaoude commented on #133
oh I see, yeah lets use that 👍

[2020-08-26 18:29] AllanRegush commented on #186
I agree with using this event to push the message into firestore.

Roughly like this. I think there is a better way to choose which doc. Sorry for any errors.

[code]

[2020-08-26 20:15] BOLT04 commented on #186
@eddiejaoude, @AllanRegush I agree we can do this on EddieBot, it's an awesome idea 👍. But this script was more geared to the messages that already have 5 reactions, so basically have all the popular messages since the server's inception/beginning 😄.

But a simpler version to start this feature off would be to add @AllanRegush suggestion 😃 .

[2020-08-26 23:32] eddiejaoude commented on #186
This could be added to the 5+ reaction section, then it would only save the popular ones - would be good to keep the total of reactions, so we can sort on the reaction total

[2020-08-27 00:25] #133 closed

[2020-08-28 19:18] #202 closed

[2020-08-30 10:52] mikeysan opened #206 "Livestream reminder feature request"
I'm not sure it's possible since we get live stream info from the mee6 bot, but I would like to be able to type something like "^time", "^stream", etc and get a schedule of the next expected live stream in multiple time zones.

[2020-08-30 14:49] eddiejaoude commented on #206
I am not sure, I will have a look at MEE6 and NightBot. Great idea 👍

[2020-08-31 12:57] UdokaVrede commented on #197
Hi @eddiejaoude I'd like to contribute to this. I'm new here and would appreciate a little guide.

[2020-08-31 13:23] eddiejaoude commented on #197
Awesome @UdokaVrede 👍 - we are still deciding where best to put the information.

What are your thoughts looking at our projects? How could we make it easier for new members and people new to open source? We are building a website together too, which will have similar information https://github.com/EddieJaoudeCommunity/EddieJaoudeCommunity.github.io

[2020-08-31 22:45] #147 closed

[2020-09-01 10:33] UdokaVrede commented on #197
@eddiejaoude  like @stemount  proposed, looking through the readme I think the information there on discord setup could be done elsewhere and the link attached there instead, this would aid easy readability and better understanding for new contributors most especially. Also, for the guide on how to set up discord, I think a step-by-step documentation with both text and pictorial explanations would

[2020-09-01 17:08] eddiejaoude commented on #197
Sounds good @UdokaVrede 👍 . I dont think it needs to be a big piece of work from the beginning, any tweaks or improvements will add value and can be merged in, then it can be iterated on in new PRs.

Sure, what do you need? We can always move the docs around later if we need between the repos. Which social channels do you need?

[2020-09-01 19:36] BOLT04 commented on #197
Hi @UdokaVrede, it's great that you want to work on this. I can assign this issue to you if you want 😃.

If you are new to contributing to open source, have a look at our [CONTRIBUTING](https://github.com/EddieJaoudeCommunity/EddieBot/blob/develop/.github/CONTRIBUTING.md) file for a guide on commit messages. It hasn't been updated in a while 😅, but it should give the gist of our commits (you can l

[2020-09-02 08:47] #131 closed

[2020-09-02 11:10] mikeysan opened #208 "Erase all ^bio entry and start again"
Is it possible to erase all previous ^bio entries and start again with something like "^bio clear"?

[2020-09-02 11:12] mikeysan commented on #208
All user updated detail, I think. So things like Roles that can be set by the admin are not affected.

[2020-09-02 11:31] eddiejaoude commented on #208
oh nice idea 👍

[2020-09-05 14:53] stemount opened #210 "Roles such as 'high value' should have an 'exclusion list' so that server owners do not get the roles for being "active" in their own server"
high value role to use ignore list, for example, ignore adding @eddiejaoude to the high value role

......... as he doesn't deserve it ;)
......... also it makes sense

[2020-09-05 16:50] AllanRegush commented on #210
I think maybe we should have a command only for mods to store the user id. Then we can add as many to the exclusion list without hard coding the id.

[2020-09-05 17:04] eddiejaoude commented on #210
Good idea @AllanRegush - or maybe mods should just be exclude

[2020-09-05 17:57] AllanRegush opened #211 "Bio has no output"
Bio will not output if there is an empty array in Bio
[code]

We should check if the array is empty
[code]

[2020-09-05 18:58] stemount commented on #211
1. How about simplifying this to…

[code]

[2020-09-05 19:04] AllanRegush commented on #211
1. I Agree
2. No idea. That's how they were implemented before. I don't see why we couldn't change it.

[2020-09-05 19:16] stemount commented on #210
Alternatively, we could have `not high value` as a role and use that to check...

if (user.hasRole('not high value')) {
  return;
}

of course not but I guess you could just check if somebody has a moderator privilege or server owner role or whatever otherwise it may as well be a "not high value" role - what would the command be? `^notworthy @stemount`?

[2020-09-05 19:19] stemount commented on #185
@BOLT04 @TECHNOFAB11 @BOLT04 massively disappointed that the Firebase Emulation suite doesn't allow you to (without some dodgy hax, which I did try) just create a project (You still need valid online credentials - the documentation is super vague), I left the code in feature/add-dotenv-with-firestore-local or something for somebody if they wanna try and rescue that code, but it seemed to add littl

[2020-09-05 19:25] alrifay commented on #210
We can [check user permissions](https://discordjs.guide/popular-topics/permissions.html#checking-member-permissions) and if the user has `KICK_MEMBERS` permissions then he is a moderator  or owner

[2020-09-06 06:10] eddiejaoude commented on #211
Thanks @AllanRegush for fixing 👍 . Nice simplification @stemount .

I can't remember why the roles shout 🤷‍♂️ - but I agree, maybe leave that for now

[2020-09-06 06:15] eddiejaoude commented on #185
@stemount I agree, when I tried the location emulator, I noticed that it added little value too - I wasted a lot of time on this. Since then there has been a major release though, I was hoping and heard that it was much better - maybe not?!

The only benefit from using Firebase is the realtime data (and the eco system is quite friendly), but I think offline mode would be a great feature. Maybe the

[2020-09-06 06:18] eddiejaoude commented on #210
Trust @stemount to do the major out of the box thinking, that is an interesting concept, could be useful for other things 👍

Very clever @alrifay  👍 ❤️

[2020-09-06 07:36] #201 closed

[2020-09-06 07:36] NathanDennis commented on #201
I think this was left open long enough for any new suggestions on the point :)

[2020-09-06 08:36] eddiejaoude commented on #201
I have made some tweaks from your suggestions. I know there is always more we can do to improve the onboarding process. Keep the suggestions coming 🤓

[2020-09-06 19:41] #208 closed

[2020-09-08 10:14] #210 closed

[2020-09-09 08:01] Shanmuganathanb opened #214 "Add Community GitHub Action to this repo"
This is the community Action https://github.com/EddieJaoudeCommunity/gh-action-community

And here is an example of how to add it https://github.com/EddieJaoudeCommunity/support/blob/main/.github/workflows/community.yml

[2020-09-09 18:42] AllanRegush commented on #94
Do we still want this to be in a markdown file or do we want to use firestore?

[2020-09-09 18:50] eddiejaoude commented on #94
I think markdown would be better

[2020-09-10 12:29] #120 closed

[2020-09-10 18:11] AllanRegush opened #216 "bug(iam): roles with spaces do not assign"
When running the command with a space after the comma assigning the next role will fail.
^iam javascript, ruby

We should map over and trim the roles.
[code]

[2020-09-10 20:36] eddiejaoude commented on #216
Good spot, thanks @AllanRegush 👍

[2020-09-10 23:21] AllanRegush opened #218 "User should be able to remove roles."
User should be able to remove self assigned roles.

[2020-09-11 05:22] eddiejaoude commented on #218
Oh yes, good point 👍

[2020-09-11 12:48] BOLT04 opened #219 "Bug: Failed to assign opensource role"
![imagem](https://user-images.githubusercontent.com/18630253/92927199-2639fd00-f435-11ea-946c-fdc534afab54.png)

The opensource role is self-assignable, but still @ritvij14 got an error. Maybe we should test what happens when the user already has that role. The response should not be an error in this case, but like a warning saying "You already have that role".

[2020-09-11 13:11] eddiejaoude commented on #219
oh good spot 👍

[2020-09-11 18:22] #216 closed

[2020-09-11 22:16] BOLT04 opened #221 "Bug: Failed to start HTTP/2 stream on opensource reminder job"
![imagem](https://user-images.githubusercontent.com/18630253/92976864-793aa100-f483-11ea-9bb7-b3b2f8e11911.png)

**Suggestion**: We should add some trace logs or debug (we can decide the level later) to have more information on [this function](https://github.com/EddieJaoudeCommunity/EddieBot/blob/0786e595737914bcf8d2930bd0021c7d67b92f31/src/opensourceReminder.job.ts#L16), where I think this issue

[2020-09-12 05:55] eddiejaoude commented on #221
Good idea 👍

[2020-09-12 12:59] alrifay commented on #221
We could install some monitoring service like [sentry](https://sentry.io/for/node/), i think it will make finding bugs easier.

[2020-09-12 13:08] eddiejaoude commented on #221
I haven't used Sentry before. Does that make it more complicated for people to develop with? I am thinking of removing Firestore for this reason

[2020-09-12 13:25] BOLT04 commented on #221
@eddiejaoude so would EddieBot not write to the DB, like those rules or subscriptions?

[2020-09-12 13:54] eddiejaoude commented on #221
It would write to another DB that people people could have locally during development like Mongo, but then we don't have the realtime DB for the web / mobile that we are keen to have - I am still thinking about it, I am just keen to keep it simple for people to get involved

[2020-09-12 15:03] BOLT04 commented on #221
@eddiejaoude gotcha, indeed using MongoDB would make the setup process for new contributors faster and simpler 👍. But now that you mention the realtime DB for EddieBotUI, could we perhaps use [Mongo's change streams](https://docs.mongodb.com/manual/changeStreams/) to achieve the same as Firebase Firestore?

I never tried it 😅 so I don't know if it's the same as Firestore's features. So far I've en

[2020-09-12 16:06] eddiejaoude commented on #221
Great points @BOLT04 . To add 1 more to that list of benefits, automated testing is much easier with Mongo too, Firestore is weird - it now has an emulator but I still feel they have not thought of the testing or open source side of projects, more just for 1 person quick prototypes.

I haven't used Mongo's streams, so I would need to take a look too

[2020-09-13 21:17] #214 closed

[2020-09-14 06:16] #94 closed

[2020-09-15 13:51] sbdeepu09 opened #225 "Add stale bot"

[2020-09-15 13:56] stemount opened #227 "Create a Discord action that lets you start an issue by "creating a URL with ?title=Whatever Is Entered""
This will make it SUPER easy to push somebody to the correct place to raise to EddieBot

We can use a HTTP get variable (encoding the user input of course)

<img width="1341" alt="image" src="https://user-images.githubusercontent.com/150512/93219511-5ea64780-f763-11ea-9288-c1d9c8d83a4e.png">

[code]

[2020-09-15 13:59] eddiejaoude commented on #225
Thank you 👍 this was now completed in #226

[2020-09-15 13:59] #225 closed

[2020-09-15 14:11] stemount opened #229 "Set this up with IDE configuration file for GitHub Codespaces."
Related to #134

GitHub Codespaces needs a special configuration for docker-compose to work correctly which is naff as I'd love for everyone to be able to just build a codespace for this thing.

[2020-09-15 18:18] AllanRegush opened #230 "Create discord action for help discussions"
like #227 - We should have a ^support discussion command that lets you create a help discussion.
`https://github.com/EddieJaoudeCommunity/support/discussions/new?category_id=17740519`

[2020-09-15 20:39] BOLT04 commented on #221
Also I forgot about something @eddiejaoude. Would we migrate the data from firebase to Mongo, or just start fresh?

[2020-09-15 22:49] eddiejaoude commented on #227
Such a great idea 👍

[2020-09-15 23:11] eddiejaoude commented on #230
Great idea 👍

[2020-09-15 23:18] eddiejaoude commented on #221
I would like to migrate the data, but it too much hassles we might need to start again - it depends which DB we go to

I heard about an open source alternative to Firebase which works with Postgres http://supabase.io - I didnt look into it yet.

[2020-09-16 06:57] eddiejaoude commented on #95
Is this still needed?

[2020-09-16 06:58] eddiejaoude commented on #84
we save these stats, that can then be calculated / grouped / aggregated into these sections for the UI. I will close for now

[2020-09-16 06:58] #84 closed

[2020-09-16 07:28] eddiejaoude commented on #1
I think this is now achieved with NightBot / MEE6 bot. We get notifications in the `#livestream` channel in Discord

[2020-09-16 07:28] #1 closed

[2020-09-16 07:30] eddiejaoude commented on #2
I am going to close this for now, we have good notifications from GitHub to Discord, and now we have a Community GitHub Action that logs our community statistics to the DB (for example comment count etc)

[2020-09-16 07:30] #2 closed

[2020-09-16 07:36] eddiejaoude commented on #17
Thank you, I think you are right, this project could be made simpler and have more docs 👍 - I will close this for now, but feel free to raise more specific Issues and then Pull Requests could be raised for each Issue.

[2020-09-16 07:36] #17 closed

[2020-09-16 07:37] eddiejaoude commented on #20
I still think this is needed

[2020-09-16 07:41] eddiejaoude commented on #24
This was started but not completed https://github.com/EddieJaoudeCommunity/EddieBot/blob/develop/src/chatty.ts

[2020-09-16 07:46] eddiejaoude commented on #32
This is a great issue still 👍 . We have started on this, now with the Community GitHub Action...

<img width="980" alt="Screenshot 2020-09-16 at 08 45 38" src="https://user-images.githubusercontent.com/624760/93307603-12a5e200-f7f9-11ea-81f4-def70f634833.png">

[2020-09-16 07:47] eddiejaoude commented on #35
I am going to close this for now. I think what we have is good enough for now

<img width="713" alt="Screenshot 2020-09-16 at 08 47 25" src="https://user-images.githubusercontent.com/624760/93307753-43861700-f7f9-11ea-8a5b-e56537c81944.png">

[2020-09-16 07:47] #35 closed

[2020-09-16 07:48] eddiejaoude commented on #58
I think this has been fixed. I will close for now. But can be reopened or a new Issue created if required

[2020-09-16 07:48] #58 closed

[2020-09-16 07:50] eddiejaoude commented on #71
I really like this idea 👍 .

I wonder if I can add something to my live stream to get GitHub events during the live stream. In the map project I had Discord events showing on the right hand side, but I think it would be better to show GitHub events https://github.com/EddieJaoudeCommunity/EddieBotMap

[2020-09-16 07:50] eddiejaoude commented on #67
I am still keen to do this

[2020-09-17 17:59] alrifay opened #232 "Popular timezone sometimes doesn't work"
Some popular timezones like `PST` doesn't work because it's not in the `TIMEZONES` in config file
https://github.com/EddieJaoudeCommunity/EddieBot/blob/46b1e136b749113b2f871b553189e6a55c8c158f/src/config.ts#L30-L36

And some existing timezone that has more than three characters like `AEST` wont work because the regular expression matches 2 to 3 characters only `[a-zA-Z]{2,3}`, it should match 2 to

[2020-09-17 18:12] alrifay opened #233 "Why the bot detect timezones in the config file only?"
I think the bot shouldn't be limited to the timezones in the config file, it should detect all timezones and print the time in popular timezones in the config file.

For example it should detect `1 pm UTC+2` or `1 pm eet` even though it's not the [config](https://github.com/EddieJaoudeCommunity/EddieBot/blob/develop/src/config.ts#L30) file.

[2020-09-17 20:35] BOLT04 commented on #221
Here is an update on this issue after the added trace logs:
![imagem](https://user-images.githubusercontent.com/18630253/93525042-57329a00-f92d-11ea-9077-53c81aabf036.png)

@eddiejaoude maybe we can close this issue, what do you think? If it reappears or someone can reproduce it, we open it again.

[2020-09-18 00:09] eddiejaoude commented on #232
Thank you @alrifay 👍

[2020-09-18 00:09] eddiejaoude commented on #233
Good idea 👍

[2020-09-18 00:16] eddiejaoude commented on #221
Good idea @BOLT04 👍 . I am happy to keep the debugging in for the moment too

[2020-09-18 00:16] #221 closed

[2020-09-18 08:53] h3cksamrat opened #234 "Using `bio` command with no data returns no response"
Rather no response, suggest the user to set bio information instead

[2020-09-18 08:54] h3cksamrat commented on #234
rather than no response

[2020-09-18 09:22] eddiejaoude opened #235 "Removing "all contributors" because GitHub displays it already"
The manual "all contributors" gets out of date, we should use the GitHub one.

Removing...

<img width="1097" alt="Screenshot 2020-09-18 at 10 22 01" src="https://user-images.githubusercontent.com/624760/93581301-e1641800-f998-11ea-9172-d5b6751ba4c8.png">

And we will use...

<img width="578" alt="Screenshot 2020-09-18 at 10 22 06" src="https://user-images.githubusercontent.com/624760/93581319-e6c

[2020-09-18 09:42] #235 closed

[2020-09-19 06:05] RaisinTen opened #237 "No response for ^bio command"
Hello everyone! This is the first time I'm contributing here. :smile:

# Bug perhaps?

This is the first time I'm trying out the bot. Seeing others writing `^bio` in `#bot-chat`, I thought about doing the same. However, unlike others, the bot didn't respond to my message.

![bot](https://user-images.githubusercontent.com/42526976/93660337-6ddf0b00-fa6b-11ea-9838-86dc71b6d0f0.png)

Am I doing somet

[2020-09-19 11:55] BOLT04 commented on #237
Hey @RaisinTen, great to see you here 😃. Perhaps the bot wasn't online when you tried it.
![imagem](https://user-images.githubusercontent.com/18630253/93666503-a0dacc00-fa76-11ea-944d-7fcaa54e7314.png)

 I believe "EddieBot" has the "$" command prefix and "EddieBotDev" has the "^" prefix.

Do you remenber if EddieBotDev was online? If it was and you didn't get a response, then you should be reward

[2020-09-19 12:10] RaisinTen commented on #237
Hi @BOLT04, awesome seeing you here too! Problem solved right now! Perhaps you meant:
[code]
Thank you very much. :smiley:

[2020-09-19 12:16] BOLT04 commented on #237
yes I meant that 😅, thanks for raising the issue and I think we can raise another issue for not getting a response when typing `^bio`, in case the user has no bio to read. It should improve UX and we could return a response with an example that they can use.
What do you think @RaisinTen and @eddiejaoude ?

[2020-09-19 12:18] RaisinTen commented on #237
@BOLT04 that's a brilliant idea! :100:

[2020-09-19 12:28] BOLT04 commented on #237
@RaisinTen wow that is such a cool idea 👍👍👍. I think that is would be super cool to implement and it helps the new community members.
Not sure how this suggestion list would be implemented rn, but it's definitely something to add to the backlog 😃

[2020-09-19 12:40] RaisinTen commented on #237
@BOLT04 thanks! :smile:
I'd really like to help but I'm not sure I understand how the command routing really works. Maybe this repo needs a CONTRIBUTING.md file where it's all explained?

[2020-09-19 12:43] BOLT04 commented on #237
we have a contributing file on the folder `.github` and this [documentation on commands](https://github.com/EddieJaoudeCommunity/EddieBot#how-to-add-a-new-command-to-the-bot). If it's not enough we can definitely open a new issue to improve this explanation 👍.

[2020-09-19 13:10] RaisinTen commented on #237
Thanks for the link! I think it would be nice to move the CONTRIBUTING.md file to the top level directory. As a newcomer, I would have never guessed that the file would be found inside a dotfile directory lol.

Other than that, now I do understand how we can make a new command for the bot because the docs explain that pretty nicely. However, I still think it needs a little more to explain about ho

[2020-09-19 13:59] eddiejaoude commented on #237
Awesome conversation and idea 👍 . I think there are at least 2 issues to be created from this 👍

[2020-09-19 14:08] BOLT04 commented on #237
That is a great point you made, I assumed the `.github` folder was the correct place to put it. But after reading their [docs](https://docs.github.com/en/github/building-a-strong-community/setting-guidelines-for-repository-contributors), I agree the root level makes it easier for a newcomer to find it 👍 (this would make a good issue and PR if you want to make it 😃)

This is an improvement we can m

[2020-09-19 14:12] BOLT04 opened #238 "Improve commands routing docs in README"
Current [docs](https://github.com/EddieJaoudeCommunity/EddieBot#how-to-add-a-new-command-to-the-bot).

Discussion that lead to this issue: https://github.com/EddieJaoudeCommunity/EddieBot/issues/237#issuecomment-695211579.

[2020-09-19 14:24] mikeysan opened #239 "Dependabot alerts"
Is anyone else getting this alert?
<img width="937" alt="Screenshot 2020-09-19 at 15 17 26" src="https://user-images.githubusercontent.com/13338176/93669446-156c3580-fa8c-11ea-9709-d01cd3650c1a.png">

[2020-09-19 14:29] BOLT04 commented on #239
Yes @mikeysan, and it seems it has a **high** severity:
![imagem](https://user-images.githubusercontent.com/18630253/93669514-b2c76980-fa8c-11ea-8254-3aa9fbc6484f.png)

Running `npm update` and commiting the new `package.lock.json` should fix this right?

[2020-09-19 14:33] mikeysan commented on #239
Yes, that's it @BOLT04 and the suggested fix is correct too.

[2020-09-19 17:22] AllanRegush opened #240 "Database writes for updateAt don't match"
in `bio.ts`
[code]
in `iam.ts`
[code]

[2020-09-19 17:27] AllanRegush commented on #237
The bot was online. It was working for me.

![Screenshot_20200919_112449](https://user-images.githubusercontent.com/17693494/93680701-12ad1880-fa6b-11ea-92a2-86d9c2346f08.png)

[2020-09-19 17:28] eddiejaoude commented on #237
Great response @BOLT04 💪 .

I think with docs, sometimes it is easier to make changes where the person thinks is best and raise a pull request. Then once we can see it, we can always move the docs around as required. We might move existing docs around too.

My suggestion is always to raise doc changes, we can move it around in another PR 🤓

[2020-09-19 17:29] eddiejaoude commented on #237
I think the bot works if you have any bio set already, if you have no bio info it ignores the command - we need it to respond with "please set some bio info... "

[2020-09-19 17:30] AllanRegush commented on #234
I'm working on this issue. Please assign to me.

[2020-09-19 17:35] AllanRegush commented on #237
from `bio.ts`
[code]

[2020-09-19 17:35] eddiejaoude commented on #239
That is a great suggestion for people wanting to contribute to open source. Updating dependencies 😍

[2020-09-19 17:47] eddiejaoude commented on #240
Oh 🤦‍♂️ - good spot 👍

[2020-09-19 17:48] eddiejaoude commented on #234
thanks @AllanRegush and @alrifay 👍

[2020-09-19 17:51] eddiejaoude commented on #237
oh, so there should have been a response 🤔

[2020-09-19 17:55] AllanRegush commented on #237
Yeah - There are two bugs here:
#211
Then when there is an assigned role it gets added to the database.
So data is true.
Then it breaks trying to add the key and value to `embed.addField`

[2020-09-19 17:58] AllanRegush commented on #237
To reproduce.
1. delete bio
2. try bio command // Expect no reply
3. assign description, twitter, github etc.
4. try bio command
5. bot replies

[2020-09-19 17:59] eddiejaoude commented on #237
Ah ok 👍

[2020-09-19 18:03] alrifay commented on #237
I think the issue is the `data.bio` field is undefined and throws an exception when the user doesn't have a bio.

https://github.com/EddieJaoudeCommunity/EddieBot/blob/b362ca24aad97da06bbea0970618dcd3c54147f6/src/commandHandlers/bio.ts#L58-L59

[2020-09-19 18:41] BOLT04 commented on #230
@eddiejaoude off-topic question. Is that github-actions bot supposed to always make a comment on new issues?
I thought it would be a commnen when the user making the issue is new. But @AllanRegush has made other issues and contributions 😅

[2020-09-19 19:57] eddiejaoude commented on #230
I didnt add the check for their first issue or not, I did it for every issue. Is that too much? Should we maybe check for their first issue or maybe if it is the first issue in a certain amount of time? for example the last 1 month

I think the message and the frequency could be tweaked if people think it is better

[2020-09-19 20:31] BOLT04 commented on #230
The first issue in the last month seems better, but I'm down to having it configured for every issue too. I was just asking about the expected behavior 😃

[2020-09-19 22:12] AllanRegush commented on #237
undefined is Falsy it wouldn't execute the code inside the if block

https://developer.mozilla.org/en-US/docs/Glossary/Falsy

[2020-09-19 22:25] alrifay commented on #237
@AllanRegush The `data` object exist(truthy) if the user has some roles. but if the user doesn't have a bio, the key `bio` will be `undefined`
the correct condition should be
[code]

[2020-09-19 22:28] AllanRegush commented on #237
Yep this is what I'm about to PR.

[2020-09-20 05:32] RaisinTen commented on #237
@BOLT04 Really awesome explanation! Would be very cool if you could add that to the docs too. :slightly_smiling_face:

[2020-09-20 06:18] RaisinTen opened #242 "Move CONTRIBUTING.md from .github/ to the top level directory"
As discussed [here](https://github.com/EddieJaoudeCommunity/EddieBot/issues/237#issuecomment-695217903), it would be easier for newcomers to navigate the repo if the [CONTRIBUTING.md](https://github.com/EddieJaoudeCommunity/EddieBot/blob/develop/.github/CONTRIBUTING.md) file was placed in the top level directory. Also, the [official docs](https://docs.github.com/en/github/building-a-strong-communi

[2020-09-20 06:56] #211 closed

[2020-09-20 06:57] #234 closed

[2020-09-20 06:57] #237 closed

[2020-09-20 07:02] #242 closed

[2020-09-20 12:25] BOLT04 commented on #238
For this issue, we want to update [this section](https://github.com/EddieJaoudeCommunity/EddieBot#how-to-add-a-new-command-to-the-bot) to explain what JS module is responsible for the command routing and provide more information.

I prepared a draft for this, so if anyone wants to make this change (and tweak the text if you want) and open a PR, we are more than glad to review it 😃. Just ping us an

[2020-09-20 12:27] BOLT04 opened #245 "Improve command matching with suggestions"
@BOLT04 that's a brilliant idea! :100:
Maybe we can do something similar for all commands where, when the prefix matches a valid command, the bot displays a list of valid completions?
For example, for this:
![bot](https://user-images.githubusercontent.com/42526976/93667137-1f4c6380-faa1-11ea-8d25-cf25e658ae29.png)
I would expect the bot to list out these two:
![bot](https://user-images.githubuserc

[2020-09-20 12:45] #160 closed

[2020-09-20 12:56] Shanmuganathanb opened #246 "Add some documentation here for beginners to understand the working of bot."
1) In Features,
We can add the suggestion of bot giving us better words there after.

2)Can ask people to add suggestion of words into the repository. I don't know whether it actually exists or not.

[2020-09-20 12:57] eddiejaoude commented on #245
oh I love this! We could use a `soundex` library, something like this (I just google for it, so not necessarily this one) https://www.npmjs.com/package/soundex-code

[2020-09-20 12:58] eddiejaoude commented on #238
awesome! I would raise a PR with the "draft", because the extra information will be beneficial, then more improvements can come later

[2020-09-20 13:41] RaisinTen commented on #245
I was actually thinking of these 2 scenarios:
* If # commands stay small:
    * A simple brute force match could get the job done, where we pick up the commands that achieve the highest scores. The scores are assigned based on the length of the largest matching prefix.
* Otherwise, we can use a [trie of all the commands](https://en.wikipedia.org/wiki/Trie) _(...smells a bit like overkill lol...)_,

[2020-09-20 14:38] BOLT04 commented on #246
Hi @Shanmuganathanb, thank you for raising this issue 😃. I am going to address your questions in separate.

We have currently some documentation on the README of the repository. Is there a specific part you don't understand? This documentation can always be improved, so we appreciate if you can give more details on the part you are having difficulty 😃.

Yes, we can add that new feature you mention

[2020-09-20 14:52] BOLT04 commented on #245
I think all those suggestions are pretty good 👍. I think the important thing to do is to abstract this **command matching** into a different software module/function/class (whatever 😅), so that on [command.ts](https://github.com/EddieJaoudeCommunity/EddieBot/blob/dd0b1173c765ed97a58539c40d1d2398cf3bcf36/src/commands.ts#L18) this implementation detail is not known.

Imo, this makes it easier to sta

[2020-09-20 15:13] BOLT04 commented on #173
I've created the label with the name on the screenshot. We can change it later so we can keep this issue open for discussion 👍
![imagem](https://user-images.githubusercontent.com/18630253/93714658-30a67600-fb5c-11ea-9f0d-3afe637a3184.png)

[2020-09-20 15:54] NathanDennis opened #248 "Most recent 'words' changes need reverting"
The most recent update to the bot is causing a lot of bot spam and doesn't seem to be a great way of 'policing' language used in the server.

The code isn't listening for specific words, such as "man", it's listening for man for example, so is triggered in any words that contain those characters, such as human, manuscript, many etc

I've commented out the changes just so the code is there for refe

[2020-09-20 19:19] #248 closed

[2020-09-20 22:13] eddiejaoude commented on #245
yes 👍 , we should try to abstract it away

The matching is done by soundex the incoming request with the available soundex values. For example, a command available is `help` which has a soundex of `H123` *(I just made that value up)*, when someone writes the command `hlp` we would check the soundex coming in against the available ones. If `hlp` had a soundex of `H123` too, we would suggest `help`

[2020-09-20 22:15] eddiejaoude commented on #173
Thanks 👍 . I would made be change the colour from red, we use red for bug at the moment, so could be confusing.

Also would it be easier to read if there was a space after the colon, something like `command: opensource` - like you said we can change it later and it will update everywhere now there is a placeholder, so it is definitely a good idea to have something first, then we can tweak it

[2020-09-21 09:46] eddiejaoude commented on #101
Stale bot we probably still need this one 🤓

[2020-09-21 09:47] eddiejaoude commented on #72
This one still would be useful stale bot 🤓

[2020-09-21 13:54] AkshayaKulasekaran opened #250 "Words listener check against part of the words"
"Hi manufacturing" is considered as "Hi man" by EddieBotDev

[2020-09-21 14:02] AkshayaKulasekaran commented on #250
**Original idea:**
Changing the code in [this file](https://github.com/EddieJaoudeCommunity/EddieBot/blob/develop/src/words.ts#L21)
```.find((prepend) => message.content.toLowerCase().includes(`${prepend} ${word.check}`)));```
such that there's a space before the ```}``` will stop the bot from responding to inputs with a punctuation mark at the end.
```Hi guys!```

[2020-09-21 14:31] eddiejaoude commented on #250
Thank you for raising.

I am going to leave this how it is for now, as it is unlikely someone would write that. Lets leave it open and see if any real examples come up

[2020-09-21 14:33] eddiejaoude opened #251 "More listener words to add to the bot"
- dudes
- guys

and also prepend words for ending a conversation:

- thanks ...
- bye ...
- good bye ...

[2020-09-21 18:13] #251 closed

[2020-09-21 20:11] BOLT04 commented on #245
@eddiejaoude thank you for the explanation 👍, yeah I can imagine an implementation using soundex 😃

[2020-09-21 20:12] BOLT04 commented on #173
@eddiejaoude thank you for your suggestions, I'm on it 😃

[2020-09-22 08:51] mikeysan opened #253 "create GitHub tip for the tips command"
This happened when I tried to view some helpful hints on GitHub using "^tips github".

<img width="576" alt="Screenshot 2020-09-22 at 09 50 16" src="https://user-images.githubusercontent.com/13338176/93861828-0f0ed100-fcb9-11ea-87c0-8b98c0c2b586.png">

[2020-09-22 10:24] eddiejaoude commented on #113
I think this is still needed StaleBot 🤓

[2020-09-22 10:25] eddiejaoude commented on #112
Stalebot this is still needed

[2020-09-22 12:16] eddiejaoude commented on #253
thanks @mikeysan , PR coming soon to load more `md` files 🤓

[2020-09-22 12:26] BhuvaneshHingal opened #255 "Tips command should load md files dynamically"

[2020-09-22 12:28] Shanmuganathanb opened #256 "tips command should load md files dynamically"
A suggestion on the bot

[2020-09-22 12:28] #256 closed

[2020-09-22 18:37] AkshayaKulasekaran commented on #250
My pleasure!

[2020-09-22 18:48] #253 closed

[2020-09-22 19:01] BOLT04 opened #257 "Markdown for tips command isn't formatted correctly"
There seems to be limitations on the markdown usage inside a message embed. Could this be a bug on the code when reading the markdown file into a single string (e.g. the new lines and spaces are not accounted for)? If it's lack for support on Discord.js, we can leave it like this or choose another option.

What does everyone think?

**Example**
![imagem](https://user-images.githubusercontent.com/1

[2020-09-22 19:07] BOLT04 commented on #255
Hi @BhuvaneshHingal 😃, thank you for raising this issue.
I think this was done in this PR #254. Can you confirm this is what you meant by dynamically loading the md files? If not, could you provide a description for your request?

[2020-09-22 19:30] BhuvaneshHingal commented on #255
@BOLT04 Yeah, I guess PR #254 has solved this issue but let's confirm with @eddiejaoude since he wanted an issue number to create a PR.

[2020-09-22 19:56] eddiejaoude commented on #256
@Shanmuganathan05 are you sure you wanted to close this?

[2020-09-22 20:09] BOLT04 commented on #255
The issue used to associate the PR was this one #253, but we can wait to see if this issue was resolved then 👍

[2020-09-22 20:10] BOLT04 commented on #256
@eddiejaoude I think this might be a duplicate of #255, so maybe @Shanmuganathanb closed it since that one is open, but I'm not sure

[2020-09-22 20:13] eddiejaoude commented on #257
Good spot. I changed the label from `question` to `bug`

[2020-09-22 20:18] eddiejaoude commented on #255
At the moment, we use have a `switch` statement, I wonder if we can make it more dynamic - maybe it is not required, it was just an idea https://github.com/EddieJaoudeCommunity/EddieBot/blob/develop/src/commandHandlers/tips/tips.ts#L24

[2020-09-22 20:18] eddiejaoude commented on #256
Ah ok, yeah it probably is 👍 . Thank you @Shanmuganathan05 and @BOLT04

[2020-09-22 20:28] BOLT04 commented on #255
ah got it 👍, that is a great idea. Completely different from that PR then, my mistake 😅
Right now I can think of one implementation perhaps:
[code]

But it can be more dynamic to the point that when someone contributes with a new file for like Tailwind tips, we don't need to change this piece of code to support those tips on the `tips` command

[2020-09-22 20:32] eddiejaoude commented on #255
That looks better 👍 . Yeah the idea is to make it easier for people to add `md` files without changing code - maybe having it all in the config?

[code]

[2020-09-22 20:36] BOLT04 commented on #255
yes, that `availableTips` is way better placed in config 😃

[2020-09-23 01:26] Shanmuganathanb commented on #256
@eddiejaoude @BOLT04 ... Yes it was already opened and I hope so it was resolved too...

[2020-09-23 01:40] Shanmuganathan05 commented on #256
@eddiejaoude @BOLT04
I have my 2 accounts in our organization.. First I unknowingly raised an issue from my college Id. And then I noticed that and raised an issue from my personal id.. Both was accepted.. But I feel it is making some trouble here as Eddie has mentioned my another id.. So Shall I take out the college mail id...?

[2020-09-23 09:14] eddiejaoude commented on #256
@Shanmuganathan05 it doesn't cause any issues for us - you are welcome to have both accounts part of our organisation

[2020-09-23 09:18] #257 closed

[2020-09-23 09:31] eddiejaoude opened #260 "self assign roles should have an example"

[2020-09-23 09:32] #260 closed

[2020-09-24 12:09] BOLT04 commented on #46
I forgot about this issue, but it was already done and is on `master` branch:
![imagem](https://user-images.githubusercontent.com/18630253/94142830-c5fc7f80-fe66-11ea-9c33-d6c3bd3df98d.png)

In the issue description I wrote we could update the `CONTRIUTING.md`, but maybe it's not necessary.
Can we close this @eddiejaoude ?

[2020-09-24 12:12] BOLT04 commented on #32
oops, I think the bot still closed this issue @eddiejaoude 😅.
I think this can still be in the backlog for the future, but what does everyone else think?

[2020-09-24 19:56] BOLT04 commented on #174
@all-contributors please add @prajwal0024 for code

[2020-09-24 19:57] BOLT04 commented on #174
@eddiejaoude I think everyone on the issue description is added now, can we close this issue? Or do you think we can leave it open to add more people?

[2020-09-24 20:02] eddiejaoude commented on #174
Thank you @BOLT04. I removed `all-contributors` plugin because it is now displayed by GitHub and always up to date.

<img width="1260" alt="Screenshot 2020-09-24 at 21 02 01" src="https://user-images.githubusercontent.com/624760/94194170-3af0a900-fea9-11ea-8d43-b5aa92b0c8bc.png">

[2020-09-24 20:02] #174 closed

[2020-09-24 20:23] BOLT04 commented on #24
Hi @eddiejaoude 😃. I'd like to work on this, but I'm not aware of the current status of the database collections. I saw in this issue #32 that `usersGithub` exists, but there are no references to it on this codebase.

For this issue, would we have another collection for the user's stats, or use an existing collection? Something like this:
[code]

[2020-09-24 21:21] alrifay commented on #174
@eddiejaoude GitHub shows people who contributed with code only 😁

[2020-09-24 21:38] BOLT04 commented on #174
that is true @alrifay, great spot 😃. I think we can keep the bot for the other types of contributions, since reviewing and maintaining a repo is also time-consuming, and imo they count as contributions.

@eddiejaoude what do you think?

[2020-09-24 22:03] eddiejaoude commented on #114
We still need this Stalebot

[2020-09-24 22:15] eddiejaoude commented on #46
I think we can close @BOLT04 , now we are not using `all-contributors` and using the default GitHub contributors

<img width="1260" alt="Screenshot 2020-09-24 at 21 02 01" src="https://user-images.githubusercontent.com/624760/94205744-d428bb00-febb-11ea-84d1-1c76df788d68.png">

[2020-09-24 22:15] #46 closed

[2020-09-24 22:19] eddiejaoude commented on #71
Thanks @BOLT04 . Stalebot should not be closing ones with recent activity 🤷‍♂️

[2020-09-24 22:53] eddiejaoude commented on #32
I still like this 👍 - we are collecting stats at the moment for when people contribute to our organisation repos (including comments etc)

[2020-09-24 22:55] eddiejaoude commented on #24
From the `MEE6` bot, that counts the messages and assigns levels, it doesn't mean we dont do it too in our DB.

Not sure if this should wait until we move to another DB otherwise it will be more data to migrate or drop

[2020-09-24 22:59] eddiejaoude commented on #174
or who contribute with docs, I guess anything that can be in a commit and go via a PR?

We are collecting stats of all the events that happens, I think when we have badges for those contributions it will be more fun and easier to manage. With `all-contributors` it got out of date too quickly and easily - I think the idea is great, but it should be more automatic.

Currently we are storing the even

[2020-09-25 06:47] eync opened #261 "Bot gives warning over "many" and catches it as "man""
Here's screenshot of issue.
![9a0333900c94866e60e31343123bb12d](https://user-images.githubusercontent.com/1291215/94235303-00702600-ff14-11ea-81a8-94915a7003ac.png)

[2020-09-25 07:56] eddiejaoude commented on #261
thank you for raising 👍

[2020-09-25 12:58] BOLT04 commented on #24
you're right, it's better to postpone this after the DB switch since this API will change 👍

[2020-09-25 13:03] BOLT04 commented on #174
I agree with @eddiejaoude that info got out of date with the bot. If currently, GitHub counts contributors for changes to code and docs (anything that goes in a PR), then we could add to that by having a GitHub action that takes care of the contributions by opening issues, making comments on issues (this would be the maintenance part I guess) and PR reviews.

[2020-09-25 17:24] stemount opened #262 "Bot should have configuration to turn on/off features. (an if statement would pretty much do)."
Related to https://github.com/EddieJaoudeCommunity/EddieBot/pull/247 and #134

This actually came from another discord server who looked at https://github.com/kentcdodds/kcd-discord-bot but the issue is you get all the features if you want to fork this bot but only need one piece of it's functionality?

If bot had an enabledFeatures key, even better environment variables where you can simply enabl

[2020-09-25 17:24] stemount commented on #250
linked to #261

[2020-09-25 18:34] BOLT04 commented on #262
@stemount this is a great idea 👍. Having feature flags could be very beneficial for the exact reason you said: someone may only want the `high value` role or reminders.
I agree this should be configurated in env variables, and then exposed as fields in the `config.ts`. Then each command/file that is responsible for a feature checks if that feature is enabled before continuing.

I hope this can als

[2020-09-26 00:53] eddiejaoude opened #263 "Move data from Firebase(Firestore) to an open source alternative that can be run in a container"

[2020-09-26 00:53] eddiejaoude commented on #24
I have updated the description to say it is dependent on the DB https://github.com/EddieJaoudeCommunity/EddieBot/issues/263

[2020-09-26 01:12] eddiejaoude commented on #262
@stemount @BOLT04 great ideas 👍 . Yes lets do this 💪

[2020-09-26 08:11] TECHNOFAB11 commented on #185
When dockerized you're basically free to use whatever DB you want. At least if it has a docker image. You can then just tell docker-compose to create the containers with the same network and you're completely offline. But I havent read a lot about firebase, so if there is a big benefit of using it switching to some other DB may be a bad idea :)

[2020-09-26 09:24] eddiejaoude commented on #185
Switch DBs can be painful, but unfortunately Firebase is not open source, so there is no way to run it with or without Docker - it only runs on their live platform. I think any other DB would be a better choice for a DB.

I was excited by the realtime part of Firebase (Firestore), but it is not that important and we can run web sockets anyway if we need.

[2020-09-26 13:20] stemount commented on #263
Hah, I was gonna raise this one @eddiejaoude. Well done 👏🏻 great minds think alike

re: Issue #262

[2020-09-26 13:21] stemount commented on #262
@BOLT04 @eddiejaoude I definitely think the Firebase element of this actually is quite a blocker to novice programmers who we are supporting in our community.

It's quite "dump in the deep end" for somebody who has just got their head around Docker and docker-compose and also it is not necessary for all the functionality too.

Eddie is already on the money with #263

[2020-09-26 13:26] stemount commented on #263
I found "Firebase Local Simulator" to be an absolute disaster as per #156 because it

1. Required me to install OpenJDK in the image which is a 200MB+ download for Alpine Linux, whereas Alpine is probably ~40MB, so those in geographies with terrible internet will be kind of waiting around just for the Firebase simulator.
2. There is an alpine OpenJDK image but I've found this (from commercial expe

[2020-09-26 13:27] stemount commented on #262
Are we all agreed that we should go with the "implicit enable features" thing?

As the GitHub workflows will allow us to deploy environment variables in the files - (when this thing is hosted somewhere - which is a totally different discussion) we can deploy with enable/disable features this way using GitOps as "policing" the production/dev bot with `main` and `develop` used respectively.

[2020-09-26 13:29] eddiejaoude commented on #263
@stemount yep firebase has a high entry level to get working locally and even then it is not great. A DAL/ORM would help, but I think none will work with firebase because it is so unique. So I still think we should move away to an open source DB where we can use an ORM for abstraction and models.

[2020-09-26 13:31] eddiejaoude commented on #262
I think we should do this 👍 - if it is done with code config or envars, a re-run of the Action will still be required. So we should go with the simplest/best option.

[2020-09-26 13:35] stemount commented on #246
#262 will actually help here if a user does not wish to put this filter on their server, this feature is not production ready yet as well so thanks for raising the issue @Shanmuganathanb and I believe it has been disabled for the time being.

1. @Shanmuganathanb as @BOLT04 has triaged above, I do agree the README can be improved, #156 has some suggestions of improvements, assigning that issue to @

[2020-09-26 13:55] eddiejaoude commented on #246
This feature is still currently active, the bot is not appearing that much anymore in the chat because people have learnt to be more inclusive with their wording - so it looks like it is doing what it is meant too 🎉

[2020-09-26 15:50] BOLT04 commented on #262
agreed @stemount and @eddiejaoude 👍

[2020-09-27 05:18] RaisinTen opened #265 "Wrong link to the code of conduct in the contributing doc"
Sorry, when I moved the contributing documentation to the project root, I only fixed the links that were pointing to the contributing doc but I forgot to fix the link to the code of conduct inside the contributing doc [here](https://github.com/EddieJaoudeCommunity/EddieBot/blob/develop/CONTRIBUTING.md#contributing-to-eddiebot). I'll fix it like this:
[code]
:slightly_smiling_face:

[2020-09-27 07:09] #230 closed

[2020-09-27 07:28] eddiejaoude commented on #136
Stale bot we still want this

[2020-09-27 07:29] eddiejaoude commented on #134
Stale bot we still want this

[2020-09-27 07:29] eddiejaoude commented on #99
This is complete

[2020-09-27 07:29] #99 closed

[2020-09-27 07:32] #265 closed

[2020-09-27 11:59] stemount opened #267 "Add prettierrc to project to have consistency of code tab/spaces etc above using tslint"

[2020-09-27 14:01] eddiejaoude opened #268 "Another missing "guys" not picked up by the bot"
usage was...

<img width="636" alt="Screenshot 2020-09-27 at 15 00 29" src="https://user-images.githubusercontent.com/624760/94366769-55599b00-00d2-11eb-989e-db1b8464ca22.png">

[2020-09-27 22:10] #134 closed

[2020-09-27 22:10] #185 closed

[2020-09-28 05:43] Jashpatel1 commented on #267
Can I take this up?

[2020-09-28 08:53] eddiejaoude commented on #267
Sure @Jashpatel1 👍 - I have assigned it to you

[2020-09-28 14:42] RaisinTen opened #272 "Docs needed: How to run EddieBot locally without docker"
The readme currently explains how we are supposed to set up `EddieBot` locally using `docker-compose`. Unfortunately, some of us devs don't have `docker-compose` on our systems. So, it would be awesome if someone added some more docs on how we can run `EddieBot` locally without `docker` or `docker-compose`. Thank you! :slightly_smiling_face:

[2020-09-28 16:08] RaisinTen opened #273 "Channel not found error when running without Firebase keys"
I was trying to set up `EddieBot` locally without the Firebase keys.
1. I disabled the Firebase errors by commenting out these lines:
[code]
2. Then I filled up `./.env` like this:
[code]
3. Now when I try to run the bot, this is what I face:
[code]

[2020-09-28 18:05] AllanRegush commented on #273
I followed your instructions to replicate the issue.
But I do not get any errors.
[code]
Might be something wrong with the discord config.
Did you invite the bot to the discord channel?

[2020-09-28 18:43] BOLT04 commented on #272
Hi @RaisinTen 😃, you have a totally valid point. I think we can add to the README the previous way of running locally because it still is a valid option I believe.
What you have to do is setup your `.env` like the docs say, but then you can simply run `npm run start:local`.

[2020-09-28 18:55] BOLT04 commented on #273
Hi @RaisinTen, thank you for raising this issue 😃.
I think the problem you're experiencing has something to do with what @AllanRegush said, which is the permissions for your bot. We documented the use of [gateway intents](https://github.com/EddieJaoudeCommunity/EddieBot#discord-gateway-intents), but perhaps it could improve more. I checked and we don't have a link for you to know where to configur

[2020-09-28 18:58] AllanRegush commented on #273
I used this for the permissions https://discordapi.com/permissions.html#56320

[2020-09-28 23:23] eddiejaoude commented on #272
Thanks @RaisinTen , this should be possible to do without docker 👍 .

Thanks @BOLT04 for replying 👍

[2020-09-29 14:37] RaisinTen commented on #273
Thanks for the help guys! Yes, I too think it is an issue with the permissions of the bot. I temporarily changed `src/client.ts` to:
[code]
and commented out most of `src/index.ts` and it started working.
Where can I find the permissions of the dummy bot I made on Discord and how do I edit the permissions?
*[NOTE: In the linked website, I did try filling in the client ID (it turned green) and foll

[2020-09-29 18:54] BOLT04 commented on #101
@eddiejaoude we probably need to reconfigure the stale bot. He is ignoring your comment to say there is activity 😅

[2020-09-29 20:14] BOLT04 commented on #273
@RaisinTen did you check the on that PR I linked above: https://discordjs.guide/popular-topics/intents.html#privileged-intents? There you can find the Discord Developer Portal link to find those permissions and more info on the topic 😃

[2020-09-30 05:47] RaisinTen commented on #273
@BOLT04 yes I did check it yesterday but it didn't occur to me instantly that I had to turn the `SERVER MEMBERS INTENT` on like your image showed. I turned it on and now it works perfectly! :slightly_smiling_face:

This is what I get in the log though:
![](https://user-images.githubusercontent.com/42526976/94647351-e1a3d200-030d-11eb-8b22-df531b5cf6fb.png)
Do you know what the reason is behind tha

[2020-09-30 06:54] RaisinTen commented on #245
I think I have a better understanding of EddieBot and the command routing now. Is it okay if I try to implement this feature? :slightly_smiling_face:

[2020-09-30 07:33] #261 closed

[2020-09-30 07:33] #268 closed

[2020-09-30 07:34] eddiejaoude commented on #101
Why stalebot, why!? 😂

[2020-09-30 07:40] eddiejaoude commented on #245
I dont think anyone else is doing it @RaisinTen 👍

[2020-09-30 08:53] alrifay commented on #273
The reason you get this error is either you didn't set the correct bot channel id in `.env` file
https://github.com/EddieJaoudeCommunity/EddieBot/blob/2c8adb209b1b397914025cd4f0f595743e7b4654/.env.example#L5-L6

or because `scheduleOpenSourceReminder` in `index.ts` starts executing and logging to the bot channel before to bot is ready.

To fix it, move `scheduleOpenSourceReminder` on [index.ts:41]

[2020-09-30 09:22] RaisinTen commented on #273
@alrifay hey, thanks for the reply! :slightly_smiling_face:
I just tried what you mentioned but it still produced the same error.
After checking the docs I found that [`login` returns a `Promise<string>`](https://discord.js.org/#/docs/main/stable/class/Client?scrollTo=login). So, I tried this instead:
[code]
and it works! Do you think I should make a pr with this change?

[2020-09-30 12:19] BOLT04 commented on #245
yes @RaisinTen, thank you for your initiative 😃. I'll assign it to you 👍

[2020-09-30 14:03] RaisinTen commented on #245
I had previously tried `soundex-code` using just Node.js. This time, I was trying to set it up using Typescript.
Since `@types/soundex-code` doesn't exist, this is the custom type definition file I was trying to make:
[code]
and this is how I'm using it:
[code]
When I'm `tsc`-ing, this is what I get in `dist/index.js`:
[code]
which doesn't work. To get it to work, this is the required change:
[cod

[2020-09-30 16:05] RaisinTen opened #274 "How to use soundex-code in Typescript"
I was trying to solve #245 and I'm a little confused about how to use `soundex-code` in Typescript.

I had previously tried `soundex-code` using just Node.js. This time, I was trying to set it up using Typescript.
Since `@types/soundex-code` doesn't exist, I tried making a custom type definition file:
`types/soundex-code/index.d.ts`:
[code]
and this is how I'm using it in `src/index.ts`:
[code]
Wh

[2020-09-30 17:39] alrifay commented on #274
try this import
[code]

[2020-09-30 17:45] alrifay commented on #273
Of course, PRs are always welcome 🎉

I'm curious to know why it didn't work for you, could you show me what you did and didn't work 😁
Because I tried the example
[code]
and it worked.

[2020-09-30 18:36] AllanRegush commented on #274
I works for me using @alrifay's suggestion.

[2020-10-01 02:04] sashreek1 commented on #240
Hey!
I would love to help resolve this issue.
1 question, would you folks prefer `updatedAt` or `updateAt`
I personally think `updatedAt` is more self-explanatory

[2020-10-01 05:29] RaisinTen commented on #274
@alrifay thanks a lot! :slightly_smiling_face:
It did produce the intended output in `dist/index.js` but it also produces this error:
[code]
So, in `tsconfig.json`, I uncommented `// "esModuleInterop": true` and tried `npm run start:local` again but it again produced the same error. However, this time, the content of `dist/index.js` changed into this:
[code]
I wonder where I went wrong.

[2020-10-01 05:42] RaisinTen commented on #273
@alrifay I just noticed that I moved `scheduleOpenSourceReminder();` to the wrong line. Silly me! :disappointed:
Your code works perfectly! I'll make a pr to close this issue. :slightly_smiling_face:

[2020-10-01 06:12] RaisinTen opened #278 "Need commitzen for commits"
Since we use [Conventional Commits specification](https://www.conventionalcommits.org/en/v1.0.0/) for the commit guidelines, wouldn't it be nicer if we used something like [commitzen](https://www.npmjs.com/package/commitizen) for the commits? What do you all think? :slightly_smiling_face:

[2020-10-01 14:53] alrifay commented on #274
Thanks @AllanRegush for testing 🎉

@RaisinTen I tied this syntax mentioned here https://github.com/microsoft/TypeScript/issues/27293#issuecomment-549047461
[code]
and it worked without any errors.
here is the [typescript documentation](https://www.typescriptlang.org/docs/handbook/modules.html#export--and-import--require) for this weird syntax 😄

My working code:

index.d.ts:
[code]
index.ts
[code]

[2020-10-01 14:53] RaisinTen commented on #274
Finally, I fixed it! :smiley:
`src/index.ts`:
[code]
`src/@types/soundex-code/index.d.ts`:
[code]
and I set `"esModuleInterop": true` in `tsconfig.json`. Yay!

[2020-10-01 14:53] #274 closed

[2020-10-01 19:11] #272 closed

[2020-10-01 19:37] BOLT04 commented on #274
@RaisinTen You can also add the following line to ignore the error instead of creating more code 😃
[code]

[2020-10-01 19:39] #273 closed

[2020-10-01 19:50] BOLT04 commented on #278
This is super freaking cool!!! @RaisinTen thank you so much for opening this issue and suggesting that 😄. I love standards (especially conventional commits 💯 💯 ) and I think @eddiejaoude does too, so I completely support this addition.

I don't know commitzen, so could you test out if what they say it does: "you'll be prompted to fill out any required commit fields at commit time", also happens if

[2020-10-01 20:24] alrifay commented on #150
I think this issue is resolved since @eddiejaoude already fixed it from the database.
And the bot has a command `bio delete` #212 to clear the bio.
Should we close it?

[2020-10-01 21:18] BOLT04 commented on #162
@alrifay yes I think we can close it. However it seems the bot always responds and makes a comment on new PRs, even if they are not the contributor's first PR to the project. We might need to configure it further.

[2020-10-01 22:20] eddiejaoude commented on #152
Stalebot we still want this

[2020-10-01 22:21] eddiejaoude commented on #152
I just checked the MEE6 and this is complete and sent to the new member a DM...

[code]

[2020-10-01 22:21] #152 closed

[2020-10-01 22:22] eddiejaoude commented on #240
Thanks @sashreek1 👍

I agree `updatedAt` is better and should be consistent what we use in the application

[2020-10-01 22:36] #240 closed

[2020-10-01 22:46] eddiejaoude commented on #274
Amazing collaboration everyone 😍

[2020-10-01 22:51] eddiejaoude commented on #278
This looks great @RaisinTen . I agree with @BOLT04 standards that we are all familiar with is awesome 👍

@BOLT04 raises some good concerns, then if that is all ok, we could add it, just to reiterate what @BOLT04 asked:

- could you test out if what they say it does: "you'll be prompted to fill out any required commit fields at commit time"
- what happens if you make a commit with tools like GitHub

[2020-10-01 22:51] eddiejaoude commented on #278
Sorry didnt mean to close, I will reopen

[2020-10-01 22:52] eddiejaoude commented on #150
@alrifay good point, lets close for now 👍 . Thank you !

[2020-10-01 22:52] #150 closed

[2020-10-02 00:56] itsphaze commented on #227
Hi, can I work on this?

[2020-10-02 01:39] #95 closed

[2020-10-02 01:39] #71 closed

[2020-10-02 02:07] alrifay opened #281 "Stale bot should not be closing issues with recent activity"
If an issue marked as `no-issue-activity` it will be closed after 7 days.

We need to set these options with a reasonable values.
[code]
we can also set labels to prevent the bot from closing the issues
[code]

here is [all available options](https://github.com/actions/stale/blob/main/action.yml)

[2020-10-02 06:53] RaisinTen commented on #278
* I actually got to use it before when I was contributing to [ml5js](https://github.com/ml5js/ml5-library/). All I had to do to commit my changes was:
[code]
    It runs `git-cz` which builds a commit message out of the options you select and the messages you provide in a really neat manner. Also, if someone prefers doing it manually, one can do a simple `git commit`. I even tried setting it up on

[2020-10-02 07:51] RaisinTen commented on #274
@BOLT04 I think doing it without the type def code might lead to some type-related problems in the future because we are using Typescript to harness the power of static typing but we are turning off type-checking for a part. Also, @AllanRegush requested me to make a pr for a type def package for `soundex-code` in [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped/). After it gets

[2020-10-02 08:15] eddiejaoude commented on #162
Good idea @alrifay , lets close this.

@BOLT04 the Action is quite generous at the moment, I left it open just in case someone comes back later and forgets the original message - we can cut it back to check with a date to see if the last contribution was in the last 30 days (or something similar)

[2020-10-02 08:15] #162 closed

[2020-10-02 08:23] eddiejaoude commented on #227
@itsphaze sure 👍 - it is quite a big task, could you document here how you plan to achieve this?

[2020-10-02 08:27] eddiejaoude commented on #281
Thanks @alrifay 👍

[2020-10-02 08:53] eddiejaoude commented on #278
Awesome! I think we can encourage people to use the CLI 🤓 - we should use this on one of our projects and then we can add it to our other projects in the organisation when we are comfortable with it

[2020-10-02 09:15] eddiejaoude commented on #267
thank you @thriftykapila but the work has already been done https://github.com/EddieJaoudeCommunity/EddieBot/pull/271

[2020-10-02 12:32] itsphaze commented on #227
Are the repos loaded from the database or pre-defined?

I'd load them from where they are and put on an object where the key is the repo name and value is the complete url. If there only the bot's repo I'd load it from package.json. Using a reaction based selector (with Message#awaitReactions) that maps each repo to a emote or asking for a reply (with TextChannel#awaitMessages). I'd then index the

[2020-10-02 18:26] itsphaze commented on #20
Hi! Is the cooldown for all commands or per command? Maybe per user?

[2020-10-02 18:27] BOLT04 commented on #274
that's dope @RaisinTen 👍 👍

[2020-10-02 18:36] BOLT04 commented on #20
Hi @itsphaze, yes maybe per user is better

[2020-10-03 13:02] BOLT04 commented on #165
I think this is still relevant stale bot

[2020-10-03 14:15] eddiejaoude commented on #227
Thinking about this, it might be harder than we think, because we will need peoples oauth tokens, otherwise we can not create an issue on their behalf

[2020-10-03 14:35] eddiejaoude commented on #20
I agree, per user would be best and simpler 👍

[2020-10-03 14:47] itsphaze commented on #227
From what I understood this was to push people to the correct place to create the issue but I guess that can also be done

[2020-10-03 14:52] eddiejaoude commented on #250
I think this is fixed now?

[2020-10-03 15:11] RemcoHalman commented on #281
@eddiejaoude @BOLT04 Can i take this issue?

[2020-10-03 15:12] eddiejaoude commented on #227
Yes let keep it simple 👍 - we can build on it in the future

[2020-10-03 15:15] BOLT04 commented on #281
yes, I'll assign it to you. Thank you 👍

[2020-10-03 17:57] #281 closed

[2020-10-04 15:30] BOLT04 commented on #263
@stemount and @eddiejaoude have we made advancements on this issue? I think @eddiejaoude mentioned [supabase.io](https://supabase.io/) so I was thinking we could open a PR that would use that and refactor a bit of the code.

I have used [Mongoose](https://mongoosejs.com/) and I think it's similar to an ORM (correct me if I'm wrong @stemount 😄), but I'd suggest adding a DAL to EddieBot instead. The

[2020-10-04 16:22] #245 closed

[2020-10-04 16:27] BOLT04 opened #289 "Remove @ts-ignore for soundex-code"
https://github.com/EddieJaoudeCommunity/EddieBot/blob/354c1d456ebb0124709432db4b55efb04e10bd1f/src/suggestSimilarCommands.ts#L3-L4

This will be done when @types/soundex-code gets published on npm 😃.

[2020-10-04 23:42] stemount commented on #227
This would just simply provide a link, the issues can be hardcoded in config for now.

[code]

[2020-10-05 05:39] RaisinTen commented on #289
@BOLT04 I have good news! It's published now - https://www.npmjs.com/package/@types/soundex-code
Now I can work on this issue. :smiley:

[2020-10-05 08:10] RaisinTen opened #291 "Refactor commandHandler interface"
*"We can change the interface of a `commandHandler` so that the first parameter is a [tuple](https://www.typescriptlang.org/docs/handbook/basic-types.html#tuple)) where the first value is the command name, and the second is the full command passed: `arg: [string, string]`."* &mdash; @BOLT04

I think this is a really awesome addition to work on. This way, we can abstract away the conditional here:

[2020-10-05 08:24] RaisinTen opened #292 "addition to the help commandHandler"
`help` should additionally have the option of taking in command names as arguments and display the info about the specific command

[2020-10-05 11:47] #267 closed

[2020-10-06 08:09] eddiejaoude commented on #263
I think we should stick to something simple for now, like Mongoose with Mongo. Supabase can be an enhancement later on, as they are still in super early days.

I think defining smaller tasks is a great idea 👍 - we can start moving things over:

- EddieBot (high)
- gh-action-community (high)
- EddieBotMap (low)

Note: I would like to restructure the data also, I think we can be a bit smarter now we

[2020-10-06 18:48] eddiejaoude commented on #227
Maybe I am missing something though, how will the issue be created by the user if they did not authenticate?

[2020-10-06 18:51] eddiejaoude commented on #292
Yep great idea 👍

[2020-10-06 21:21] #289 closed

[2020-10-08 21:16] #227 closed

[2020-10-10 09:25] RemcoHalman opened #294 "Add feedback to user if selected a new rol"
When assigning a new role to your profile the bot does add it but does not give feedback that it did add it.

![Schermafbeelding 2020-10-10 om 11 45 42](https://user-images.githubusercontent.com/25010775/95651986-2c7fcf80-0aee-11eb-8713-bc0fece73ed5.jpg)

[2020-10-10 09:32] RaisinTen opened #295 "Need tests"
What do y'all think about adding tests for this project? It's growing at a nice pace. So, I think adding tests would make sure that the code doesn't break. 😃

[2020-10-10 10:13] #198 closed

[2020-10-10 10:24] eddiejaoude commented on #294
It normally does, not sure why it didnt for `vue`

<img width="639" alt="Screenshot 2020-10-10 at 11 23 24" src="https://user-images.githubusercontent.com/624760/95652718-0c024600-0aeb-11eb-81d5-83c7585fd02d.png">

[2020-10-10 10:25] eddiejaoude commented on #294
Hmm I just tested it and it seemed fine. We might need to test your `vue` command again and check the logs

<img width="627" alt="Screenshot 2020-10-10 at 11 24 52" src="https://user-images.githubusercontent.com/624760/95652745-4d92f100-0aeb-11eb-8a13-b6afb3606061.png">

[2020-10-10 10:27] eddiejaoude commented on #295
Yes we plan to add tests after we move away from firebase in #263 - this will make it much easier to write tests as we will be using an API to communicate with the DB rather than going directly.

An API repo was created recently https://github.com/EddieJaoudeCommunity/EddieCommunityApi

[2020-10-10 10:37] RemcoHalman commented on #294
@eddiejaoude It seems to be working now.. Was the bot restarted with the addition of svelte?

[2020-10-10 10:39] eddiejaoude commented on #294
Ah yes it was restarted for the new config

[2020-10-10 11:46] RaisinTen commented on #295
@eddiejaoude Oh, that's really cool! I used to think that we are supposed to mock the parts of the database. Gonna be interesting to test it via the API. :slightly_smiling_face:

[2020-10-10 12:03] BOLT04 commented on #295
@RaisinTen yes adding tests is a great idea. Also, in unit tests we usually mock the DB so you are correct on that regard. I think @eddiejaoude might have mentioned integration or E2E tests, where we would indeed test the API calls 😃 .

[2020-10-10 12:06] #20 closed

[2020-10-10 13:52] BOLT04 commented on #173
@eddiejaoude what do you think about closing this? If this needs to change in the future, we'll create an issue at that time. The initial purpose of the issue is completed 😃

[2020-10-10 14:18] RaisinTen commented on #295
@BOLT04 noice! :D

[2020-10-10 19:38] BOLT04 opened #297 "Tips: Update open-source resources with more links"
Suggested links:
- [Complete Guide to Open Source - How to Contribute](https://www.youtube.com/watch?v=yzeVMecydCE)
- [How to contribute to open source by FreeCodeCamp](https://github.com/freeCodeCamp/how-to-contribute-to-open-source)
- [Open Source Guide](https://opensource.guide/)
- [Hacktoberfest resources](https://hacktoberfest.digitalocean.com/details)

Actually, for the last link it would be

[2020-10-10 23:08] eddiejaoude commented on #173
Sounds like a good plan 👍

[2020-10-10 23:08] #173 closed

[2020-10-10 23:09] #171 closed

[2020-10-10 23:34] eddiejaoude commented on #297
@BOLT04 this link should scroll to the `beginners` section https://hacktoberfest.digitalocean.com/details#beginners

[2020-10-10 23:37] eddiejaoude commented on #294
@RemcoHalman should we close this for now and if it happens again create another issue?

[2020-10-11 08:19] RemcoHalman commented on #294
@eddiejaoude closed it! Hope that it was just a one time thing 😄

[2020-10-11 08:19] #294 closed

[2020-10-11 10:05] Vyvy-vi commented on #232
Can I add more timezones to the config.ts file?

[2020-10-11 11:15] BOLT04 commented on #297
yes, @eddiejaoude thank you for that link. It's exactly what I was searching for 😃

[2020-10-11 12:07] BOLT04 commented on #232
Hi @Vyvy-vi 😃, yes if you want I can assign this issue to you. For this to be resolved you can follow the instructions @alrifay said.

[2020-10-11 17:57] eddiejaoude commented on #297
Great 👍

[2020-10-12 05:56] Vyvy-vi commented on #232
Yes, I am interested in this.
Since we are adding more timezones, which all should I add besides PST?

[2020-10-12 06:10] Vyvy-vi commented on #232
Should I do a longitude sweep to cover major time zones in each zone?

[2020-10-12 22:28] BOLT04 commented on #232
maybe we could add a package to get popular timezones, but I don't know... add the ones you think are important 👍

[2020-10-13 09:02] eddiejaoude commented on #170
We still need this 👍

[2020-10-17 10:26] #278 closed

[2020-10-17 10:48] #291 closed

[2020-10-17 10:58] RemcoHalman opened #300 "Check if user has the default image"
I think there is a way to check when people join the Discord if they use the default image or not. I added a link from stackoverflow how to do this with discord.py.

Could it be an idea to include this? MEE6 does welkom the but does not mention the image.

[Stackoverflow link](https://stackoverflow.com/questions/59428178/how-do-i-check-for-a-default-profile-pic-with-discord-py)

[2020-10-18 09:15] eddiejaoude commented on #300
When new people join `MEE6` also sends a private DM with the following message:

But I do not think anyone reads it 🤦‍♂️

I like your idea 👍 . It would be good if `EddieBot` could send them a DM or post a reply each time they post a message when they don't have a profile picture, might a bit annoying, not sure?

[2020-10-18 10:20] frankiefab100 opened #301 "Move Code of Conduct link to Support Repo"
I think the CoC link should be moved from the EddieBot repository to the Support repository

[2020-10-18 10:24] eddiejaoude commented on #301
thank you for creating this issue, I agree 👍

[2020-10-18 11:10] frankiefab100 commented on #301
Thank you @eddiejaoude for giving me this opportunity

[2020-10-19 11:13] RemcoHalman commented on #300
@eddiejaoude Perhaps send them a DM 1 time a day (only if they post a message) that way it would not spam in the main feed. Also it just has to be annoying enough to make them change it 😄

[2020-10-20 04:00] AllanRegush commented on #301
In `src/commandHandlers/codeOfConduct.ts` change the repo link

[code]

[2020-10-20 04:05] frankiefab100 commented on #301
Okay, thank you for the insight

[2020-10-20 04:58] #301 closed

[2020-10-20 10:04] eddiejaoude commented on #300
lol good idea 👍

[2020-10-23 04:47] eddiejaoude opened #303 "Alex bot to replace the guys/man regex"
[code]

https://github.com/get-alex/alex

[2020-10-23 04:52] eddiejaoude commented on #199
Still required

[2020-10-24 17:24] #292 closed

[2020-10-24 19:13] Vyvy-vi commented on #233
I think we're currently using momentjs. Maybe we can resolve the issue by quering [Google's Time Zone API ](https://developers.google.com/maps/documentation/timezone/overview)whenever timezone related query takes place (it takes ).

[2020-10-25 10:03] eddiejaoude commented on #233
@Vyvy-vi I think it will still need to be configured to which timezone to convert?

[2020-10-26 08:32] eddiejaoude commented on #186
@BOLT04 we have the 5+ reactions for this, do we still want to keep this issue or can we close it?

[2020-10-28 14:14] BOLT04 commented on #186
Yes, we can close this since we have the 5+ reactions section 👍

[2020-10-28 14:14] #186 closed

[2020-10-28 14:31] stemount commented on #262
@BOLT04 @eddiejaoude this issue needs the feedback from the community, maybe another video on eddiebot would be cool?

[2020-10-28 14:40] eddiejaoude commented on #262
yeah good idea 👍

[2020-10-30 08:44] eddiejaoude commented on #206
I think we will need this Stale bot

[2020-10-31 16:04] stemount commented on #303
@EddieJaoudeCommunity/coreteam my opinion about this feature is not exactly necessary in such a small community as we are not a server with a huge need to prevent toxicity, there are however explicitly (list not exhaustive so imaginations don't expand on what these clearly inappropriate terms would be), for example racist/homophobic/ableist/<insert example things cannot think of> - of which **have

[2020-10-31 17:39] stemount commented on #138
New issue #198 was opened by @eddiejaoude to fix my linting suggestions however as far as i'm concerned...

<img width="644" alt="image" src="https://user-images.githubusercontent.com/150512/97785871-97796f00-1b9f-11eb-8990-688ca56cb4b5.png">

[2020-10-31 17:40] stemount commented on #138
![giphy-downsized](https://user-images.githubusercontent.com/150512/97785952-1cfd1f00-1ba0-11eb-8b42-bb849cff4245.gif)

[2020-10-31 17:40] #138 closed

[2020-10-31 18:48] Vyvy-vi opened #309 "change time-lib from momentjs(legacy lib)"
Context: as hinted on the server in #bot-chat and briefly mentioned in #233
![Screenshot 2020-11-01 at 12 16 30 AM](https://user-images.githubusercontent.com/62864373/97787359-99f7bb00-1bd7-11eb-9d8d-43a680a37f8a.png)

[2020-10-31 18:49] nhcarrigan commented on #309
I've heard Luxon is a strong alternative, though I haven't explored it yet.

[2020-10-31 18:56] Vyvy-vi commented on #309
I've heard of [spacetime](https://github.com/spencermountain/spacetime) and [jstz](https://github.com/iansinnott/jstz)
Though I've never used either(js beginner).
I've used Google's Date and Time API to fetch timezone data and it works pretty well(and will be stable for a few years)

[2020-11-01 10:42] eddiejaoude commented on #303
Great suggestions there @stemount 👍  - as always well written too 🤓

I think we could split this up into small "actions", for example, at the moment the Alex library is using everything, and we are excluding things. I think I saw some PR notifications of people submitting to this list of things to exclude, which is good for their open source contributions and also for the bot.

My concern with usi

[2020-11-01 10:49] eddiejaoude commented on #309
I don't think we need an external API call for this, if we can use a library I think it would be best

[2020-11-01 10:52] eddiejaoude commented on #197
We still need this, I removed the `no-issue-activity` label

[2020-11-01 11:14] UdokaVrede commented on #197
Hi I was engaged through October with my outreachy contribution for the
December - March phase, What's the plan on this issue please.

On Sun, Nov 1, 2020 at 11:52 AM Eddie Jaoude <notifications@github.com>
wrote:

[2020-11-01 11:32] eddiejaoude commented on #197
I think a lot has changed since this was created, I will have to re-research what needs doing later this week (unless someone beats me to it)

[2020-11-01 11:42] UdokaVrede commented on #197
I hope I beat you to it.

On Sun, Nov 1, 2020 at 12:32 PM Eddie Jaoude <notifications@github.com>
wrote:

[2020-11-01 11:43] eddiejaoude commented on #197
Yes please, feel free to make some notes on ideas around this and we can then create more issues for each piece of work 👍

[2020-11-01 16:44] AllanRegush commented on #309
I agree with @eddiejaoude no need for an External API.

Vanilla javascript has a better Date API now. We might not need a library.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleString

[2020-11-02 20:13] Vyvy-vi commented on #303
I think training it on a server-member vote basis might have undesirable consequences as Eddie said.
Perhaps if we make a reaction-training model, it would be better if the bot checks for the roles of the member involved.
(say if 2 admins or moderators thumbs down a eddiebot warn, then it registers as something to be worked on)

[2020-11-03 05:54] Vyvy-vi opened #311 "[BUG]: (regarding Alexjs)--> flags "master""
In relation with--> #303  Alex.js is still under configuration and I just noticed this

### Description:
EddieBot detects "master" as inappropriate, when linking github links.
In many contexts master might be inappropriate. However, in most github repo-links, master is a branch name often used and thus makes EddieBot trigger due to the presence of 'master'.
(this might lead to issues with sharing

[2020-11-03 05:56] Vyvy-vi commented on #311
(additional context on my message above that): nightbot read javascript as character spam :/

[2020-11-03 08:09] Vyvy-vi commented on #300
+a method to annoy them more:
_send a random cat pic with it saying--> Why not use this?_

[2020-11-03 08:11] Vyvy-vi commented on #239
Can I contribute to this, since no one has yet been assigned?

[2020-11-03 12:28] eddiejaoude commented on #311
I will add `master` to the `allow` config in the PR https://github.com/EddieJaoudeCommunity/EddieBot/pull/307

[2020-11-03 12:33] eddiejaoude commented on #300
I still really like this idea, especially as we grow and more people have no profile picture

[2020-11-03 12:34] eddiejaoude commented on #239
Sure 👍

[2020-11-03 12:34] Vyvy-vi commented on #311
Resolved by #307 👍

[2020-11-03 12:34] #311 closed

[2020-11-03 13:47] Vyvy-vi commented on #300
The python version relies on checking this-->
`ctx.avatar_url != ctx.author.default_avatar_url`
maybe we can reproduce a similar check using message object?

Checkout this stackoverflow issue: [discord-js-Null-avatarUrl](https://stackoverflow.com/questions/54556637/discord-js-gives-null-avatarurl-for-server-members-that-have-the-default-avatar)
Maybe we can exploit this null-return for checking if

[2020-11-03 13:56] eddiejaoude commented on #300
It is something we can try 👍

[2020-11-03 21:28] Vyvy-vi commented on #239
I fixed a few outdated(high-risk) dependencies in #305
However, there are some node_module issues that are popping up in the build...

[2020-11-03 21:29] Vyvy-vi commented on #239
![Screenshot 2020-11-04 at 2 49 23 AM](https://user-images.githubusercontent.com/62864373/98042490-aaaf6780-1e49-11eb-94aa-66367e7476bb.png)
I did not update these as I was not sure about weather updating them might create issues...

[2020-11-04 09:23] #232 closed

[2020-11-05 14:33] stemount commented on #309
yeah momentjs is deprecated as @AllanRegush hints to...

alternatives @ https://momentjs.com/docs/#/-project-status/

[2020-11-05 14:57] eddiejaoude commented on #309
DayJS and Luxon look interesting 🤓

[2020-11-05 16:48] #239 closed

[2020-11-05 17:00] metaverde opened #314 "Allow "moaning" word with AlexJS config"
Update the config to allow the word `moaning`

https://github.com/EddieJaoudeCommunity/EddieBot/blob/f7780d3a9bcc21f987247808fada3c4c41990b82/src/config.ts#L74-L81

[2020-11-05 17:09] nhcarrigan commented on #314
I'd be happy to ship a fix for this 🙂

[2020-11-05 17:25] eddiejaoude commented on #314
Sure, but probably too boring for you

[2020-11-05 18:12] AkshayaKulasekaran opened #315 "Summarise Time-zone Conversions"
EddieBot's timezone converter doesn't render very well on mobile. Screenshots of the same:

![image](https://user-images.githubusercontent.com/61582763/98278976-59c17f80-1fbf-11eb-90cf-c5e0650865e8.png)
![image](https://user-images.githubusercontent.com/61582763/98279015-67770500-1fbf-11eb-92fb-815a908c2e06.png)

Counters suggested:
[ ] Cherry-pick the American time-zones (for example, east, west

[2020-11-05 18:31] Vyvy-vi commented on #315
Agreed the timezone list needs a thinning.
(can we have some american ppl in the server cherrypick the timezones that are not used by them)
(In australia, we can keep one timezone for Adelaide)

There was also a discussion on modifying the command response:
CONTEXT: (discussion on discord #bot-chat last night)
![Screenshot 2020-11-05 at 11 58 09 PM](https://user-images.githubusercontent.com/628643

[2020-11-05 18:31] Vyvy-vi commented on #315
*there can be more solutions to this...
lets discuss 🤓

[2020-11-05 19:32] nhcarrigan commented on #314
Ah, saw the `first-timers-only` label is added. I'll hold off for now - if someone would like to take this for their first PR, please feel free!

If you have questions I'd be happy to help you work through the process for fixing this too 🙂

[2020-11-05 20:02] eddiejaoude commented on #314
sorry I forgot to add it before 🤦‍♂️ . Thanks for giving someone new to open source time to have a try.

[2020-11-05 20:05] eddiejaoude commented on #315
I like the idea of option 2, where it could give a small amount of information in the channel that it responded to and offer a link to a channel where more information could be found

[2020-11-06 00:34] Siddhant-K-code commented on #315
Yes, We can standardize all time with respect to UTC:

![image](https://user-images.githubusercontent.com/55068936/98311637-e0914f00-1ff5-11eb-98ba-90593fa025d3.png)

[2020-11-06 07:37] AkshayaKulasekaran commented on #315
Maybe we could implement something where people can customize what timezones they'd like to see? By default, they'd get some 7-10 results, but if they customize it, they'd get only 3 (the original, GMT and the one(s) they choose)

[2020-11-06 11:36] Vyvy-vi commented on #315
I had another Idea(something similar to what akshaya suggested):
Maybe we can make a specific command for this, where you can convert b/w timezones and have options to flag complete results in #timezones channel and we turn down this message-sensor to just print GMT time...?

[2020-11-08 11:34] eddiejaoude commented on #315
Lots of great ideas, but I think we need to take 1 step in the right direction. It is good to have a bigger goal, but we can probably break it down, and do a small piece for now and build on it - potentially with multiple options also.

What do people think step 1 should be?

[2020-11-08 14:00] SoloNoah commented on #314
hey, may i make the change? :)

[2020-11-08 14:22] eddiejaoude commented on #314
Sure @SoloNoah 👍

[2020-11-08 14:32] Vyvy-vi opened #316 "chore: Add Issue templates"
It would be really great if we can add some issue templates.
This would help in easier classification of issues.
Moreover, this might give more context to a few issues, as we can structure issue templates to contain information that might be useful to contributors/might indicate if the person opening issue is interested in providing a fix.

[2020-11-08 14:34] Vyvy-vi commented on #316
moreover, we can probably this way, add a more understandable pr/issue opening in project boards/github history, the way we have clean commits following the Conventional Commits specification

[2020-11-08 14:47] eddiejaoude commented on #316
Yes we need some templates 👍 . We have on different repos, but I would like to have some templates in the template repo (hopefully that is not confusing), that are synced by GitHub Actions

[2020-11-08 18:27] AkshayaKulasekaran commented on #315
I think having a max of 3/4 time zones per country/continent would be a good start. Maybe make a poll in discord?

[2020-11-08 18:50] eddiejaoude commented on #315
I think pick a west / middle / east of each continent should be a good start. Feel free to asking in Discord though

[2020-11-08 19:49] Vyvy-vi commented on #315
I think the main issue is the no. of us timezones. Maybe we can query in the server for the ones that are not used by anyone.

[2020-11-10 11:10] mohitrakhade20 opened #318 "to ignore the word special"

[2020-11-10 16:16] SoloNoah opened #319 "Add "host" to ignore list"
update config file to allow the word `host`

https://github.com/EddieJaoudeCommunity/EddieBot/blob/661becc58595bc17786edf96c556b8873ee59a7c/src/config.ts#L72-L84

[2020-11-10 16:22] SoloNoah opened #320 "Finding "ignore list" isn't clear"
Need to find a way to make it easier to understand where the `ignore list` is.
I tried looking in documentation and went over the files but wasn't sure.
Difficult for new comers to navigate in files
https://github.com/EddieJaoudeCommunity/EddieBot/blob/661becc58595bc17786edf96c556b8873ee59a7c/src/config.ts#L72-L84

[2020-11-10 17:19] AkshayaKulasekaran opened #321 "Singular gender-specific words"
Words such as `bro` and `fella` have the same alternatives as `bros` and `fellas`

Instead of this, could we use the words `friend`, `pal` and `buddy`, which are gender-neutral?

[2020-11-10 17:24] eddiejaoude commented on #321
I think AlexJS picks up on those words and recommends the ones you are suggesting already. Did you notice otherwise in the Discord?

[2020-11-10 17:45] AkshayaKulasekaran commented on #321
Ah, didn't notice the new branch @eddiejaoude, was working off an older one

[2020-11-10 17:47] AkshayaKulasekaran commented on #321
But is there any way to choose the suggestions that AlexJS reccomends?

[2020-11-10 17:53] Vyvy-vi opened #322 "fix: Make help command inline"
### The problem:
The help command looks like a brickwall of text in the chat.
Moreover, the help command will potentially grow in the future, might get more space now.

### Proposed Fix:
A fix would to set inline=true in the embed definition.

### Context: <^help command>

![Screenshot 2020-11-10 at 11 23 14 PM](https://user-images.githubusercontent.com/62864373/98711987-ba7bfe00-23ab-11eb-9a02-44

[2020-11-10 18:05] eddiejaoude commented on #321
I did not see any options like that in the documentation, however I was not looking either, so I could have missed it.

[2020-11-10 18:06] eddiejaoude commented on #322
Could you share some of the discussion in the description? Copy and paste of screenshot

[2020-11-10 18:06] eddiejaoude commented on #320
Thanks @SoloNoah 👍

[2020-11-10 18:07] eddiejaoude commented on #320
This should be addressed in PR #307

[2020-11-10 18:16] Vyvy-vi commented on #322
(I've added the chat screenshots in the description)
Here's a preview of how the current fix looks like:
Should there be more consideration on this?

![Screenshot 2020-11-10 at 11 41 47 PM](https://user-images.githubusercontent.com/62864373/98714407-d7fe9700-23ae-11eb-92e1-ddc52522effd.png)

Essentially this is still a brickwall(just a bit more compact) :(

[2020-11-10 18:20] eddiejaoude commented on #322
Thank you for raising the issue 👍 .

I would suggest doing small improvements and we can see if more is needed. So for now, making it inline will be an improvement, with less work than migrating it, then the community will get the benefit sooner.

After that has been tested, if it needs more work, a new issue can be raised 🤓

[2020-11-10 18:23] Vyvy-vi commented on #322
(I think we could make it look more compact if we sort it first according to length of descriptions)

[2020-11-10 18:26] eddiejaoude commented on #322
Sure, give it a try 👍

[2020-11-10 18:32] AllanRegush commented on #322
What if we took the substring of the long descriptions.  Then add a link to the raw markdown?
[code]

[2020-11-10 18:34] Vyvy-vi commented on #322
some more discussion:
![Screenshot 2020-11-11 at 12 03 53 AM](https://user-images.githubusercontent.com/62864373/98716361-73910700-23b1-11eb-9ce4-20afc1864846.png)

[2020-11-10 18:36] eddiejaoude commented on #322
We might have to do that, I was hoping to make a small improvement first, and raise another issue if required that would need more work

[2020-11-11 06:45] Akshu-on-github opened #323 "Creating an FAQ.md"
Since there are some questions brought up often by new contributors - like issue #320 and 'How can I be a part of the organization' - I thought an FAQ page would be a good solution. Can I create one?

[2020-11-11 09:10] eddiejaoude commented on #218
No stalebot we still need this 🤓

[2020-11-11 09:11] eddiejaoude commented on #219
This has not come up again, but we probably need to clarify this stalebot before it is closed

[2020-11-11 09:18] eddiejaoude commented on #323
There is the `tips` command, would the `faq` one be similar? It would be good to have it as an `md` file so we can also load it  on the website - I wonder what other people thing? @BOLT04 @AllanRegush @stemount @alrifay ... etc

[2020-11-11 18:38] AkshayaKulasekaran commented on #323
Now that you mention it, they'd be quite similar, yeah!

[2020-11-11 19:25] AllanRegush commented on #323
I think for issue #320 it should be in the documentation. For 'How can I  be a part of the orgainzation' this is in the introductions channel posted by mee6 and this is also on our web page. https://eddiejaoudecommunity.github.io/ Maybe we should consider something like our words command that searches for `how do I join?` and posts the link.

I think adding to the tips command overall would value.

[2020-11-12 11:49] #319 closed

[2020-11-12 14:06] RasPiPkr opened #326 "Add new allowed word"
Please allow the word wife to the EddieBot list :thumbsup:

[2020-11-12 14:10] RasPiPkr commented on #326
Best do husband too I guess :smile:

[2020-11-12 14:13] RasPiPkr opened #327 "EddieBot word list addition"
Add the word easy :confused:

[2020-11-12 20:09] eddiejaoude commented on #326
Thanks @RasPiPkr  👍

[2020-11-12 20:26] BOLT04 commented on #323
Hi @AkshayaKulasekaran 😃, there are similar issues to this one also related to having a FAQ section somewhere: https://github.com/EddieJaoudeCommunity/support/issues/259 and #197

I agree with @eddiejaoude, a `^faq` command would be cool to have to list the most popular questions, and then have a link to the section on the repo that has the FAQ. This way the Discord message is not that big, and th

[2020-11-12 22:32] BOLT04 commented on #314
Since the PR got merged, I'll close this issue 😃.
Thanks @SoloNoah for fixing it and @metaverde for opening the issue.

[2020-11-12 22:32] #314 closed

[2020-11-14 09:26] #326 closed

[2020-11-14 17:51] AkshayaKulasekaran opened #329 "Add words to ignore list"
I suggest we add the words 'obviously', 'simple' and 'easy' to ignore list

[2020-11-14 17:55] Vyvy-vi commented on #322
I think I'll close this issue for now
(I'll make a new one regarding the help command and add the discussion key points)

[2020-11-14 17:55] #322 closed

[2020-11-14 18:02] AkshayaKulasekaran commented on #323
@BOLT04, I haven't had a good look at the support repo, my bad 😅

Do we have a link that goes to the support repo anywhere? I might have missed it of there is, but if there isn't, I guess we should add one in

[2020-11-14 18:03] AkshayaKulasekaran commented on #329
Ah, the word 'easy' seems to be brought up in #327

[2020-11-14 18:16] Vyvy-vi opened #330 "Make help command more readable"
This stems from the discussions in #322 and the proposed solutions.
The current fix made in #324 will fail, once 2-3 more characters are added in the help command.
Thus, in future making new commands, would be an issue for help command.

A good fix, for now(until we make a .md file/website for bot help and docs) seems to be what this discussion on the discord server hints at:
![Screenshot 2020-11-

[2020-11-14 18:26] BOLT04 commented on #323
@AkshayaKulasekaran i think we have a command for that: `^support`. It shows a link to the discussions section, but it's still the support repo 😃

[2020-11-15 08:53] eddiejaoude commented on #322
Yes thanks for closing, the PR was merged and a new issue can be made for next steps 👍

[2020-11-15 08:54] eddiejaoude commented on #329
These words we should try to avoid using, but might be overkill for the bot to respond to these every time 👍

[2020-11-15 09:00] eddiejaoude commented on #330
Looks good 👍

[2020-11-15 09:01] eddiejaoude commented on #229
We still need this stalebot 🤓

[2020-11-15 09:36] Vyvy-vi commented on #330
A potential fix:
![Screenshot 2020-11-15 at 2 48 42 PM](https://user-images.githubusercontent.com/62864373/99181026-bbb57e00-2751-11eb-9caf-f77cf98e4819.png)

**OR** this:
![Screenshot 2020-11-15 at 2 50 28 PM](https://user-images.githubusercontent.com/62864373/99181056-eb648600-2751-11eb-91e1-947adcc3e53d.png)

**OR** this:
![Screenshot 2020-11-15 at 3 02 24 PM](https://user-images.githubusercont

[2020-11-15 09:38] Vyvy-vi commented on #315
Can I work on this? (I worked on this earlier and this issue hasn't had any response for a week)

[2020-11-15 10:55] Vyvy-vi commented on #315
![Screenshot 2020-11-15 at 3 44 38 PM](https://user-images.githubusercontent.com/62864373/99182197-844acf80-2759-11eb-9e6b-28d18836cf13.png)

How does this look?

[2020-11-15 11:22] Vyvy-vi commented on #330
(the present PR represents the help as this->)
![Screenshot 2020-11-15 at 2 50 28 PM](https://user-images.githubusercontent.com/62864373/99181056-eb648600-2751-11eb-91e1-947adcc3e53d.png)

[2020-11-15 11:47] AkshayaKulasekaran commented on #329
My thoughts exactly! Also, silly question but... where's the ignore list?

[2020-11-15 11:59] eddiejaoude commented on #329
Its currently in a PR, so you will need to branch from `issue-303` and make your PR to that branch too https://github.com/EddieJaoudeCommunity/EddieBot/pull/307/files#diff-c3095d5010e65c52737a98a5d618ea24049ebe90c8470752426081d70ed6e012R90

[2020-11-15 15:46] nhcarrigan commented on #330
The current PR looks best, IMHO.

[2020-11-15 16:10] Vyvy-vi commented on #330
(though I think I should strip off the last `|` )

[2020-11-15 18:37] eddiejaoude commented on #315
Looks better, lets try it 👍

[2020-11-15 18:37] thejason1 opened #333 "add the word of course to the alexa js ignore"
add the word of course to the alexa js ignore

[2020-11-15 19:18] nhcarrigan opened #334 "Create TS Interface for Commands"
Commands could be refactored into a single export, rather than multiple exports.

Let that single export be typed as a `CommandInt` interface, and have it be an object with the properties `triggers, usage, description, command`. This will make typing the commands with TS more strict and remove errors which access the commands (such as the `help` feature).

[2020-11-15 20:04] #329 closed

[2020-11-15 20:31] GoluffyxD commented on #333
Hey! I'd like to do this

[2020-11-16 08:07] Vyvy-vi opened #337 "[BUG]: The bot word-filter doesn't flag ", <word>,""
This bug seems to be a big issue as one may just list comma-separated bad-words and non-inclusive language, and not get flagged by Alexjs 😱

This isn't recognised or flagged by the bot: `, <bad-word>,`

Context:
![Screenshot 2020-11-16 at 1 32 26 PM](https://user-images.githubusercontent.com/62864373/99226694-304ef200-2810-11eb-965c-680db505621f.png)

At present this seems to be the only case in w

[2020-11-16 08:16] Vyvy-vi commented on #337
The consequences:
(It can be a lot more bad :( )
![Screenshot 2020-11-16 at 1 45 13 PM](https://user-images.githubusercontent.com/62864373/99227976-00a0e980-2812-11eb-9218-5adf79b53635.png)

[2020-11-16 20:40] BOLT04 commented on #315
Sure @Vyvy-vi, I'll assign it to you 😃

[2020-11-16 21:09] BOLT04 commented on #334
Great suggestion @nhcarrigan 👍 👍

[2020-11-17 12:44] #333 closed

[2020-11-17 13:44] mikeysan opened #339 "word check does not re-checked updated word once flagged"
Here's a description of the issue.

step 1 - user1: How's your projects going guys?
step 2 - EddieBot: Don't say 'guys'
step 3- user1: <edits previous comment to> How's your projects going dudes?
<expected> step 4 - EddieBot: That's even worse than the first one. 🤦

![image](https://user-images.githubusercontent.com/13338176/99397177-9e5feb80-28da-11eb-97d1-c54d6d6af261.png)

[2020-11-17 14:54] Vyvy-vi commented on #339
hmm perhaps, we can cache the message object after it is flagged and use a `client.on('messageUpdate')` event-trigger and then re-run the alexjs check on the message, and update the embed, if there is another `flag`, or display "Thanks for editing 👍 ", if the edited version has no issues.

[2020-11-17 14:58] Vyvy-vi commented on #318
I'm not sure if special should be added to ignore-list. (It is insensitive in a few contexts)

[2020-11-17 15:02] Vyvy-vi commented on #318
Oh wait nvm. Eddie has given it a 👍
Context:
![Screenshot 2020-11-17 at 8 29 09 PM](https://user-images.githubusercontent.com/62864373/99406147-92445000-2913-11eb-8a9a-77d3fee33b02.png)
Wanna make a pr and get the 🟩  ?
https://github.com/EddieJaoudeCommunity/EddieBot/blob/7aa9c6be92944a75a2a753bc4c662ad533c073a3/src/config.ts#L88-L106

[2020-11-17 18:29] eddiejaoude commented on #337
I think this is currently sent to the library, we might have to see what options we have available

[2020-11-17 18:35] eddiejaoude commented on #334
I see there is an open PR for it by @nhcarrigan - so I have assigned this issue to you 🤓

[2020-11-17 18:36] nhcarrigan commented on #334
Err - I don't have a PR for an interface yet 👀

[2020-11-17 18:42] eddiejaoude commented on #339
lol yeah replaced a bad word with a bad word 🤦‍♂️ - the bot's response actually gives some examples, but I didn't want to make a big deal out of it

I agree, it would be good if the message got re-checked after it was edited 👍

[2020-11-17 18:48] eddiejaoude opened #341 "Pre commit hook"
Leverages husky and lint-staged to run the linter and formatter on .ts files before committing them. This should prevent errors where a contributor forgets to run the linter before committing/opening a PR.

[2020-11-17 18:49] #341 closed

[2020-11-17 18:55] #315 closed

[2020-11-17 18:57] eddiejaoude commented on #318
@Vyvy-vi you are right, it can be used in an insensitive way 🤔

[2020-11-17 20:08] Vyvy-vi commented on #318
hmm 🤔  (though I guess, we can make an exception as most people are nice and use this in contexts like- `Today is a special day`) or like->
![Screenshot 2020-11-18 at 1 38 00 AM](https://user-images.githubusercontent.com/62864373/99442022-bcf7ce00-293e-11eb-9883-f36fb85ed8b1.png)

[2020-11-17 21:07] nhcarrigan opened #342 "[BUG] - Broken statistics workflow"
The statistics workflow, which is integrated in the `community.yml` file, throws errors on forked repos (and sometimes on PRs). I believe this is due to the fork missing the `FIREBASE_KEY` secret.

Is this workflow intended to run on everything? Or should it be migrated into its own `.yml` file and set to run on specific events?

[code]

[2020-11-17 21:10] Vyvy-vi commented on #342
I think this issue should be opened on [community-gh-actions](https://github.com/EddieJaoudeCommunity/gh-action-community)

[2020-11-17 21:14] nhcarrigan commented on #342
Looks like probably related to https://github.com/EddieJaoudeCommunity/gh-action-community/issues/25

[2020-11-18 11:42] Vyvy-vi opened #343 "idea: ^bio command parsing fields"
### FEATURE REQUEST/ IDEA
It would be really nice and efficient if we can add a utility factor to the bot, where you can use your `bio` to quickly share details.
Example: Say I wanted to share my github on the discord server, fast and it's stored on my `bio`, I can just use `^bio github` to quickly fetch the link to my github.
Now, yah this is kinda pointless if one just uses `^bio`, but adding a

[2020-11-18 15:07] GoluffyxD opened #344 "Addition of an EdditBot picture can be useful for website thumbnails."
# Description
The addition of an EddieBot picture can be used as the default picture for EddieBot in website.
Some of the proposed pictures include:
# Picture 1
![2020-11-18 20_02_20-Untitled Diagram - diagrams net](https://user-images.githubusercontent.com/46129076/99547238-51b10900-29dd-11eb-8ace-e35825628c2e.png)
# Picture 2
![2020-11-18 20_05_56-Untitled Diagram - diagrams net](https://user-im

[2020-11-18 15:51] AkshayaKulasekaran commented on #344
Regarding the copyright, I believe it should be fine as long as we get permission in the form of an email and give attribution

[2020-11-18 15:54] nhcarrigan commented on #344
[Discord's Branding guidelines](https://discord.com/branding) do say not to modify the logo.

[2020-11-18 16:01] SKULLXL commented on #344
The official Discord Icons that can be used renaming within the **guidelines** can be found here : [Discord Branding Guidelines](https://discord.com/branding).

[2020-11-18 17:50] GoluffyxD commented on #344
Thank you for your responses. So according to the guidelines, we can use picture 1 without making any modifications to the logo.So the pictures cannot overlap then?

[2020-11-19 15:54] #327 closed

[2020-11-24 03:19] eddiejaoude commented on #255
Stalebot we still want this 🤓

[2020-11-24 03:34] eddiejaoude commented on #344
From their docs it seems the first one and second one are not allowed. But the first one could be fixed by removing the overlap

[2020-11-24 03:36] eddiejaoude commented on #343
yeah good idea to share only what we need from our bios 👍

[2020-11-24 03:43] eddiejaoude commented on #318
it can be aded to the `allow` and if abused we can always remove it again - we will learn by trying things out 🤓

[2020-11-24 03:47] eddiejaoude commented on #330
Great team work 💪

[2020-11-24 03:47] #330 closed

[2020-11-24 03:49] eddiejaoude commented on #334
Oh my bad 😂 - I was trying to multi task badly 🤦‍♂️

@nhcarrigan let me know if you want me to unassigned it from you?

[2020-11-24 04:31] nhcarrigan commented on #344
To clarify, though... regarding the use of the logo without the "Discord" text:

[2020-11-24 06:37] nhcarrigan commented on #334
We can leave this for now - I'll dive in to it when I can. 😁

[2020-11-24 14:13] Vyvy-vi commented on #344
![Screenshot 2020-11-24 at 7 41 10 PM](https://user-images.githubusercontent.com/62864373/100105303-363a7800-2e8d-11eb-885f-262ff88b732a.png)
this logo was termed acceptable by `discord`

[2020-11-24 14:17] Vyvy-vi commented on #337
Another bug was found where "<bad-word>" was not flagged by the bot.
Could we perhaps do string processing, on the text, before sending it to Alex, in order to remove punctuation and ensure a space-separated sentence is sent??

[2020-11-24 14:19] SKULLXL commented on #344
I think the first one is acceptable. @Vyvy-vi where did u discover this logo btw.

[2020-11-24 15:46] Vyvy-vi commented on #344
Python discord used to use that logo last year, I think.

[2020-11-24 16:17] nhcarrigan commented on #344
They *might* have worked with Discord's branding team to get approval for that though.

[2020-11-24 16:19] Vyvy-vi commented on #344
hmm maybe 🤔

[2020-11-25 04:54] GoluffyxD commented on #344
I'll work on making the necessary changes.

[2020-11-25 08:48] SKULLXL opened #345 "Role command covering too much space"
### The problem:
The `^roles` command looks like a brick wall of text in the chat.
This disrupts chat and covers up mobile screens for people using discord mobile.

### Proposed Fix:
A fix would to do string processing on the text and have it format the roles in such a manner that roles without description get placed in a paragraph of `,`-separated values and the ones with description get formatte

[2020-11-25 16:18] SKULLXL opened #346 "fix: role command(wrong desc. for high value role)"
The ^roles command contains a field, that is:
- inaccurate(the written content doesn't reflect what one gets after getting the role)
The problem is with the high-value role description.
![screenshot](https://cdn.discordapp.com/attachments/751047072739885117/781097463372972052/Screenshot_2020-11-25_at_3.25.51_PM.png)

[2020-11-26 12:56] mikeysan commented on #246
Github actions has a good point. Why is this issue still open?

[2020-11-27 16:52] Vyvy-vi commented on #346
It would be slightly better if you rename the issue as `fix: role command(wrong desc. for high value role)`

[2020-11-27 20:16] BOLT04 commented on #246
I think we haven't decided what documentation to produce for this issue @mikeysan. The small change is done quickly, which is to add the feature of the word suggestions, on the Features list of the `README`.

The "how to add a suggestion of words into the repository" requires more thought.

@EddieJaoudeCommunity/coreteam what approach does everyone think is best, closing this issue or making a lis

[2020-11-28 11:08] #303 closed

[2020-11-29 14:27] Vyvy-vi opened #348 "[IDEA]: A poll/learn command"
## CONTEXT:
Livestream discussion from [Sunday Open Source hangout - from Open Source to Freelance AMA](https://www.youtube.com/watch?v=uUhRPELVj8w)

## Idea:
(Perhaps we can use eddiebot for a `poll` regarding what have we been learning?) we dm EddieBot with a command ^learned <stuff>, which gets stored in the firestore, from where it can be fetched by a github bot/discord bot and post it monthly

[2020-11-29 19:03] BOLT04 commented on #348
Hi @Vyvy-vi, we could leave this open and get reminded by the stale bot. If it's closed we might forget, even when we have the API + mongo change done.

What do you think 😃?

[2020-11-29 19:07] Vyvy-vi commented on #348
That makes sense 🤔
Reopening now

[2020-11-30 07:57] GreyhoundProject opened #349 "Flagged word 'pop'"
Suggestion to remove the word 'pop' from EddieBot.

![.jpg](https://user-images.githubusercontent.com/72380604/100582738-998b3680-32e1-11eb-8a0a-f1b404c2822c.jpg)

All the best,
James

[2020-11-30 11:40] GoluffyxD opened #350 "Add the words fellow and fellowship to the ignore list"
Description:
Addition of the words fellow and fellowship to the ignore list can be useful.

[2020-11-30 14:56] Vyvy-vi commented on #348
um nvm a sort of command with similar functionality already exists
![Screenshot 2020-11-30 at 8 26 06 PM](https://user-images.githubusercontent.com/62864373/100625267-4dc0a780-334a-11eb-93e1-068cf7bb0c24.png)

[2020-11-30 14:56] #348 closed

[2020-11-30 15:14] Vyvy-vi opened #351 "[BUG]: broken Help embed for standup"
## The problem:
The `^help status` command call returns an embed that has a slight issue with the codeblock formatting.
It should be `^standup <notes from yesterday> || <notes for today>` instead of `^standup <notes from yesterday> || <notes f ` or `^today>`

![Screenshot 2020-11-30 at 8 31 30 PM](https://user-images.githubusercontent.com/62864373/100627093-97aa8d00-334c-11eb-9db6-1511a8554d23.png

[2020-11-30 15:15] Vyvy-vi commented on #351
(I think I broke this in #331 )

[2020-12-01 11:40] mikeysan commented on #238
github-actions has itchy fingers today, huh.

[2020-12-01 15:31] GoluffyxD opened #354 "Addition of an ignoreWords.ts file"
**Description:**
The creation of a separate class which consists of the list of words to be ignored.

Advantages:
* Makes the process of adding words to the ignore list easier for first-timers.
* It adds a layer of abstraction in making changes to the config.ts file.

![image](https://user-images.githubusercontent.com/46129076/100760400-bcb80200-3417-11eb-8047-4d02100c7b92.png)

[2020-12-01 15:40] Vyvy-vi commented on #354
This is a good idea(might make for new contributors to find the file).
However not sure if separating this from config file is okay or not...

[2020-12-02 10:55] AkshayaKulasekaran opened #357 "Multiple reminders for repetitions of a flagged word"
If a person uses a flagged word multiple times within a single message, EddieBot reacts to each of them individually. Many suggest having EddieBot react to the repeated flagged words just once

A screenshot to the mentioned issue has been attached below: (discord web)

![image](https://user-images.githubusercontent.com/61582763/100863157-238df780-34ba-11eb-851d-e793ff3d5949.png)

[2020-12-02 11:37] eddiejaoude commented on #357
I have not seen that happen before, usually it is the opposite.... if 2 words are mentioned only the first one is caught and highlighted 🤔

[2020-12-02 11:45] SKULLXL commented on #357
I can confirm that ,If a person uses a flagged word multiple times within a single message, Eddie Bot reacts to each of them individually.

[2020-12-02 20:46] dumbcoder7 commented on #349
Why is pop insensitive though?

[2020-12-03 08:26] #350 closed

[2020-12-03 14:55] #321 closed

[2020-12-03 14:56] AkshayaKulasekaran commented on #250
Yup, this was fixed!

[2020-12-03 14:56] #250 closed

[2020-12-03 18:19] AllanRegush commented on #354
I feel that if we had better documentation for the `Alex.js` config this would solve this. I don't think we should maintain many small config files.

What you think?

[2020-12-03 18:21] AllanRegush commented on #349
fixed in #353. closing.

[2020-12-03 18:21] #349 closed

[2020-12-03 18:22] AllanRegush commented on #351
this was fixed in #356. closing.

[2020-12-03 18:22] #351 closed

[2020-12-03 18:35] AllanRegush commented on #346
Change description in `config.ts`
[code]

[2020-12-03 19:29] Vyvy-vi commented on #219
This has been potentially fixed in #347

[2020-12-03 19:49] GoluffyxD opened #358 "Documentation Update of Badges"
Description:
The README.md might need an update for the badges.
The contributors number can be made dynamic I believe.
I'd like to know why the production has the failing status on it as well.
![image](https://user-images.githubusercontent.com/46129076/101080236-88d30d00-35ce-11eb-8523-eb0d5bb131ec.png)

[2020-12-03 19:50] Vyvy-vi commented on #218
The PR introduces the following changes:
![Screenshot 2020-12-04 at 1 18 41 AM](https://user-images.githubusercontent.com/62864373/101080553-ed8e6780-35ce-11eb-8e83-4ab370e4a25f.png)
![Screenshot 2020-12-04 at 1 18 41 AM](https://user-images.githubusercontent.com/62864373/101080561-eff0c180-35ce-11eb-900c-ce2fd0c6a88d.png)

[2020-12-03 19:55] Vyvy-vi commented on #358
There's another open issue about the same on the support repo
I think this is an org.-wide issue.
Here's the issue I opened a few days ago about the same on a different repository:
https://github.com/EddieJaoudeCommunity/support/issues/469

(That `all-contributors` badge might need removing... Though we should consult @eddiejaoude before making any changes to the badges)
It would be great if you c

[2020-12-03 19:57] GoluffyxD commented on #358
Oh alright. Seems to be an issue across all repositories. I'll start the discussion and link the issues.

[2020-12-03 20:06] GoluffyxD commented on #358
@Vyvy-vi Any idea why the production failing badge is present?

[2020-12-04 13:39] AkshayaKulasekaran commented on #323
Ah, sorry, just saw this now!

Thanks @BOLT04, I got it!

[2020-12-04 18:45] Vyvy-vi commented on #354
Yes, keeping one config would keep things cleaner.
Perhaps we should improve the documentation on how to add a new word to the ignore-list and about the `Alex.js` config

[2020-12-04 18:47] AllanRegush commented on #354
I think there is an issue for this #320

[2020-12-04 21:11] BOLT04 commented on #318
Closing this since it already got merged. Thank you @SKULLXL 😃

[2020-12-04 21:11] #318 closed

[2020-12-05 01:53] #246 closed

[2020-12-05 05:24] ChinmayMhatre commented on #346
Is this issue still open . I think the changes have been made right?

[2020-12-05 05:29] SKULLXL commented on #346
I just checked, the changes haven't been made yet. A pull request is needed.

[2020-12-05 05:31] SKULLXL commented on #346
Oh I didn't notice your command until now, sorry. I renamed the issue now.

[2020-12-05 05:32] ChinmayMhatre commented on #346
just to confirm this is the section in the config.ts to be updated right?
![image](https://user-images.githubusercontent.com/51131670/101234886-46eab980-36e9-11eb-9ced-079022c67381.png)

[2020-12-05 05:35] SKULLXL commented on #346
As @AllanRegush pointed out yes this part.

[2020-12-05 05:41] ChinmayMhatre commented on #346
I am new to the server , could you give me a brief of the role , so I could frame the description ?

[2020-12-05 05:45] SKULLXL commented on #346
You get assigned the High Value role if you have a message with +5 reactions, This is best description I could get, and it was provided to me by EddieBot .

[2020-12-05 05:48] ChinmayMhatre commented on #346
Yeah I think that works , It also fits in with the format of the other descriptions . Should I create a pr for that ?

[2020-12-05 05:52] SKULLXL commented on #346
Yap sure. First fork the repo, then create a new branch on your fork, then commit your changes to the new branch u created rather then committing directly to the main branch which is develop prolly. (according to @eddiejaoude you should commit it to a new branch) then after u r done with the commit make a PR.

[2020-12-05 05:53] SKULLXL commented on #346
I am also new to this 😁 , sorry if you cant understand me or if I explained wrong 🤓 .

[2020-12-05 05:55] ChinmayMhatre commented on #346
I'll give a shot . Thanks for the help :)

[2020-12-05 07:34] Vyvy-vi opened #360 "BUG: Stats command total messages broken"
### The problem:
The `stats` command has a field for Total Messages and since `06/05/2020` this field has reported total messages as `0`
This might be a consequence of EddieBot not having read perms in all channels of the discord server.

### Expected behaviour:
![expected](https://media.discordapp.net/attachments/717673572251861033/784675318283501588/Screenshot_2020-12-05_at_12.29.05_PM.png)

###

[2020-12-05 07:42] Vyvy-vi opened #361 "Feat: standup remove functionality"
### FEATURE REQUEST:

The `standup` command is a really useful command however, it would be really great if the standup command also has a remove feature(mostly as many times we screw up writing the standup-text)

Something that functions like this:
![Screenshot 2020-12-05 at 1 08 17 PM](https://user-images.githubusercontent.com/62864373/101236941-f714ee00-36fa-11eb-9f51-8e018f8ee8dd.png)

### Imp

[2020-12-05 10:27] eddiejaoude commented on #361
Thank you for raising the issue 👍

[2020-12-05 10:35] eddiejaoude commented on #360
Thank you for raising this issue and for all the information you included in it 👍

[2020-12-05 10:40] eddiejaoude commented on #346
Amazing team effort! Thank you all, what an amazing community ❤️ !

Fix in this PR https://github.com/EddieJaoudeCommunity/EddieBot/pull/359

[2020-12-05 10:40] #346 closed

[2020-12-05 10:50] eddiejaoude commented on #262
I am planning a live stream tomorrow to fix the config for AlexJS and we can talk about this too 👍

[2020-12-05 10:52] eddiejaoude commented on #246
I think making new issues with specific actions to do would be more useful to people wanting to contributor - I know most ideas/issues start off bigger, but I like the idea of then creating smaller task issues and closing the bigger one (plus more green squares 🟩

[2020-12-05 10:54] eddiejaoude commented on #318
Thank you all 👍

[2020-12-05 10:59] Vyvy-vi commented on #262
We could perhaps add a config-command(after setting it as server admin only), which enables toggling commands and features? (and more customisations, such as setting the self-assignable roles)

Something like that would extend EddieBot to be useful for other servers as well since currently it is primarily oriented with our community server.

[2020-12-05 11:14] Vyvy-vi commented on #316
#362 introduced a bug template.
Should more templates be added to this repo or to the `template` repo?

[2020-12-05 11:19] Vyvy-vi commented on #206
perhaps we could grab data from Eddie's youtube channel rss feed and from the posts in #livestream and store them in the db(firestore/mongo/...), along with upload time. This way we could perhaps get stream data

[2020-12-05 11:35] dumbcoder7 opened #363 "Testing the newly added template"
**Description**

This is only a test of the recently pulled PR #362  .

**Screenshots**

[Optional] **Additional Context**

More such templates need to be created.

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2020-12-05 11:36] dumbcoder7 commented on #363
Label was added successfully. But I will remove the `[Optional]` tag in the body.

[2020-12-05 11:36] #363 closed

[2020-12-05 18:02] AllanRegush opened #365 "The Alex config appears to not work on certain words"
**Description**

Some words in the Alex ignore config do not appear to be ignored. The Rules might not be set exactly how the config expects.

Following the documentation list of rules:

https://github.com/retextjs/retext-profanities/blob/main/rules.md
https://github.com/retextjs/retext-equality/blob/main/rules.md

I suggest we adjust the config.

Join Eddie's discord community [here](https://disc

[2020-12-05 21:20] eddiejaoude commented on #334
Sure 👍

[2020-12-05 21:23] eddiejaoude commented on #337
ah yes that is a great idea 👍

[2020-12-05 21:25] eddiejaoude commented on #344
Yeah we are not sure of the story behind it. Best to keep it simple for now and not break any of their rules. Later on when we grow bigger, we can probably work with their team to do another version that is even more custom 🤓

[2020-12-05 21:27] eddiejaoude commented on #345
Good idea 👍 - I think the self-assign roles can definitely be comma separate as they will have a single description

[2020-12-05 21:44] eddiejaoude commented on #113
Actually I think you are right, this is done, what do you think @stemount ?

<img width="801" alt="Screenshot 2020-12-05 at 21 43 54" src="https://user-images.githubusercontent.com/624760/101265978-0e77c980-3743-11eb-9a8a-c0f8e7646931.png">

[2020-12-05 21:45] eddiejaoude commented on #112
Wow stalebot you really want to close this issue 😂

[2020-12-05 21:46] eddiejaoude commented on #101
I think when I remove the label, stalebot behaves.

[2020-12-05 21:49] eddiejaoude commented on #348
It is a bit similar 🤔

[2020-12-05 21:55] eddiejaoude commented on #238
Stalebot is going for it 😂

[2020-12-05 21:56] eddiejaoude commented on #114
I think when we remove firebase from the bot it will be much easier to test

[2020-12-05 21:57] eddiejaoude commented on #67
Ok stalebot you win this time

[2020-12-05 21:58] eddiejaoude commented on #32
I still really like this, stalebot I will fight you! 💪

[2020-12-05 22:00] eddiejaoude commented on #357
ok thanks for confirming 👍

[2020-12-05 23:49] BOLT04 commented on #206
@Vyvy-vi the RSS YouTube feed is a cool idea 👍, I'm just not sure how we would know the next expected live stream.

What might work is Eddie posting those videos that you can set a reminder on YouTube, and if that gets picked up from the RSS feed, then we have a piece of software that runs and stores that info on the DB, using the Web API we are developing 😃. Then that `^time` or `^stream` command

[2020-12-05 23:58] nhcarrigan commented on #67
I'll fight stalebot for you! 😈

[2020-12-06 09:17] eddiejaoude commented on #351
Thank you both 👍

[2020-12-06 09:26] eddiejaoude commented on #219
Can it be tested to make sure? I can test it when I get to the PR - I am still working my way through notifications.

[2020-12-06 09:27] eddiejaoude commented on #218
oh nice 👍

[2020-12-06 09:37] eddiejaoude commented on #358
Thanks for raising 👍 and thank you for referencing other issues 👍

I think production is failing because the Azure account that deploys is no longer available. I am switching to Digital Ocean.

We can ignore or remove `production` for now